Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Document deterministic execution
  docs/deep_dive/determinism.rst
  docs/index.rst
Due: none

Clarify deterministic counter slots
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject counter graph capture
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refocus determinism quick start
  docs/deep_dive/determinism.rst
Due: none

Clarify boolean deterministic aliases
  docs/deep_dive/determinism.rst
Due: none

Fix deterministic counter ASV
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Fix deterministic benchmark capture
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify determinism docs
  docs/deep_dive/determinism.rst
Due: none

Stabilize deterministic ASV params
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Clarify deterministic bool aliases
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add manual determinism docs
  docs/deep_dive/determinism.rst
Due: none

Clarify deterministic reduction cost
  docs/deep_dive/determinism.rst
Due: none

Expand determinism performance docs
  docs/deep_dive/determinism.rst
Due: none

Clarify determinism benchmark timing
  docs/deep_dive/determinism.rst
Due: none

Optimize deterministic counter writeback
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/warp.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Emit block tile strides symbolically
  warp/_src/types.py
  warp/tests/test_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support deterministic counters in graphs
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support indexed deterministic counters
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/native/warp.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix custom adjoint nondeterministic mode
  warp/_src/codegen.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address deterministic review comments
  CHANGELOG.md
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/native/deterministic.cu
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove unused deterministic counter export
  warp/_src/context.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/warp.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify custom adjoint determinism
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
Due: none

Fix deterministic counter review nits
  asv/benchmarks/atomics.py
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic ASV counter baseline
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Fix deterministic replay args
  warp/_src/codegen.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add deterministic backward atomics
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clean deterministic launch params
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard deterministic launch hooks
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix bugs
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/native/warp.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix for clang cuda
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

remove per kernel deterministic options
  CHANGELOG.md
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/config.py
  warp/tests/test_deterministic.py
  warp/tests/test_unique_module.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix det counter side effects
  warp/_src/codegen.py
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

minor
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

minor
  warp/_src/context.py
  warp/tests/test_unique_module.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

cleanup
  asv/benchmarks/atomics.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

refactor
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

add warning
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

move benchmark
  asv/benchmarks/atomics.py
  asv/benchmarks/deterministic.py
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix benchmark file
  asv/benchmarks/deterministic.py
Due: linux-x86_64 asv

return bool option for deterministic
  asv/benchmarks/deterministic.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
