Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Deploy docs: latest
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.array.html
  latest/api_reference/_generated/warp.array1d.html
  latest/api_reference/_generated/warp.array2d.html
  latest/api_reference/_generated/warp.array3d.html
  latest/api_reference/_generated/warp.array4d.html
  latest/api_reference/_generated/warp.fem.Temporary.html
  latest/api_reference/_generated/warp.fixedarray.html
  latest/api_reference/_generated/warp.from_ipc_handle.html
  latest/api_reference/_generated/warp.from_ptr.html
  latest/api_reference/_generated/warp.indexedarray.html
  latest/api_reference/_generated/warp.indexedarray1d.html
  latest/api_reference/_generated/warp.indexedarray2d.html
  latest/api_reference/_generated/warp.indexedarray3d.html
  latest/api_reference/_generated/warp.indexedarray4d.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
Due: none

Update CUDA 13 libmathdx to 0.4.1
  build_lib.py
  deps/libmathdx-deps.packman.xml
  tools/cmake/WarpDependencies.cmake
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve volume and texture built-in docstrings (GH-1498)
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/texture.py
  warp/native/texture.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document tile shared memory accounting [GH-1699]
  changelog/1699.documentation.md
  docs/user_guide/differentiability.rst
  docs/user_guide/programming_model/tiles.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/differentiability.rst.txt
  latest/_sources/user_guide/programming_model/tiles.rst.txt
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/differentiability.html
  latest/user_guide/programming_model/tiles.html
Due: none

Stabilize callable hashes (GH-1696)
  changelog/1696.fixed.md
  warp/_src/utils.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump Warp dev version to 1.17.0.dev1 (GH-1696)
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize callable hashes [GH-1696]
  VERSION.md
  changelog/1696.fixed.md
  warp/_src/utils.py
  warp/config.py
  warp/native/version.h
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix shared memory accounting messages [GH-1701]
  changelog/1701.fixed.md
  warp/_src/build.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add APIC and CPU graphs design doc (GH-1639)
  design/api-capture-and-cpu-graphs.md
Due: none

Fix strip_hash reset in load_aot_module [GH-1730]
  changelog/1730.fixed.md
  warp/_src/context.py
  warp/tests/aot/aux_test_strip_hash_option.py
  warp/tests/aot/test_module_aot.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document launch access checks (GH-1693)
  changelog/1693.documentation.md
  docs/user_guide/debugging.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  warp/_src/context.py
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(hip): add ROCm/HIP platform fixes for hipGraph capture
  docs/conf.py
  warp/_src/context.py
  warp/_src/tape.py
  warp/_src/types.py
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix radix sort in CUDA graph capture (GH-1373)
  changelog/1373.fixed.md
  warp/_src/context.py
  warp/_src/types.py
  warp/native/cuda_util.h
  warp/native/hashgrid.cpp
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/interop/test_torch.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.load_aot_module.html
Due: none

Guard LLVM SDK release tags
  .github/workflows/build-llvm-sdk.yml
  .gitlab-ci.yml
  design/llvm-sdk-conan-build.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate tile_view() extent against the parent tile
  changelog/1745.fixed.md
  warp/_src/builtins.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document launch access checks [GH-1693]
  changelog/1693.documentation.md
  docs/user_guide/debugging.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  warp/_src/context.py
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/debugging.rst.txt
  latest/_sources/user_guide/execution_and_performance/memory_management.rst.txt
  latest/api_reference/_generated/warp.Launch.html
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.compile_aot_module.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.cuda_profiler_start.html
  latest/api_reference/_generated/warp.cuda_profiler_stop.html
  latest/api_reference/_generated/warp.event_from_ipc_handle.html
  latest/api_reference/_generated/warp.force_load.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.get_module_options.html
  latest/api_reference/_generated/warp.get_suggested_block_size.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.launch_function.html
  latest/api_reference/_generated/warp.launch_tiled.html
  latest/api_reference/_generated/warp.load_aot_module.html
  latest/api_reference/_generated/warp.load_module.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.set_module_options.html
  latest/api_reference/_generated/warp.synchronize.html
  latest/api_reference/_generated/warp.synchronize_device.html
  latest/api_reference/_generated/warp.synchronize_event.html
  latest/api_reference/_generated/warp.synchronize_stream.html
  latest/index.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/debugging.html
  latest/user_guide/execution_and_performance/memory_management.html
Due: none

Fetch prebuilt LLVM from GitHub Releases
  .github/workflows/build-warp-builder-images.yml
  .gitlab-ci.yml
  build_llvm.py
  changelog/+llvm-sdk-github-releases.changed.md
  deps/llvm-deps.packman.xml
  design/llvm-sdk-conan-build.md
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  tools/cmake/WarpDependencies.cmake
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump Warp dev version to 1.17.0.dev2
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize Module Codegen (GH-1738)
  VERSION.md
  changelog/1738.fixed.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/tests/test_module_hashing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Isolate deliberately failing kernels in tests
  warp/tests/matrix/test_mat_constructors.py
  warp/tests/test_codegen.py
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_constant_precision.py
  warp/tests/test_generics.py
  warp/tests/test_static.py
  warp/tests/test_struct.py
  warp/tests/test_unpack.py
  warp/tests/test_vec.py
  warp/tests/tile/test_tile_stack.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fetch prebuilt LLVM from GitHub Releases
  .github/workflows/build-warp-builder-images.yml
  .gitlab-ci.yml
  VERSION.md
  build_llvm.py
  changelog/+llvm-sdk-github-releases.changed.md
  deps/llvm-deps.packman.xml
  design/llvm-sdk-conan-build.md
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  tools/cmake/WarpDependencies.cmake
  warp/_src/build_dll.py
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Packman license record
  licenses/packman-LICENSE.txt
Due: none

Fix kernel enable_backward for tile LTOs (GH-1717)
  changelog/1717.fixed.md
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/tests/cuda/test_cluster_dim.py
  warp/tests/tile/test_tile_cholesky.py
  warp/tests/tile/test_tile_mathdx_lto.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enable Windows ARM64 CPU builds
  .github/workflows/ci.yml
  build_lib.py
  build_llvm.py
  changelog/1755.added.md
  pyproject.toml
  setup.py
  uv.lock
  warp/_src/build_architecture.py
  warp/_src/build_dll.py
  warp/_src/context.py
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Enable Windows ARM64 CPU builds [GH-1755]
  .github/workflows/ci.yml
  build_lib.py
  build_llvm.py
  changelog/1755.added.md
  pyproject.toml
  setup.py
  uv.lock
  warp/_src/build_architecture.py
  warp/_src/build_dll.py
  warp/_src/context.py
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Suppress parallel test descriptions
  warp/_src/thirdparty/unittest_parallel.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile negative offset bounds (GH-1744)
  changelog/1744.fixed.md
  warp/native/tile.h
  warp/tests/tile/test_tile_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize tile MLP test
  warp/tests/tile/test_tile_mlp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Hide macOS Warp Clang symbols (GH-1758)
  build_llvm.py
  changelog/1758.fixed.md
  warp/_src/build_dll.py
  warp/native/warp-clang.macos.exports
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Check symbols across native platforms
  .github/workflows/ci.yml
Due: none

Hide macOS Warp Clang symbols and check all platforms [GH-1758]
  .github/workflows/ci.yml
  build_llvm.py
  changelog/1758.fixed.md
  warp/_src/build_dll.py
  warp/native/warp-clang.macos.exports
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
