Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Fix incorrect stride initialization in tiles returned from functions taking transposed tiles as input (GH-722)
  CHANGELOG.md
  docs/basics.rst
  warp/builtins.py
  warp/native/tile.h
  warp/tests/tile/test_tile_mathdx.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Document the fact that `+=` and `-=` invoke atomic operations (GH-505)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix fo access violation when struct nested array gradients are released (GH-720)
  CHANGELOG.md
  docs/limitations.rst
  warp/codegen.py
  warp/tests/test_struct.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Make bsr-from-triplets and bsr-transpose compute values python-side
  CHANGELOG.md
  warp/context.py
  warp/native/sparse.cpp
  warp/native/sparse.cu
  warp/native/warp.h
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reduce Python overhead of repeatedly construction warp.fem spaces and fields
  warp/fem/cache.py
  warp/fem/domain.py
  warp/fem/field/field.py
  warp/fem/field/nodal_field.py
  warp/fem/field/virtual.py
  warp/fem/geometry/adaptive_nanogrid.py
  warp/fem/geometry/deformed_geometry.py
  warp/fem/geometry/geometry.py
  warp/fem/geometry/grid_2d.py
  warp/fem/geometry/grid_3d.py
  warp/fem/geometry/hexmesh.py
  warp/fem/geometry/nanogrid.py
  warp/fem/geometry/partition.py
  warp/fem/geometry/quadmesh.py
  warp/fem/geometry/tetmesh.py
  warp/fem/geometry/trimesh.py
  warp/fem/integrate.py
  warp/fem/quadrature/pic_quadrature.py
  warp/fem/quadrature/quadrature.py
  warp/fem/space/__init__.py
  warp/fem/space/basis_function_space.py
  warp/fem/space/basis_space.py
  warp/fem/space/grid_2d_function_space.py
  warp/fem/space/hexmesh_function_space.py
  warp/fem/space/nanogrid_function_space.py
  warp/fem/space/partition.py
  warp/fem/space/quadmesh_function_space.py
  warp/fem/space/restriction.py
  warp/fem/space/shape/__init__.py
  warp/fem/space/tetmesh_function_space.py
  warp/fem/space/topology.py
  warp/fem/space/trimesh_function_space.py
  warp/fem/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix strides and shapes when converting from __cuda_array_interface__ with vector/matrix types
  CHANGELOG.md
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix performance regression for kernel launches
  CHANGELOG.md
  warp/codegen.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Set version to 1.7.2
  CHANGELOG.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.7.2
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp/config/extension.toml
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelog for 1.7.2
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Fix some typos
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update publications list (May 31)
  PUBLICATIONS.md
Due: none

Remove MacOS jobs from child pipelines
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Remove rc.1 tag from version string
  VERSION.md
Due: none

Update CUDA 11 download links
  README.md
  docs/installation.rst
Due: none

Include CI_COMMIT_REF_SLUG in Kit extension archives
  .gitlab/ci/kit-extensions.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Remove a changelog entry
  CHANGELOG.md
Due: none

Unexport the `assign_copy()` built-ins
  CHANGELOG.md
  warp/builtins.py
  warp/native/exports.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

update libmathdx, extend tile_cholesky_solve to 2D rhs, and use trsm from libmathdx for tile_lower_solve and tile_upper_solve
  build_lib.py
  deps/libmathdx-deps.packman.xml
  docs/modules/functions.rst
  warp/build.py
  warp/builtins.py
  warp/context.py
  warp/native/mathdx.cpp
  warp/native/tile.h
  warp/native/warp.cu
  warp/native/warp.h
  warp/stubs.py
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

formatting
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix libmathdx download name on windows
  deps/libmathdx-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix win libmathdx path
  warp/build_dll.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

propagate correct layout information, fixes #768
  warp/builtins.py
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

reduce cuda api overhead for launch
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

add test skip decorators
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

change restricted cuda toolkit version from 12600 to 12060
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add Kernel inputs/outputs discussion to the docs
  CHANGELOG.md
  docs/modules/runtime.rst
Due: none

add skip to test_tile_math_matmul
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix shared tile memory managment and select/where ops
  warp/builtins.py
  warp/native/builtin.h
  warp/native/tile.h
  warp/tests/tile/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

update libmathdx, extend tile_cholesky_solve to 2D rhs, and use trsm from libmathdx for tile_lower_solve and tile_upper_solve
  build_lib.py
  deps/libmathdx-deps.packman.xml
  docs/modules/functions.rst
  warp/build.py
  warp/build_dll.py
  warp/builtins.py
  warp/context.py
  warp/native/mathdx.cpp
  warp/native/tile.h
  warp/native/warp.cu
  warp/native/warp.h
  warp/stubs.py
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Disabled Blackwell runner
  .gitlab-ci.yml
Due: linux-x86_64 asv

Add support for cudaGraphDebugDotPrint (GH-746)
  docs/modules/runtime.rst
  warp/__init__.py
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/stubs.py
  warp/tests/cuda/test_conditional_captures.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add some changelog entries
  CHANGELOG.md
Due: none
