Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Increase coverage for omni.warp.core
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/omni/warp/core/tests/test_ext.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Try using ubuntu:22.04 to build debug linux
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix "too many arguments" build error
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Replace wp.matmul() with naive kernel
  warp/optim/linear.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add omni.kit.pip_archive dependency for NumPy
  exts/omni.warp.core/config/extension.toml
Due: none

Deprecate wp.matmul(), wp.batched_matmul(), wp.mlp() (v2)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
  warp/tests/test_matmul.py
  warp/tests/test_matmul_lite.py
  warp/tests/test_mlp.py
  warp/tests/test_overwrite.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

libmathdx 0.1.2 integration
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
  build_lib.py
  warp/build.py
  warp/builtins.py
  warp/context.py
  warp/native/mathdx.cpp
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove RC from version
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update nightly wheel paths
  .gitlab-ci.yml
Due: linux-x86_64 asv

Refactor test_vbd
  warp/tests/test_vbd.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Expose two functions to query mempool usage
  CHANGELOG.md
  docs/modules/allocators.rst
  warp/__init__.py
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/stubs.py
  warp/tests/test_mempool.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Disable VBD graph test
  warp/tests/test_vbd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update tile benchmarks
  .gitlab-ci.yml
  benchmarks/asv.conf.json
  benchmarks/benchmarks/codegen/component_assignment.py
  benchmarks/benchmarks/codegen/component_augassign.py
  benchmarks/benchmarks/tile/__init__.py
  benchmarks/benchmarks/tile/load_store.py
  benchmarks/benchmarks/tile/mlp_gemm.py
  warp/examples/benchmarks/benchmark_gemm.py
  warp/examples/benchmarks/benchmark_tile_load_store.py
  warp/examples/tile/example_tile_matmul.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix for performance regression on wp.tile_matmul()
  warp/examples/benchmarks/benchmark_gemm.py
  warp/examples/benchmarks/benchmark_tile.py
  warp/native/builtin.h
  warp/native/tile.h
  warp/native/tile_gemm.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelog and readme
  CHANGELOG.md
  README.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Update docs for 1.6.0
  CHANGELOG.md
  README.md
  benchmarks/tag_commits.txt
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: linux-x86_64 asv

Change units of tile load/store benchmark to secs
  benchmarks/benchmarks/tile/load_store.py
Due: linux-x86_64 asv

Install libmathdx using Packman
  build_lib.py
  deps/libmathdx-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

warp.fem: Parallel evaluation of quadrature points
  CHANGELOG.md
  warp/examples/fem/utils.py
  warp/fem/__init__.py
  warp/fem/field/nodal_field.py
  warp/fem/field/virtual.py
  warp/fem/geometry/deformed_geometry.py
  warp/fem/geometry/geometry.py
  warp/fem/integrate.py
  warp/fem/quadrature/pic_quadrature.py
  warp/fem/quadrature/quadrature.py
  warp/fem/space/__init__.py
  warp/fem/space/basis_function_space.py
  warp/fem/space/basis_space.py
  warp/fem/space/partition.py
  warp/fem/space/shape/cube_shape_function.py
  warp/fem/utils.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

GH-439 added 2d SVD function
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/svd.h
  warp/stubs.py
  warp/tests/test_mat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Increase accuracy of svd_2D fp64 test
  warp/tests/test_mat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Ignore error when switching to a destroyed context
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use new Tile Cholesky API
  warp/sim/integrator_featherstone.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Avoid shadowing python builtin in tile matmul example
  docs/modules/tiles.rst
Due: none

Remove model from Control, deprecate reset()
  CHANGELOG.md
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix constant colors written out to USD meshes
  CHANGELOG.md
  warp/examples/core/example_marching_cubes.py
  warp/examples/core/example_mesh.py
  warp/examples/core/example_wave.py
  warp/render/render_usd.py
  warp/sim/render.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Allow sonarcube jobs to fail
  .gitlab-ci.yml
Due: linux-x86_64 asv

ASV N-body benchmark
  benchmarks/benchmarks/tile/tile_nbody.py
Due: linux-x86_64 asv

Fix broken images on GH Sphinx site
  .github/workflows/sphinx.yml
Due: none

Adjust several ASV benchmark parameters to reduce time
  .gitignore
  .gitlab-ci.yml
  asv/asv.conf.json
  asv/benchmarks/__init__.py
  asv/benchmarks/api/__init__.py
  asv/benchmarks/api/array.py
  asv/benchmarks/api/launch.py
  asv/benchmarks/codegen/__init__.py
  asv/benchmarks/codegen/mat22_augassign.py
  asv/benchmarks/codegen/mat44_assignment.py
  asv/benchmarks/examples/__init__.py
  asv/benchmarks/examples/cloth.py
  asv/benchmarks/examples/mesh_intersect.py
  asv/benchmarks/memory_access.py
  asv/benchmarks/mesh_query.py
  asv/benchmarks/tile/__init__.py
  asv/benchmarks/tile/gemm.py
  asv/benchmarks/tile/load_store.py
  asv/benchmarks/tile/tile_nbody.py
  asv/compare_to_main.sh
  asv/tag_commits.txt
  benchmarks/benchmarks/array_api.py
  benchmarks/benchmarks/codegen/module_load.py
  benchmarks/benchmarks/tile/mlp_gemm.py
Due: linux-x86_64 asv

Example of using JAX FFI with CUDA graphs to launch a Warp kernel
  jax-ffi-cuda-graph-integration-example.py
  test_ffi_to_python.py
Due: none

JAX FFI integration and improvements
  CHANGELOG.md
  jax-ffi-cuda-graph-integration-example.py
  warp/examples/interop/example_jax_callable.py
  warp/examples/interop/example_jax_ffi_callback.py
  warp/examples/interop/example_jax_kernel.py
  warp/jax.py
  warp/jax_experimental/__init__.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/jax_experimental/xla_ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove get_type_origin, get_type_args
  warp/codegen.py
  warp/context.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
