Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

ci: enable auto_sync_draft for copy-pr-bot
  .github/copy-pr-bot.yaml
Due: none

Test Linux GPU on CUDA 12
  .github/workflows/ci.yml
Due: none

Add CUDA build matrix
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/ci.yml
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
Due: none

Add CUDA 13 compiler packages
  .github/workflows/ci.yml
Due: none

Add CUDA 13 CRT Windows package
  .github/workflows/ci.yml
Due: none

Use CUDA 13 Torch in Windows CI
  .github/workflows/ci.yml
Due: none

Clarify builder image date tag
  docker/warp-builder/README.md
Due: none

Test Windows GPU with CUDA 13
  .github/workflows/ci.yml
Due: none

Fix CUDA 12 example graph coverage
  warp/examples/fem/example_kelvin_helmholtz.py
  warp/examples/fem/example_shallow_water.py
  warp/examples/fem/example_taylor_green.py
  warp/examples/tile/example_tile_mlp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Gate graph module-load tests
  warp/tests/test_apic.py
  warp/tests/test_apic_mesh.py
  warp/tests/test_graph.py
  warp/tests/test_reload.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Gate CUDA capture kernel tests
  warp/tests/test_apic.py
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address deterministic review cleanup
  CHANGELOG.md
  asv/benchmarks/atomics.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address deterministic capture edge cases
  design/deterministic-execution.md
  warp/_src/context.py
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid graph replay overflow sync
  design/deterministic-execution.md
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clean up deterministic review nits
  CHANGELOG.md
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid import-time benchmark options
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Fix helper counter phase suppression
  warp/_src/codegen.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard deterministic helper stores
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify deterministic graph limits
  design/deterministic-execution.md
  warp/native/deterministic.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Regenerate config docs
  docs/api_reference/warp_config.rst
Due: none

Address deterministic review feedback
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
  warp/tests/test_unique_module.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard deterministic capture limits
  design/deterministic-execution.md
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update deterministic limitations doc
  design/deterministic-execution.md
Due: none

Fix deterministic graph workspaces
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/warp.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid sorting unused scatter records
  design/deterministic-execution.md
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic enum test Sonar hotspot
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix block-dependent tile codegen reuse
  warp/_src/builtins.py
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify deterministic scatter capture limit
  design/deterministic-execution.md
Due: none

Reduce launch benchmark overhead
  asv/benchmarks/atomics.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Tighten deterministic atomic validation
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document deterministic execution
  docs/deep_dive/determinism.rst
  docs/index.rst
Due: none

Avoid launch-time option resolution
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore direct CUDA launch path
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify deterministic counter slots
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject counter graph capture
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refocus determinism quick start
  docs/deep_dive/determinism.rst
Due: none

Clarify boolean deterministic aliases
  docs/deep_dive/determinism.rst
Due: none

Fix deterministic benchmark capture
  design/deterministic-execution.md
  docs/deep_dive/determinism.rst
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic counter ASV
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Stabilize deterministic ASV params
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
