Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

BVH query shared memory fixes
  warp/native/bvh.h
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add bvh query max_dist filtering
  warp/__init__.pyi
  warp/builtins.py
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add grouped bvh implementation
  warp/__init__.pyi
  warp/builtins.py
  warp/context.py
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.h
  warp/tests/geometry/test_bvh_group_roots.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix missing arg
  warp/native/bvh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix default value
  warp/builtins.py
  warp/native/bvh.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document Python IntFlag limitations (GH-917)
  CHANGELOG.md
  docs/limitations.rst
Due: none

Use uv to publish wheels
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add new publications for September 2025 to PUBLICATIONS.md
  PUBLICATIONS.md
Due: none

Clean up changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: trigger kit extensions pipeline

Remove rc label
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Update function documentation
  docs/modules/functions.rst
  warp/__init__.pyi
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address comments, small fixes
  warp/context.py
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address coderabbitai suggestions
  warp/__init__.pyi
  warp/builtins.py
  warp/context.py
  warp/native/bvh.h
  warp/native/sort.cpp
  warp/native/warp.h
  warp/utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deprecate the usage of the Discord server
  README.md
  docs/conf.py
  docs/faq.rst
  docs/index.rst
  docs/modules/contribution_guide.rst
Due: none

Allocation-free path for masked sparse matrix operations (GH-987)
  CHANGELOG.md
  docs/modules/sparse.rst
  warp/native/sparse.cu
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Builtin differentiability audit (GH-970)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix copying and filling arrays with large strides (GH-929, GH-985)
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/common.yml
  .gitlab/ci/debug-build-and-test.yml
  CHANGELOG.md
  docs/installation.rst
  pyproject.toml
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/test_copy.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix graph deletion during capture (GH-992)
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/cuda/test_streams.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use uv for debug Python wheel creation
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp

Running repo jobs to IPP Gitlab Runner Manager
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-13-build.yml
  .gitlab/ci/debug-build-and-test.yml
  .gitlab/ci/kit-extensions.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address GH-991 test_fem compile times
  warp/tests/test_fem.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add missing missing_grad flags
  docs/modules/functions.rst
  warp/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

BVH documentation fixes (GH-871)
  docs/modules/functions.rst
  docs/modules/runtime.rst
  warp/__init__.pyi
  warp/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove warp.sim-related nodes and scenes
  exts/omni.warp/data/scenes/.thumbs/256x256/cloth_simulation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_drop.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_throw.usda.png
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_cloth_simulation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_drop.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_throw.py
Due: trigger kit extensions pipeline

Allow limiting the graph cache size of JAX callables (GH-989)
  CHANGELOG.md
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip certain architectures for aarch64+CUDA 12.9 build
  docs/installation.rst
  warp/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update internal publishing jobs
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document array construction from __cuda_array_interface__ (GH-891)
  docs/modules/runtime.rst
Due: none

Fix issues with internal publishing
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Double timeouts for Windows test jobs
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Switch to IPP Micro runner
  .gitlab/ci/kit-extensions.yml
Due: linux-x86_64 test mujoco warp

Update extension changelog entries
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: trigger kit extensions pipeline
