Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Expose source execution API (GH-1640)
  CHANGELOG.md
  design/kernel-source-string.md
  docs/api_reference/warp.rst
  docs/user_guide/programming_model/code_generation.rst
  warp/__init__.py
  warp/_src/context.py
  warp/tests/test_exec_source.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document source-string execution (GH-1640)
  docs/user_guide/programming_model/code_generation.rst
  warp/__init__.pyi
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address source execution review feedback (GH-1640)
  CHANGELOG.md
  design/kernel-source-string.md
  warp/_src/context.py
  warp/tests/test_exec_source.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Speed up matmul strides test compilation
  warp/tests/tile/test_tile_matmul_strides.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Prepare changelog for Warp 1.16.0
  CHANGELOG.md
Due: none

Make CONTRIBUTING the canonical contribution guide
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
  docs/conf.py
  docs/project/contribution_guide.md
  docs/project/contribution_guide.rst
Due: none

Fix parallel CPU module loading (GH-1705)
  CHANGELOG.md
  warp/native/clang/clang.cpp
  warp/tests/test_module_parallel_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reword parallel CPU load changelog entry
  CHANGELOG.md
Due: none

Deploy docs: latest
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Reduce tile solve cold compilation
  warp/tests/tile/test_tile_solve_no_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip unused backward LTOs in block Cholesky test
  warp/tests/tile/test_tile_cholesky.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify CUDA profiler capture scope
  docs/user_guide/execution_and_performance/profiling.rst
Due: none

Set version to 1.16.0
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce Cholesky smoke compilation time
  warp/tests/tile/test_tile_cholesky_no_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/execution_and_performance/profiling.rst.txt
  latest/searchindex.js
  latest/user_guide/execution_and_performance/profiling.html
Due: none

Reduce tile struct test compilation
  warp/tests/tile/test_tile_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reconcile deprecation tracker at 1.17.0.dev0
  design/deprecations.md
Due: none

Sync changelog for Warp 1.16
  CHANGELOG.md
Due: none

Adopt Towncrier changelog fragments
  CHANGELOG.md
  changelog.d/+preallocate-iterative-solver-states.fixed.md
  changelog.d/1700.fixed.md
  changelog.d/1705.fixed.md
  changelog.d/1707.fixed.md
  changelog.d/1708.added.md
  changelog.d/README.md
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Clarify internal maintenance guidance
  changelog.d/README.md
Due: none

Document Towncrier changelog design
  design/towncrier-changelog-fragments.md
Due: none

Validate changelog fragments in CI
  .github/workflows/changelog.yml
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document changelog fragment workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .gitlab/merge_request_templates/Default.md
  AGENTS.md
  CONTRIBUTING.md
  changelog.d/README.md
  design/towncrier-changelog-fragments.md
Due: none

Rename fragment directory to changelog
  .github/workflows/changelog.yml
  .gitlab-ci.yml
  AGENTS.md
  CONTRIBUTING.md
  changelog/+preallocate-iterative-solver-states.fixed.md
  changelog/1700.fixed.md
  changelog/1705.fixed.md
  changelog/1707.fixed.md
  changelog/1708.added.md
  changelog/README.md
  design/towncrier-changelog-fragments.md
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Adopt Towncrier changelog fragment workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/changelog.yml
  .gitlab-ci.yml
  .gitlab/merge_request_templates/Default.md
  AGENTS.md
  CHANGELOG.md
  CONTRIBUTING.md
  changelog/+preallocate-iterative-solver-states.fixed.md
  changelog/1700.fixed.md
  changelog/1705.fixed.md
  changelog/1707.fixed.md
  changelog/1708.added.md
  changelog/README.md
  design/towncrier-changelog-fragments.md
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/project/changelog.html
  latest/project/contribution_guide.html
  latest/searchindex.js
Due: none

Reduce JAX test compilation overhead
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add SOMA publication
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Add Warp Evaluation Skill
  pyproject.toml
  skills/warp-eval/BENCHMARK.md
  skills/warp-eval/SKILL.md
  skills/warp-eval/assets/warp-evaluation-report-template.md
  skills/warp-eval/evals/evals.json
  skills/warp-eval/evals/files/gate-a-required-portability/deployment.md
  skills/warp-eval/evals/files/gate-a-required-portability/neighbors.py
  skills/warp-eval/evals/files/gate-b-unwidenable-host-boundary/architecture.md
  skills/warp-eval/evals/files/gate-b-unwidenable-host-boundary/scoring.py
  skills/warp-eval/evals/files/gate-c-dense-vendor-lowered/feature_stage.py
  skills/warp-eval/evals/files/gate-d-cpu-incumbent-not-cuda/baseline.md
  skills/warp-eval/evals/files/gate-d-cpu-incumbent-not-cuda/operation_api.py
  skills/warp-eval/evals/files/gate-d-mature-incumbent/baseline.md
  skills/warp-eval/evals/files/gate-d-mature-incumbent/contact_api.py
  skills/warp-eval/evals/files/gate-e-runtime-obligations-forbidden/candidates.py
  skills/warp-eval/evals/files/gate-e-runtime-obligations-forbidden/packaging-policy.md
  skills/warp-eval/evals/files/gate-f-immaterial-stage/profile.json
  skills/warp-eval/evals/files/gate-f-immaterial-stage/spatial_filter.py
  skills/warp-eval/evals/files/pattern-fused-edge-intermediate/context.md
  skills/warp-eval/evals/files/pattern-fused-edge-intermediate/message_passing.py
  skills/warp-eval/evals/files/pattern-sequential-recurrence/adaptive_filter.py
  skills/warp-eval/evals/files/pattern-sequential-recurrence/context.md
  skills/warp-eval/evals/files/proceed-persistent-mesh-query/context.md
  skills/warp-eval/evals/files/proceed-persistent-mesh-query/queries.py
  skills/warp-eval/references/authorization-checkpoint.md
  skills/warp-eval/references/baselines.md
  skills/warp-eval/references/benchmark-protocol.md
  skills/warp-eval/references/evidence-and-reporting.md
  skills/warp-eval/references/rejection-gates.md
  skills/warp-eval/references/semantic-contract.md
  skills/warp-eval/references/target-patterns.md
  skills/warp-eval/scripts/driver-template.py
  skills/warp-eval/scripts/measure.py
  skills/warp-eval/scripts/validate_report_schema.py
  skills/warp-eval/skill-card.md
  skills/warp-eval/skill.oms.sig
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix non-negative custom-stride allocation capacity [GH-1703]
  changelog/1703.fixed.md
  warp/_src/types.py
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
