Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Update changelog
  CHANGELOG.md
Due: none

Updated dlpack docstring
  warp/_src/dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fixes
  warp/_src/context.py
  warp/_src/texture.py
  warp/native/texture.cpp
  warp/native/warp.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Disallow copying CpuTexture
  warp/native/texture.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix docs and stubs
  docs/api_reference/warp.rst
  warp/__init__.pyi
  warp/_src/texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Exclude cuBQL from CI checks and update docs
  .gitattributes
  .github/workflows/pr.yml
  .gitlab-ci.yml
  docs/user_guide/contribution_guide.rst
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Exclude vendored cuBQL and NanoVDB from CodeRabbit reviews
  .coderabbit.yml
Due: none

Fix HashGrid truncation for negative coordinates (GH-1256)
  CHANGELOG.md
  warp/native/hashgrid.h
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fixes and tweaks
  warp/_src/context.py
  warp/_src/texture.py
  warp/native/texture.cpp
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fixes
  warp/_src/texture.py
  warp/native/texture.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix HashGrid truncation error with negative coordinates
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Apply clang-format and use RST backticks in docstrings
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix mypy not recognizing wp.array[dtype] subscript syntax (GH-1278)
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/context.py
  warp/_src/fabric.py
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add external texture support, refactor texture interop runtime (GH-1238)
  CHANGELOG.md
  docs/api_reference/warp.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/_src/dlpack.py
  warp/_src/texture.py
  warp/_src/types.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/texture.cpp
  warp/native/texture.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add cuBQL BVH backend for wp.Mesh ray queries (GH-1286)
  CHANGELOG.md
  warp/_src/types.py
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/mesh.h
  warp/native/warp.h
  warp/tests/geometry/test_mesh.py
  warp/tests/geometry/test_mesh_query_ray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fixing clang compile issue in cuBQL
  warp/native/cuBQL/builder/cuda/builder_common.h
  warp/native/cuBQL/builder/cuda/elh_builder.h
  warp/native/cuBQL/builder/cuda/radix.h
  warp/native/cuBQL/builder/cuda/rebinMortonBuilder.h
  warp/native/cuBQL/builder/cuda/sah_builder.h
  warp/native/cuBQL/math/math.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CI allow_failure for multi-GPU and clang jobs
  .gitlab-ci.yml
  .gitlab/ci/clang-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix cuBQL docstrings, brace style, and test coverage
  CHANGELOG.md
  warp/_src/types.py
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/tests/geometry/test_mesh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix struct field assignment unwrapping Warp scalar types (GH-1288)
  warp/_src/codegen.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump test suite timeout and CI job timeouts
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
  warp/_src/thirdparty/unittest_parallel.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Disable FEM example tests and remove multi-GPU allow_failure
  .gitlab-ci.yml
  warp/tests/test_examples.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix struct field assignment unwrapping Warp scalar types (GH-1288)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix inaccurate OpenGL renderer docstrings (GH-1292)
  warp/_src/render/render_opengl.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Isolate test kernels into unique modules to reduce JIT recompilation
  warp/tests/geometry/test_mesh_query_ray.py
  warp/tests/test_atomic.py
  warp/tests/test_block_dim_dispatch.py
  warp/tests/test_codegen.py
  warp/tests/test_compile_consts.py
  warp/tests/test_enum.py
  warp/tests/test_fixedarray.py
  warp/tests/test_func.py
  warp/tests/test_grad.py
  warp/tests/test_lerp.py
  warp/tests/test_print.py
  warp/tests/test_snippet.py
  warp/tests/test_vec.py
  warp/tests/test_vec_constructors.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

docs: fix syntax error in peer access code example
  docs/user_guide/devices.rst
Due: none

docs: fix wp.degrees() -> wp.radians() in quaternion/transform examples
  docs/user_guide/runtime.rst
Due: none

docs: fix broken relative link to textures builtins reference
  docs/user_guide/runtime.rst
Due: none

docs: fix incorrect method name fill() -> fill_() in FAQ
  docs/user_guide/faq.rst
Due: none

docs: fix CUDA Toolkit version for conditional graph nodes (12.3 -> 12.4)
  docs/user_guide/compatibility.rst
Due: none

docs: fix Sphinx cross-reference for wp.load_module()
  docs/user_guide/limitations.rst
Due: none

Add debug_suite for warp.config.mode='debug' smoke testing
  .github/workflows/ci.yml
  .gitlab-ci.yml
  warp/_src/thirdparty/unittest_parallel.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump ruff from 0.14.10 to 0.15.6 in pre-commit config
  .gitignore
  .pre-commit-config.yaml
  exts/omni.warp/omni/warp/_extension/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/fem/field/nodal_field.py
  warp/_src/fem/operator.py
  warp/_src/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
  warp/tests/test_map.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

warp.fem: refine 2d cfd and optimization examples
  CHANGELOG.md
  README.md
  docs/domain_modules/fem.rst
  docs/img/examples/fem_elastic_shape_optimization.png
  docs/img/examples/fem_kelvin_helmholtz.png
  docs/img/examples/fem_magnetostatics.png
  docs/img/examples/fem_taylor_green.png
  docs/index.rst
  warp/_src/fem/quadrature/quadrature.py
  warp/examples/fem/example_apic_fluid.py
  warp/examples/fem/example_burgers.py
  warp/examples/fem/example_convection_diffusion.py
  warp/examples/fem/example_convection_diffusion_dg.py
  warp/examples/fem/example_darcy_ls_optimization.py
  warp/examples/fem/example_elastic_shape_optimization.py
  warp/examples/fem/example_kelvin_helmholtz.py
  warp/examples/fem/example_mixed_elasticity.py
  warp/examples/fem/example_navier_stokes.py
  warp/examples/fem/example_nonconforming_contact.py
  warp/examples/fem/example_shallow_water.py
  warp/examples/fem/example_stokes.py
  warp/examples/fem/example_taylor_green.py
  warp/examples/fem/utils.py
  warp/tests/test_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Mention wp.zeros() in list-literal codegen error message
  docs/user_guide/basics.rst
  warp/_src/codegen.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix func_native return type resolution and validate supported types
  warp/_src/codegen.py
  warp/tests/test_snippet.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add tests for array and fixedarray return types in func_native
  warp/tests/test_snippet.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject struct return types from func_native with a clear error
  warp/_src/codegen.py
  warp/tests/test_snippet.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review feedback for func_native return type changes
  warp/_src/codegen.py
  warp/tests/test_snippet.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CHANGELOG entry for func_native return type fix
  CHANGELOG.md
Due: none
