Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

small changes
  changelog/1891.added.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Capture CUDA compiler diagnostics
  .github/workflows/ci.yml
Due: none

Capture Multi-GPU CUDA Diagnostics
  .github/workflows/ci.yml
Due: none

Replay Failing CUDA Worker Sequence
  .github/workflows/ci.yml
Due: none

Fix block-Jacobi singularity checks and polish PR0 review nitpicks
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Recognize NVIDIA email subdomains
  .claude/skills/warp-release-notes/SKILL.md
  .claude/skills/warp-release-notes/references/contributor-attribution.md
  .claude/skills/warp-release-notes/scripts/list_contributors.py
  .codex/skills/warp-release-notes/SKILL.md
  .codex/skills/warp-release-notes/references/contributor-attribution.md
  .codex/skills/warp-release-notes/scripts/list_contributors.py
Due: none

Disable CUDA Cache in Diagnostic
  .github/workflows/ci.yml
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document CPU block fiber design (GH-1638)
  CPU_BLOCK_DIM_FIBERS_IMPLEMENTATION_PLAN.md
  design/cpu-block-dim-fibers.md
Due: none

Flatten CUDA Optimization Diagnostic
  warp/_src/context.py
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid CUDA Device-Debug State Bug
  warp/_src/context.py
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add portable CPU fiber contexts (GH-1638)
  CMakeLists.txt
  build_lib.py
  build_llvm.py
  warp/native/cpu_fiber.cpp
  warp/native/cpu_fiber.h
  warp/tests/test_cpu_fiber.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pool reusable CPU block fibers (GH-1638)
  warp/native/cpu_block_runtime.cpp
  warp/native/cpu_block_runtime.h
  warp/tests/test_cpu_block_runtime.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CPU block fiber scheduler (GH-1638)
  CMakeLists.txt
  build_lib.py
  build_llvm.py
  warp/native/clang/clang.cpp
  warp/native/cpu_block_runtime.cpp
  warp/native/cpu_block_runtime.h
  warp/tests/test_cpu_block_runtime.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Share CPU tile state across fibers (GH-1638)
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/tile.h
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_block_dim_mismatch.py
  warp/tests/tile/test_tile_fused_ops.py
  warp/tests/tile/test_tile_load.py
  warp/tests/tile/test_tile_load_assign.py
  warp/tests/tile/test_tile_load_extract.py
  warp/tests/tile/test_tile_load_indexed.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/tile/test_tile_struct.py
  warp/tests/tile/test_tile_view.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Generate fiber-aware CPU blocks (GH-1638)
  CMakeLists.txt
  build_llvm.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/native/apic.cpp
  warp/native/builtin.h
  warp/native/clang/clang.cpp
  warp/native/cpu_block_runtime.cpp
  warp/native/cpu_block_runtime.h
  warp/native/tile.h
  warp/tests/test_cpu_block_codegen.py
  warp/tests/test_cpu_block_runtime.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Gate CPU block dimensions by config (GH-1638)
  warp/_src/autograd.py
  warp/_src/context.py
  warp/_src/fem/integrate.py
  warp/_src/optim/linear.py
  warp/_src/sparse.py
  warp/_src/tape.py
  warp/_src/utils.py
  warp/config.py
  warp/tests/test_block_dim_dispatch.py
  warp/tests/test_codegen.py
  warp/tests/test_cpu_block_codegen.py
  warp/tests/test_cpu_block_dim.py
  warp/tests/test_sanitize.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Port CPU tile collectives to fibers (GH-1638)
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/tile_reduce.h
  warp/native/tile_scan.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Port CPU tile math to fibers (GH-1638)
  warp/_src/builtins.py
  warp/native/tile_cholesky.h
  warp/native/tile_fft.h
  warp/native/tile_matmul.h
  warp/native/tile_solve.h
  warp/tests/tile/test_tile_cholesky.py
  warp/tests/tile/test_tile_cholesky_no_mathdx.py
  warp/tests/tile/test_tile_fft.py
  warp/tests/tile/test_tile_fft_no_mathdx.py
  warp/tests/tile/test_tile_matmul.py
  warp/tests/tile/test_tile_matmul_no_mathdx.py
  warp/tests/tile/test_tile_solve.py
  warp/tests/tile/test_tile_solve_no_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Complete CPU block equivalence tests (GH-1638)
  warp/native/cpu_block_runtime.cpp
  warp/native/cpu_block_runtime.h
  warp/native/cpu_fiber.cpp
  warp/native/cpu_fiber.h
  warp/tests/test_cpu_block_codegen.py
  warp/tests/test_cpu_block_dim.py
  warp/tests/test_cpu_block_runtime.py
  warp/tests/test_cpu_fiber.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_atomic_bitwise.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Port CPU tile stacks and queries (GH-1638)
  warp/native/clang/clang.cpp
  warp/native/crt.h
  warp/native/tile.h
  warp/native/tile_bvh.h
  warp/native/tile_mesh.h
  warp/native/tile_radix_sort.h
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_mesh_query_aabb.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/tile/test_tile_stack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document experimental CPU blocks (GH-1638)
  CPU_BLOCK_DIM_FIBERS_IMPLEMENTATION_PLAN.md
  changelog/1638.added.md
  design/cpu-block-dim-fibers.md
  docs/api_reference/warp_config.rst
  docs/user_guide/configuration.rst
  docs/user_guide/faq.rst
  docs/user_guide/programming_model/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Force-inline CPU tile thread index (GH-1638)
  warp/_src/codegen.py
  warp/native/builtin.h
  warp/native/tile.h
  warp/tests/test_func_inline.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Simplify CPU block error handling (GH-1638)
  warp/_src/context.py
  warp/native/apic.cpp
  warp/native/cpu_block_runtime.cpp
  warp/native/cpu_block_runtime.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support CPU blocks in JAX FFI (GH-1638)
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix register tile printing with CPU blocks (GH-1638)
  warp/native/tile.h
  warp/tests/tile/test_tile_print.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Emit only active CPU block launch path (GH-1638)
  warp/_src/codegen.py
  warp/tests/test_cpu_block_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid CUDA 13.1 NVRTC State Bug
  VERSION.md
  changelog/+cuda-nvrtc-optimization-level.fixed.md
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid CUDA Device-Debug State Bug
  changelog/+cuda-nvrtc-optimization-level.fixed.md
  docs/user_guide/debugging.rst
  warp/_src/context.py
  warp/native/warp.cu
  warp/tests/test_compilation.py
  warp/tests/unittest_suites.py
  warp/tests/walkthrough_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update GitHub CI to CUDA 13.4.1
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  docker/warp-cpp-test-env/Dockerfile
  docker/warp-cpp-test-env/README.md
  docker/warp-cpp-test-env/build.sh
  tools/ci/cuda_toolkit_lock.json
  tools/ci/cuda_toolkit_requirements.json
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp

Preserve CUDA Device Debugging
  changelog/+cuda-nvrtc-optimization-level.fixed.md
  docs/user_guide/debugging.rst
  warp/_src/context.py
  warp/native/warp.cu
  warp/tests/test_compilation.py
  warp/tests/test_func_inline.py
  warp/tests/test_map.py
  warp/tests/unittest_utils.py
  warp/tests/walkthrough_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Correct Debug Suite Documentation
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add swept_volume to warp.geometry [GH-1824]
  changelog/1824.added.md
  docs/api_reference/warp_geometry.rst
  docs/conf.py
  docs/img/examples/geometry_swept_volume.png
  docs/index.rst
  warp/_src/geometry.py
  warp/_src/types.py
  warp/examples/geometry/example_swept_volume.py
  warp/geometry.py
  warp/tests/geometry/test_swept_volume.py
  warp/tests/geometry/utils.py
  warp/tests/test_examples.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_images/geometry_swept_volume.png
  latest/_sources/api_reference/_generated/warp.Mesh.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.SweptVolumeSignMode.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.swept_volume_bounds.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.swept_volume_field.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.swept_volume_mesh.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.swept_volume_sdf.rst.txt
  latest/_sources/api_reference/warp_geometry.rst.txt
  latest/_sources/index.rst.txt
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.geometry.SweptVolumeSignMode.html
  latest/api_reference/_generated/warp.geometry.delaunay_edge_flip.html
  latest/api_reference/_generated/warp.geometry.find_triangle_neighbor_edge_index.html
  latest/api_reference/_generated/warp.geometry.swept_volume_bounds.html
  latest/api_reference/_generated/warp.geometry.swept_volume_field.html
  latest/api_reference/_generated/warp.geometry.swept_volume_mesh.html
  latest/api_reference/_generated/warp.geometry.swept_volume_sdf.html
  latest/api_reference/_generated/warp.geometry.tri_tri_adjacency.html
  latest/api_reference/warp_geometry.html
  latest/genindex.html
  latest/index.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Fix CCCL documentation links
  docs/user_guide/execution_and_performance/deterministic_execution.rst
  docs/user_guide/programming_model/tiles.rst
  warp/native/sort.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/execution_and_performance/deterministic_execution.rst.txt
  latest/_sources/user_guide/programming_model/tiles.rst.txt
  latest/user_guide/execution_and_performance/deterministic_execution.html
  latest/user_guide/programming_model/tiles.html
Due: none

Update GitHub CI to CUDA 13.4.1 [GH-1944]
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  VERSION.md
  changelog/1944.fixed.md
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  docker/warp-cpp-test-env/Dockerfile
  docker/warp-cpp-test-env/README.md
  docker/warp-cpp-test-env/build.sh
  docs/user_guide/debugging.rst
  tools/ci/cuda_toolkit_lock.json
  tools/ci/cuda_toolkit_requirements.json
  tools/ci/test_cuda_toolkit.py
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/native/warp.cu
  warp/tests/test_compilation.py
  warp/tests/test_func_inline.py
  warp/tests/test_map.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Ship Windows Import Libraries (GH-1888)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitlab-ci.yml
  .gitlab/ci/common.yml
  .gitlab/ci/debug-build-and-test.yml
  CMakeLists.txt
  changelog/1888.added.md
  design/windows-import-libraries.md
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  docs/user_guide/runtime.rst
  setup.py
  tools/ci/windows_import_library_smoke/CMakeLists.txt
  tools/ci/windows_import_library_smoke/main.cpp
  warp/_src/build_dll.py
  warp/examples/cpp/02_apic_visualization/CMakeLists.txt
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/CMakeLists.txt
  warp/examples/cpp/03_apic_visualization_cpu/Makefile
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/examples/cpp/README.md
  warp/native/api.h
  warp/native/apic.h
  warp/native/clang/clang.cpp
  warp/native/crt.h
  warp/native/warp.h
  warp/native/warp_clang.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix broken documentation links
  CHANGELOG.md
  CONTRIBUTING.md
  docs/conf.py
  docs/generate_reference.py
  docs/language_reference/builtins.rst
  docs/user_guide/compatibility.rst
  docs/user_guide/debugging.rst
  docs/user_guide/execution_and_performance/concurrency.rst
  docs/user_guide/execution_and_performance/profiling.rst
  docs/user_guide/faq.rst
  docs/user_guide/installation.rst
  docs/user_guide/interoperability/jax.rst
  docs/user_guide/interoperability/pytorch.rst
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deferred static kernel hashes [GH-1934]
  changelog/1934.fixed.md
  warp/_src/apic/capture.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_apic.py
  warp/tests/test_context.py
  warp/tests/test_module_variants.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
