Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Address review: query capture status via Warp's native export, drop the cudart dlopen
  warp/_src/stf_experimental/_capture_detect.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

docs: establish numpy import in the STF guide's opening snippet
  docs/user_guide/execution_and_performance/stf_task_graphs.rst
Due: none

docs: clarify that the stackable-frame API is not hidden by the helpers
  docs/user_guide/execution_and_performance/stf_task_graphs.rst
Due: none

Fold capture detection into context.py, drop _capture_detect.py
  warp/_src/stf_experimental/_capture_detect.py
  warp/_src/stf_experimental/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add wp.graph_set_conditional() for user-owned conditional graph nodes
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add changelog fragment for GH-1795
  changelog/1795.added.md
Due: none

Remove unnecessary adj_graph_set_conditional stubs
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fail the module when a kernel fails to build [GH-1713]
  changelog/1713.fixed.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/test_fixedarray.py
  warp/tests/test_module_contamination.py
  warp/tests/test_snippet.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Build the test's foreign scope through the CUDA runtime API
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use cuda.bindings for the foreign-scope test, install cuda-python in GPU CI jobs
  .gitlab-ci.yml
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Align CUDA error checking with existing test practice
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review: Google-style Args, clarify the CPU no-op vs capture_while
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review: cudaGraphAddNode_v2 on cuda-python 12, conventions
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Regenerate API and language reference docs
  docs/api_reference/warp.rst
  docs/language_reference/builtins.rst
Due: none

Fix Clang CUDA compilation of the conditional-graph declaration
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tape-recorded copy adjoint: accumulate into source, consume destination [GH-1728]
  changelog/1728.fixed.md
  warp/_src/context.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
Due: none

Use wp.graph_set_conditional() in the while_loop CG examples
  warp/examples/interop/example_stf_cg_stackable.py
  warp/examples/interop/example_stf_cg_token.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clean up graph allocation bookkeeping when the final end-capture fails
  warp/native/warp.cu
  warp/tests/cuda/test_graph_skip_leaf_join.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replace manual end-capture cleanup with an RAII failure guard
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve verify_autograd_array_access overwrite warnings: consumed read flags and call-site attribution [GH-1727]
  changelog/1727.changed.md
  changelog/1727.fixed.md
  warp/_src/context.py
  warp/_src/tape.py
  warp/_src/types.py
  warp/tests/test_overwrite.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Tape.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.array.html
  latest/api_reference/_generated/warp.array1d.html
  latest/api_reference/_generated/warp.array2d.html
  latest/api_reference/_generated/warp.array3d.html
  latest/api_reference/_generated/warp.array4d.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.fem.Temporary.html
  latest/api_reference/_generated/warp.fixedarray.html
  latest/api_reference/_generated/warp.from_ipc_handle.html
  latest/api_reference/_generated/warp.from_ptr.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.indexedarray.html
  latest/api_reference/_generated/warp.indexedarray1d.html
  latest/api_reference/_generated/warp.indexedarray2d.html
  latest/api_reference/_generated/warp.indexedarray3d.html
  latest/api_reference/_generated/warp.indexedarray4d.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
  latest/searchindex.js
Due: none

Apply clang-format to the failure guard initializer
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix wp.grad custom gradient handling
  changelog/1794.fixed.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_func.py
  warp/tests/test_grad_customs.py
  warp/tests/test_options.py
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize shadowed reference hashes (GH-1798)
  changelog/1798.fixed.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_codegen.py
  warp/tests/test_module_hashing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Kitmaker mirroring strategy
  tools/ci/publishing/kitmaker_release.py
Due: linux-x86_64 test mujoco warp

Destroy the CUDA graph on any test setup failure
  warp/tests/cuda/test_graph_set_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Rename the changelog fragment to an orphan identifier
  changelog/+graph-set-conditional.added.md
Due: none

fix: restrict tile_sort test block_dim to safe values (closes #1748)
  warp/tests/tile/test_tile_sort.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update deprecation commit links
  design/deprecations.md
Due: none

Expand debug-mode test suite coverage
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Trim memory-heavy classes from debug test suite
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix svd2 U/V for scaled orthogonal inputs (GH-1734)
  changelog/1734.fixed.md
  warp/native/svd.h
  warp/tests/matrix/test_mat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Isolate debug suite worker processes
  .gitlab-ci.yml
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Expose CUDA kernel properties (GH-1805)
  changelog/1805.added.md
  docs/api_reference/warp.rst
  docs/user_guide/execution_and_performance/profiling.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_kernel_attributes.py
  warp/tests/cuda/test_occupancy.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Recent Warp Publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Warn about CUDA texture CUBIN risk (GH-1811)
  changelog/1811.changed.md
  warp/_src/context.py
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Benchmark No-Tid Launch Overhead
  asv/benchmarks/api/launch.py
Due: linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
