Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Reject keyword arguments from incompatible built-in overloads [GH-1841]
  changelog/1841.fixed.md
  warp/_src/context.py
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix svd2 for scaled orthogonal inputs and repeated-singular-value gradients (GH-1734)
  changelog/1734.fixed.md
  warp/native/svd.h
  warp/tests/matrix/test_mat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix scaled BSR expression on the left of + and - (GH-1910)
  changelog/1910.fixed.md
  warp/_src/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Cloud Agent environment config for CPU-only Warp
  .cursor/environment.json
  .cursor/install.sh
Due: none

Build native lib before syncing project in install script
  .cursor/install.sh
Due: none

Accept a one-element output list in wp.map() (GH-1913)
  changelog/1913.fixed.md
  warp/_src/utils.py
  warp/tests/test_map.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix fem.integrate() scalar output validation (GH-1912)
  changelog/1912.fixed.md
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve PyTorch view aliasing (GH-1908)
  changelog/1908.fixed.md
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/_src/torch.py
  warp/_src/types.py
  warp/tests/interop/test_torch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add warp.geometry.delaunay_edge_flip [GH-1797]
  changelog/1797.added.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_geometry.rst
  docs/index.rst
  warp/__init__.py
  warp/_src/geometry.py
  warp/examples/fem/example_elastic_shape_optimization.py
  warp/geometry.py
  warp/tests/geometry/test_delaunay.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Ongan 2026 publication
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Fix sm_89 texture sampling
  asv/benchmarks/texture.py
  changelog/+fix-sm89-texture-sampling.fixed.md
  warp/native/texture.h
  warp/native/warp.cu
  warp/tests/cuda/test_texture_compiler.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reference GH-1920 in changelog fragment
  changelog/1920.fixed.md
Due: none

Floor integer division toward negative infinity [GH-1918]
  changelog/1918.fixed.md
  warp/native/builtin.h
  warp/tests/test_arithmetic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use unsigned texture benchmark indices
  asv/benchmarks/texture.py
Due: linux-x86_64 asv

Clarify mesh query iterator guidance
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify ASV number comments
  asv/benchmarks/api/array.py
  asv/benchmarks/api/launch.py
  asv/benchmarks/api/python_builtins.py
  asv/benchmarks/api/struct.py
  asv/benchmarks/codegen/array2d_augassign.py
  asv/benchmarks/codegen/mat22_augassign.py
  asv/benchmarks/codegen/mat44_assignment.py
  asv/benchmarks/sparse/matrix_vector.py
  asv/benchmarks/tile/compile_cholesky.py
  asv/benchmarks/tile/compile_fft.py
  asv/benchmarks/tile/compile_gemm.py
  asv/benchmarks/tile/tile_nbody.py
Due: linux-x86_64 asv

Support multidimensional query blocks [GH-1864]
  changelog/1864.added.md
  warp/native/bvh.h
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.mesh_query_aabb_next.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.mesh_query_aabb_next.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Validate segmented sort ranges (GH-1870)
  VERSION.md
  changelog/1870.fixed.md
  warp/_src/context.py
  warp/_src/utils.py
  warp/config.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/version.h
  warp/native/warp.h
  warp/tests/test_apic_utility_algorithms.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update locked PyTorch dependencies
  uv.lock
Due: none

Validate TID Launch Extents (GH-1815)
  asv/benchmarks/api/launch.py
  changelog/1815.changed.md
  changelog/1815.fixed.md
  design/api-capture-and-cpu-graphs.md
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/builtin.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/interop/test_jax.py
  warp/tests/test_apic.py
  warp/tests/test_codegen.py
  warp/tests/test_template_launch_bounds.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update pre-commit environment
  uv.lock
Due: none

Fix mixed-width texture sampling (GH-1920)
  asv/benchmarks/texture.py
  changelog/1920.fixed.md
  warp/native/texture.h
  warp/native/warp.cu
  warp/tests/cuda/test_texture_compiler.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update documentation dependencies
  uv.lock
Due: none

Update example dependencies
  uv.lock
Due: none

Optimize runtime signed floor division [GH-1918]
  asv/benchmarks/floordiv.py
  warp/native/builtin.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Quote build paths that may contain spaces (GH-1925)
  build_llvm.py
  changelog/1925.fixed.md
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update numerical dependencies
  uv.lock
Due: none

Update development tool dependencies
  uv.lock
Due: none

Reject invalid matrix component indices
  changelog/+matrix-component-index-bounds.fixed.md
  warp/_src/types.py
  warp/tests/matrix/test_mat_basics.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve the transform dtype when reading p and q
  changelog/+transform-component-dtype.fixed.md
  warp/_src/types.py
  warp/tests/test_spatial.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.integrate.html
  latest/api_reference/_generated/warp.fem.interpolate.html
Due: none

Remove deprecated hash grid query aliases [GH-1906]
  changelog/1906.removed.md
  design/deprecations.md
  warp/__init__.py
  warp/_src/context.py
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
