Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Deploy docs: latest
  latest/_sources/language_reference/builtins.rst.txt
  latest/_sources/user_guide/compatibility.rst.txt
  latest/_sources/user_guide/debugging.rst.txt
  latest/_sources/user_guide/execution_and_performance/concurrency.rst.txt
  latest/_sources/user_guide/execution_and_performance/profiling.rst.txt
  latest/_sources/user_guide/faq.rst.txt
  latest/_sources/user_guide/installation.rst.txt
  latest/_sources/user_guide/interoperability/jax.rst.txt
  latest/_sources/user_guide/interoperability/pytorch.rst.txt
  latest/_sources/user_guide/limitations.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.optim.Adam.html
  latest/api_reference/_generated/warp.optim.SGD.html
  latest/language_reference/builtins.html
  latest/objects.inv
  latest/project/changelog.html
  latest/project/contribution_guide.html
  latest/searchindex.js
  latest/user_guide/compatibility.html
  latest/user_guide/debugging.html
  latest/user_guide/execution_and_performance/concurrency.html
  latest/user_guide/execution_and_performance/profiling.html
  latest/user_guide/faq.html
  latest/user_guide/installation.html
  latest/user_guide/interoperability/jax.html
  latest/user_guide/interoperability/pytorch.html
  latest/user_guide/limitations.html
  latest/user_guide/runtime.html
Due: none

Refine array component lowering (GH-1451)
  changelog/+array-composite-slot-gradients.fixed.md
  changelog/1451.added.md
  docs/user_guide/differentiability.rst
  docs/user_guide/execution_and_performance/deterministic_execution.rst
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/deterministic.py
  warp/native/array.h
  warp/tests/aux_test_array_slot_operators.py
  warp/tests/deterministic/test_deterministic_backward.py
  warp/tests/deterministic/test_deterministic_counter.py
  warp/tests/test_bool.py
  warp/tests/test_codegen.py
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_fabricarray.py
  warp/tests/test_ref.py
  warp/tests/test_verify_fp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support array composite slot writes (GH-1451)
  changelog/+array-composite-slot-gradients.fixed.md
  changelog/1451.added.md
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/deterministic.py
  warp/native/array.h
  warp/native/deterministic.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
  warp/tests/deterministic/test_deterministic_backward.py
  warp/tests/deterministic/test_deterministic_counter.py
  warp/tests/test_bool.py
  warp/tests/test_codegen.py
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_verify_fp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replace Bare Assertions [GH-1930]
  changelog/1930.changed.md
  pyproject.toml
  tools/ci/cuda_toolkit.py
  warp/_src/build.py
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/dlpack.py
  warp/_src/fabric.py
  warp/_src/fem/field/field.py
  warp/_src/fem/space/point_basis_space.py
  warp/_src/jax/ffi.py
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/_src/render/render_opengl.py
  warp/_src/types.py
  warp/examples/benchmarks/benchmark_api.py
  warp/examples/benchmarks/benchmark_tile_sort.py
  warp/examples/core/example_spin_lock.py
  warp/examples/fem/example_kelvin_helmholtz.py
  warp/examples/fem/example_shallow_water.py
  warp/examples/tile/example_tile_block_cholesky.py
  warp/tests/fem/test_fem_field.py
  warp/tests/fem/test_fem_quadrature.py
  warp/tests/interop/test_dlpack.py
  warp/tests/interop/test_jax.py
  warp/tests/test_adam.py
  warp/tests/test_fabricarray.py
  warp/tests/test_launch.py
  warp/tests/test_render_opengl.py
  warp/tests/test_sgd.py
  warp/tests/test_subscript_types.py
  warp/tests/test_types.py
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Update deprecation commit links [GH-1905]
  design/deprecations.md
Due: none

Address PR0 review: scaled blocks, alpha==0, contiguity
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Make block-Jacobi pivot tolerance explicit per dtype
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document portable APIC replay design (GH-1837)
  design/api-capture-and-cpu-graphs.md
  design/portable-apic-cuda-replay.md
Due: none

Share CUDA compilation options (GH-1837)
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Retain CUDA artifacts for APIC (GH-1837)
  warp/_src/apic/capture.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Serialize APIC CUDA source metadata (GH-1837)
  warp/_src/apic/types.py
  warp/_src/context.py
  warp/native/apic.cpp
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/apic_types.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add sparse marching cubes for implicit functions [GH-1803]
  README.md
  changelog/+warp-geometry-namespace.changed.md
  changelog/+warp-geometry-namespace.deprecated.md
  changelog/1614.added.md
  changelog/1614.changed.md
  changelog/1614.deprecated.md
  changelog/1614.fixed.md
  changelog/1803.added.md
  design/deprecations.md
  design/deterministic-execution.md
  design/sparse-marching-cubes.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_geometry.rst
  docs/conf.py
  docs/img/examples/geometry_isosurface.png
  docs/img/examples/geometry_sparse_marching_cubes.gif
  docs/img/examples/geometry_sparse_marching_cubes.png
  docs/index.rst
  docs/user_guide/runtime.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/_src/geometry/__init__.py
  warp/_src/geometry/delaunay.py
  warp/_src/geometry/iso_surface.py
  warp/_src/geometry/marching_cubes.py
  warp/_src/geometry/sparse_marching_cubes.py
  warp/examples/benchmarks/benchmark_sparse_marching_cubes.py
  warp/examples/geometry/example_isosurface.py
  warp/examples/geometry/example_sparse_marching_cubes.py
  warp/geometry.py
  warp/tests/geometry/test_marching_cubes.py
  warp/tests/geometry/test_sparse_marching_cubes.py
  warp/tests/test_examples.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Compile APIC modules for guest GPUs (GH-1837)
  warp/_src/context.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/warp.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document portable APIC replay support (GH-1837)
  changelog/1837.added.md
  docs/user_guide/runtime.rst
Due: none

Deploy docs: latest
  latest/_images/geometry_isosurface.png
  latest/_images/geometry_sparse_marching_cubes.gif
  latest/_images/geometry_sparse_marching_cubes.png
  latest/_sources/api_reference/_generated/warp.MarchingCubes.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.IsoSurfaceBase.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.lipschitz_octree.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.sparse_marching_cubes.rst.txt
  latest/_sources/api_reference/_generated/warp.geometry.sparse_marching_cubes_from_cells.rst.txt
  latest/_sources/api_reference/warp.rst.txt
  latest/_sources/api_reference/warp_geometry.rst.txt
  latest/_sources/index.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.DeterministicMode.html
  latest/api_reference/_generated/warp.MarchingCubes.html
  latest/api_reference/_generated/warp.RegisteredGLBuffer.html
  latest/api_reference/_generated/warp.geometry.IsoSurfaceBase.html
  latest/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.html
  latest/api_reference/_generated/warp.geometry.SweptVolumeSignMode.html
  latest/api_reference/_generated/warp.geometry.find_triangle_neighbor_edge_index.html
  latest/api_reference/_generated/warp.geometry.lipschitz_octree.html
  latest/api_reference/_generated/warp.geometry.sparse_marching_cubes.html
  latest/api_reference/_generated/warp.geometry.sparse_marching_cubes_from_cells.html
  latest/api_reference/_generated/warp.geometry.swept_volume_bounds.html
  latest/api_reference/_generated/warp.geometry.swept_volume_field.html
  latest/api_reference/_generated/warp.geometry.swept_volume_mesh.html
  latest/api_reference/_generated/warp.geometry.tri_tri_adjacency.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/warp.html
  latest/api_reference/warp_geometry.html
  latest/genindex.html
  latest/index.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Support native Windows linking from wheels [GH-1888]
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitlab-ci.yml
  .gitlab/ci/common.yml
  .gitlab/ci/debug-build-and-test.yml
  CMakeLists.txt
  changelog/1888.added.md
  design/windows-import-libraries.md
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  docs/user_guide/runtime.rst
  setup.py
  tools/ci/windows_import_library_smoke/CMakeLists.txt
  tools/ci/windows_import_library_smoke/main.cpp
  warp/_src/build_dll.py
  warp/examples/cpp/02_apic_visualization/CMakeLists.txt
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/CMakeLists.txt
  warp/examples/cpp/03_apic_visualization_cpu/Makefile
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/examples/cpp/README.md
  warp/native/api.h
  warp/native/apic.h
  warp/native/clang/clang.cpp
  warp/native/crt.h
  warp/native/warp.h
  warp/native/warp_clang.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/_sources/user_guide/programming_model/cpp_cuda_workflows.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/programming_model/cpp_cuda_workflows.html
  latest/user_guide/runtime.html
Due: none

Deploy docs: latest
  latest/_sources/user_guide/differentiability.rst.txt
  latest/_sources/user_guide/execution_and_performance/deterministic_execution.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/searchindex.js
  latest/user_guide/differentiability.html
  latest/user_guide/execution_and_performance/deterministic_execution.html
Due: none

Harden MEMTILE replay span validation [GH-1883]
  changelog/1883.fixed.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Test MuJoCo Warp in GitHub CI
  .github/workflows/ci.yml
Due: none

Improve MuJoCo Warp CI diagnostics
  .github/workflows/ci.yml
Due: none

Add MuJoCo Warp GitHub CI testing
  .github/workflows/ci.yml
Due: none

Validate gradient and buffer shapes and dtypes in optimizers (GH-1880)
  changelog/1880.fixed.md
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix quat_rpy, quat_inverse, quat_slerp docs (GH-1856)
  changelog/1856.documentation.md
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify quat_slerp antipodal behavior (GH-1856)
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Note quat sign equivalence in slerp docs (GH-1856)
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Exclude NLopt from Python 3.14t CI [GH-1922]
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Warp publications
  PUBLICATIONS.md
Due: none

Improve contribution guidance
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  changelog/README.md
Due: none

Validate wp.tid() launch extents [GH-1815]
  asv/benchmarks/api/launch.py
  changelog/1815.changed.md
  changelog/1815.fixed.md
  design/api-capture-and-cpu-graphs.md
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/jax/ffi.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/builtin.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/interop/test_jax.py
  warp/tests/test_apic.py
  warp/tests/test_codegen.py
  warp/tests/test_template_launch_bounds.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Modernize Warp builder images
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/build-warp-builder-images.yml
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  docker/warp-builder/verify-image.sh
  tools/ci/cuda_toolkit.py
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp

Update Docker actions for Node.js 24
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
Due: none

Refresh CUDA CI images
  .gitlab-ci.yml
  .gitlab/ci/asv.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  deps/cuda-toolkit-deps.packman.xml
  docker/warp-builder/README.md
  docker/warp-cpp-test-env/Dockerfile
  docker/warp-cpp-test-env/README.md
  docker/warp-cpp-test-env/build.sh
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
