Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Tentative fix for sporadic codegen failure (GH-696)
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add ast.IfExp constant test cases
  warp/tests/test_conditional.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Don't run mgpu Windows testing on every main branch commit
  .gitlab-ci.yml
Due: linux-x86_64 asv

add tile_astype to tiles.rst
  docs/modules/tiles.rst
Due: none

Automatic repo_tools update by dependabot:
  deps/repo-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Tweaks to CI configurations
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  .pre-commit-config.yaml
  docs/requirements.txt
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Add support for `ast.IfExp` in kernels
  warp/codegen.py
  warp/tests/test_codegen.py
  warp/tests/test_conditional.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Avoid deprecationwarning in OpenGLRenderer.render_ground()
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Lift the exact version req of omni.warp.core
  CHANGELOG.md
  exts/omni.warp/config/extension.toml
Due: none

Add FOCI to publication list
  PUBLICATIONS.md
Due: none

Update docs to reference the publications list
  README.md
  docs/faq.rst
Due: none

Fix various error messages and docs for wp.utils, wp.sparse, wp.fem
  docs/modules/sparse.rst
  warp/fem/integrate.py
  warp/fem/linalg.py
  warp/sparse.py
  warp/tests/test_runlength_encode.py
  warp/tests/test_sparse.py
  warp/tests/test_utils.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve built-ins documentation page
  CHANGELOG.md
  docs/_static/custom.css
  docs/conf.py
  docs/modules/functions.rst
  docs/modules/runtime.rst
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Guard against division by zero in forward and back-substitution
  warp/native/tile.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix `render_points()` failing with <= 4 points
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve built-ins documentation page
  CHANGELOG.md
  docs/_static/custom.css
  docs/conf.py
  docs/modules/functions.rst
  docs/modules/runtime.rst
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add ANYmal Parkour to publications list
  PUBLICATIONS.md
Due: none

Resolve test examples
  docs/modules/contribution_guide.rst
Due: none

Fix type lint awkwardness
  warp/tests/test_builtins_resolution.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix indexing of `wp.atomic_*` with unsigned ints
  CHANGELOG.md
  warp/builtins.py
  warp/native/builtin.h
  warp/tests/test_atomic.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update wp.tile_cholesky_solve builtin variable naming
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/tile.h
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Implement various removals scheduled for Warp 1.8.0
  CHANGELOG.md
  docs/modules/functions.rst
  exts/omni.warp.core/omni/warp/core/tests/test_ext.py
  warp/autograd.py
  warp/builtins.py
  warp/native/matnn.h
  warp/stubs.py
  warp/tests/test_mlp.py
  warp/tests/unittest_suites.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip adjoint compilation for matmul if not needed
  CHANGELOG.md
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix indexing of `wp.atomic_*` with unsigned ints
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
  warp/builtins.py
  warp/native/builtin.h
  warp/tests/test_atomic.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

(GH-710) Add various wp.transform syntax operations for loading and storing
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/codegen.py
  warp/native/exports.h
  warp/native/spatial.h
  warp/stubs.py
  warp/tests/test_spatial.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Prevent FFI ctypes callback garbage collection via instance caching.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

format
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

ruff
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelogs
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
