Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  ...

Revert incorrect stream synchronization change in jax_callable()
  warp/_src/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix incorrect results when filling arrays in CUDA graphs (GH-1040)
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix bug with large scene, fix small bugs
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/tests/geometry/test_grouped_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix critical bug with leaf size assumption
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Updated warp.cast documentation to include an example
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: trigger kit extensions pipeline

Fix conditional tile header inclusion in builtin.h for C++ integration (GH-1055)
  warp/native/builtin.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Clang build issues
  warp/_src/build_dll.py
  warp/native/tile.h
  warp/native/tile_radix_sort.h
  warp/native/tile_reduce.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add a GitLab job for Clang linux-x86_64 build cuda 13
  .gitlab/ci/clang-build-and-test.yml
Due: linux-x86_64 test mujoco warp

Add Learning to Design Soft Hands using Reward Models
  PUBLICATIONS.md
Due: none

Fix warp.example importing issue in benchmark
  asv/benchmarks/bvh_build.py
Due: linux-x86_64 asv

Fix leaf check
  warp/native/bvh.cu
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix bvh leaf size and cpu depth check
  warp/native/bvh.cpp
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert back to manylinux_2_28 for CUDA 13 build
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Adds thread-block parallel BVH query functionality to enable cooperative BVH traversal across all threads in a CUDA block GH-1005
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/types.py
  warp/examples/benchmarks/benchmark_bvh.py
  warp/examples/benchmarks/benchmark_mesh.py
  warp/native/bvh.h
  warp/native/mesh.h
  warp/native/tile_bvh.h
  warp/native/tile_mesh.h
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_mesh_query_aabb.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Work around Torch current device issue
  warp/tests/interop/test_dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update publications list
  PUBLICATIONS.md
Due: none

Revert back to manylinux_2_28 for CUDA 13 build
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
  README.md
  docs/installation.rst
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix doc formatting
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

add is_differentiable labels to BVH builtins
  docs/modules/functions.rst
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Version bump to 1.10.0
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/_src/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Fix atomic floating-point min and max operations
  warp/native/builtin.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add PyTorch interop case study (GH-1046)
  CHANGELOG.md
  docs/img/torch_sync_overhead.png
  docs/modules/interoperability.rst
Due: none

Add unit tests for atomic operations' return values
  warp/tests/test_atomic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

add inplace variants of cholesky and triangular solve operations
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/examples/tile/example_tile_block_cholesky.py
  warp/native/tile.h
  warp/tests/tile/test_tile_cholesky.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add compatibility and support docs to Sphinx
  docs/compatibility.rst
  docs/index.rst
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
