Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Validate function argument annotations by name
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip unsupported JAX devices during preload
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Exclude return annotations from replay arguments
  warp/_src/context.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Capitalize JAX in preload test message
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update pre-commit hook versions
  .pre-commit-config.yaml
  warp/examples/tile/example_tile_mlp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update soupsieve to 2.8.4
  uv.lock
Due: none

Migrate spatial test annotations
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/test_spatial.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update USD dependencies and enable usd-core on Python 3.14
  .github/workflows/ci.yml
  .gitlab-ci.yml
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix sparse group-root lookups (GH-1612)
  CHANGELOG.md
  warp/native/bvh.h
  warp/tests/geometry/test_grouped_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve quaternion twist-angle accuracy and add signed variant [GH-1631]
  CHANGELOG.md
  docs/language_reference/builtins.rst
  warp/_src/math.py
  warp/tests/test_math.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/.buildinfo
  latest/_sources/language_reference/_generated/warp.quat_twist_angle.rst.txt
  latest/_sources/language_reference/_generated/warp.quat_twist_angle_signed.rst.txt
  latest/_sources/language_reference/builtins.rst.txt
  latest/genindex.html
  latest/language_reference/_generated/warp.quat_twist_angle.html
  latest/language_reference/_generated/warp.quat_twist_angle_signed.html
  latest/language_reference/builtins.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Update Sphinx toolchain and fix docs warnings
  docs/_templates/autosummary/class.rst
  docs/conf.py
  uv.lock
  warp/_src/fem/space/topology.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Windows Blackwell CI job
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support LLVM 22 and fix diagnostics lifetime
  build_llvm.py
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix shared memory sizing for custom grad functions
  warp/_src/codegen.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

add test_tile_custom_grad_extra_shared
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix sparse group-root lookups [GH-1612]
  CHANGELOG.md
  warp/native/bvh.h
  warp/tests/geometry/test_grouped_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(examples): standardize Jacobi CSV flag [GH-1576]
  warp/examples/distributed/example_jacobi_mpi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate array test annotations
  warp/tests/test_array.py
  warp/tests/test_factory_style_array_annotations.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Test signed twist branch preservation [GH-1631]
  warp/tests/test_math.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Sync CHANGELOG for Warp 1.15
  CHANGELOG.md
Due: none

Fix APIC padded BSR transpose overflow [GH-1630]
  CHANGELOG.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/sparse.cpp
  warp/native/sparse.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CPU PCH compiler flag cache
  CHANGELOG.md
  warp/_src/context.py
  warp/native/clang/clang.cpp
  warp/tests/test_cpu_precompiled_headers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add grouped HashGrid queries [GH-1579]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/types.py
  warp/native/hashgrid.cpp
  warp/native/hashgrid.cu
  warp/native/hashgrid.h
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.h
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Cast tile scalar literals explicitly in shared memory test
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix changelog merge
  CHANGELOG.md
Due: none

move changelog entry
  CHANGELOG.md
Due: none

Test GB300 runner access
  .github/workflows/ci.yml
Due: none

Run GB300 tests nightly
  .github/workflows/ci.yml
Due: none

Consolidate array slot-write lowering in codegen (GH-1622)
  warp/_src/codegen.py
  warp/tests/test_composite_component_adjoint.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refresh Warp tutorial links
  README.md
  docs/user_guide/basics.rst
Due: none

Avoid HashGrid capture preloading
  warp/tests/geometry/test_hash_grid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/basics.rst.txt
  latest/searchindex.js
  latest/user_guide/basics.html
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
