Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Fix documentation for the matvec method in LinearOperator class to clarify its functionality
  warp/optim/linear.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Rename stubs.py to __init__.pyi
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  build_docs.py
  docs/modules/contribution_guide.rst
  exts/omni.warp.core/config/extension.toml
  pyproject.toml
  setup.py
  warp/__init__.pyi
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Include a py.typed file (PEP 561)
  CHANGELOG.md
  warp/py.typed
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix adjoint generation for warp functions that return tiles (GH-749)
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/tile/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add type preservation option to wp.tile() and permit reductions with non-scalar types (GH-771, GH-772).
  CHANGELOG.md
  warp/builtins.py
  warp/native/tile.h
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Deprecate the `warp.sim` module in preparation for its removal in v1.10
  CHANGELOG.md
  docs/modules/sim.rst
  warp/sim/__init__.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add additional documentation for libmathdx 0.2.1 update, and bump supported architecture ceiling for LTOs
  CHANGELOG.md
  docs/installation.rst
  docs/modules/tiles.rst
  warp/build.py
  warp/builtins.py
  warp/context.py
  warp/native/mathdx.cpp
  warp/native/tile.h
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add wp.tile() type preservation section to tile docs
  docs/modules/tiles.rst
Due: none

Reenable Blackwell jobs in GitLab
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix premature unloading of CUDA modules used in JAX FFI graph captures (GH-782)
  CHANGELOG.md
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Increase CPU array alignment (GH-550)
  CHANGELOG.md
  warp/context.py
  warp/native/warp.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Enhance error reporting for @wp.func calls in Python scope (GH-521)
  CHANGELOG.md
  warp/context.py
  warp/tests/test_func.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add inclusive and exclusive tile scan GH-731
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/native/builtin.h
  warp/native/tile_reduce.h
  warp/native/tile_scan.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix strides typo in c-type string for empty tile allocation
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Expose atomic cas and and atomic exch GH-767
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/examples/core/example_spin_lock.py
  warp/examples/core/example_work_queue.py
  warp/native/array.h
  warp/native/builtin.h
  warp/tests/test_atomic_cas.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Cholesky error reporting fix and additional libmathdx tests
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/native/tile.h
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

ruff.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add input output aliases to jax FFI.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.8.0-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

update cholesky doc
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Make usd-core optional on aarch64 for asv
  asv.conf.json
  asv/benchmarks/examples/mesh_intersect.py
  asv/benchmarks/mesh_query.py
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Add Lee et al.
  PUBLICATIONS.md
Due: none

Change semantics of if statement.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix shared tile memory managment and select/where ops
  warp/builtins.py
  warp/native/builtin.h
  warp/native/tile.h
  warp/tests/tile/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

add more overloads and fix memory bug for global store/load
  warp/native/tile.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Double the default ASV benchmark timeout
  asv.conf.json
Due: none

Fix some sorting issues with the publications list
  PUBLICATIONS.md
Due: none

Add warp.fem shape optimization examples (GH-698)
  CHANGELOG.md
  README.md
  docs/img/examples/fem_adaptive_grid.png
  docs/img/examples/fem_darcy_ls_optimization.png
  docs/img/examples/fem_deformed_geometry.png
  docs/img/examples/fem_diffusion_3d.png
  docs/img/examples/fem_distortion_energy.png
  docs/img/examples/fem_elastic_shape_optimization.png
  docs/img/examples/fem_mixed_elasticity.png
  docs/img/examples/fem_nonconforming_contact.png
  docs/index.rst
  docs/modules/fem.rst
  warp/examples/fem/example_darcy_ls_optimization.py
  warp/examples/fem/example_elastic_shape_optimization.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

In out argnames
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove in_out_argnames from FfiKernel.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Validate User Function Arguments
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
  warp/tests/test_func.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add shared tile sync discussion to docs (GH-734)
  docs/modules/tiles.rst
Due: none
