Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Retry libmathdx fetch on transient network failures
  build_lib.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revise AGENTS.md for clarity and conciseness
  AGENTS.md
Due: none

Include Warp version in custom kernel cache paths (GH-1260)
  CHANGELOG.md
  warp/_src/build.py
  warp/config.py
  warp/tests/test_examples.py
  warp/tests/test_kernel_cache.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add design/ directory for developer design documents
  design/README.md
  design/TEMPLATE.md
Due: none

Add "View page source" link and restore default footer links
  docs/_templates/view-page-source.html
  docs/conf.py
Due: none

Document all module options in set_module_options docstring
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Claude Code entries to .gitignore
  .gitignore
Due: none

fix(examples): isolate FFT kernel modules in 2D Poisson–Navier-Stokes example
  warp/examples/core/example_fft_poisson_navier_stokes_2d.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update contribution guide with coordination, quality, and modern tooling
  docs/user_guide/contribution_guide.rst
Due: none

Update Kitmaker release client for Portal 0.2.0 API changes
  tools/ci/publishing/kitmaker_release.py
Due: linux-x86_64 test mujoco warp

feat: support anisotropic voxel sizes in Volume.load_from_numpy and Volume.allocate
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: handle NumPy scalar types and add input validation for voxel_size
  warp/_src/types.py
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: address review feedback for anisotropic voxel_size
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

refactor: extract _normalize_voxel_size helper on Volume
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: reject zero, negative, and non-finite voxel_size values
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: use _normalize_voxel_size in _fill_transform_buffers
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

test: add test for zero, negative, and infinite voxel_size values
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: guard _normalize_voxel_size against non-iterable and string inputs
  warp/_src/types.py
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

feat(examples): add persistent contact list for DEM simulations
  CHANGELOG.md
  warp/examples/core/example_dem_contact_list.py
  warp/tests/geometry/test_contact_list.py
  warp/tests/test_examples.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

feat(examples): add per-contact data and bond breakage to ContactList
  CHANGELOG.md
  warp/examples/core/example_dem_contact_list.py
  warp/tests/geometry/test_contact_list.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

docs(examples): document data layout requirement in apply_bond_forces
  warp/examples/core/example_dem_contact_list.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(examples): correct duplicate-check comment and test neighbor count
  warp/examples/core/example_dem_contact_list.py
  warp/tests/geometry/test_contact_list.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(examples): add DEM repulsion for broken and non-bonded contacts
  warp/examples/core/example_dem_contact_list.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Suppress cppcheck 2.20 false positives
  warp/native/solid_angle.h
  warp/native/texture.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revise pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add GitLab merge request description template
  .gitlab/merge_request_templates/Default.md
Due: none

Enable faulthandler in CI for better crash diagnostics
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip test_ffi_callback on device ordinal > 0
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add kitmaker_release.py for automated wheel publishing
  tools/ci/publishing/kitmaker_release.py
Due: linux-x86_64 test mujoco warp

docs(examples): clarify HashGrid cell_size contract and Pass 1 comment
  warp/examples/core/example_dem_contact_list.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
