Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Improve SVD and QR documentation [GH-1857]
  changelog/1857.documentation.md
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.qr3.rst.txt
  latest/_sources/language_reference/_generated/warp.svd2.rst.txt
  latest/_sources/language_reference/_generated/warp.svd3.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.qr3.html
  latest/language_reference/_generated/warp.svd2.html
  latest/language_reference/_generated/warp.svd3.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Update CUDA 12 builder image digests
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip atomic CAS spinlock tests on pre-Volta devices [GH-1958]
  warp/tests/test_atomic_cas.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Move aarch64 GPU tests to IPP
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Two September 2026 Publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Revert shared mesh query core [GH-1844]
  changelog/1844.changed.md
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore mesh ray-query occupancy (GH-1840)
  changelog/1840.changed.md
  changelog/1843.changed.md
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.18.0rc2
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Correct the launch_coord_tile comment and record the screening result
  docs_tile_launch_coord_measurements.md
  warp/native/builtin.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Expand the measurement record to the full per-workload evidence
  docs_tile_launch_coord_measurements.md
Due: none

Add block-Jacobi preconditioner to warp.optim.linear [GH-1891]
  changelog/1891.added.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/api_reference/_generated/warp.optim.linear.preconditioner.html
  latest/searchindex.js
Due: none

Fix first-sample FEM gradients (GH-1970)
  changelog/+first-sample-interpolation-gradients.fixed.md
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Trim benchmark docs and clarify release note (GH-1970)
  asv/benchmarks/sparse/transpose.md
  asv/benchmarks/sparse/transpose.py
  changelog/+first-sample-interpolation-gradients.fixed.md
Due: linux-x86_64 asv

Add graph-safe active-entry CUDA BSR transpose
  asv/benchmarks/sparse/transpose.py
  changelog/+row-transpose.changed.md
  warp/native/sparse.cu
  warp/tests/test_apic.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Evaluate only the first eligible sample (GH-1970)
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Warm modules before graph capture (GH-1971)
  asv/benchmarks/sparse/transpose.py
  warp/tests/fem/test_fem_integrate.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce transpose radix-sort work (GH-1971)
  asv/benchmarks/sparse/transpose.md
  changelog/1971.changed.md
  warp/native/sparse.cu
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pack active FEM row capacities (GH-1970)
  changelog/1970.changed.md
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document transpose measurements (GH-1971)
  asv/benchmarks/sparse/transpose.md
  asv/benchmarks/sparse/transpose.py
  changelog/+row-transpose.changed.md
  changelog/1970.changed.md
  changelog/1971.changed.md
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve first sampling in FEM row compression
  changelog/+first-row-compression.changed.md
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Link the FEM gradient fix to its issue (GH-1978)
  changelog/1978.fixed.md
Due: none

Speed up BSR transpose and first-sample FEM construction [GH-1970, GH-1971]
  asv/benchmarks/sparse/transpose.py
  changelog/1970.changed.md
  changelog/1971.changed.md
  changelog/1978.fixed.md
  warp/_src/fem/integrate.py
  warp/native/sparse.cu
  warp/tests/fem/test_fem_integrate.py
  warp/tests/test_apic.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.interpolate.html
  latest/searchindex.js
Due: none

Remove misplaced external NVCC test
  warp/tests/cuda/test_texture_compiler.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Benchmark CPU tile operations
  .gitlab/ci/asv.yml
  asv/benchmarks/tile/array_sum.py
  asv/benchmarks/tile/gemm.py
  asv/benchmarks/tile/load_store_register.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix mathDx LTO target for sm_107
  warp/_src/build.py
  warp/tests/tile/test_tile_matmul.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore Marching Cubes bounds compatibility
  changelog/+warp-geometry-namespace.deprecated.md
  design/deprecations.md
  docs/user_guide/runtime.rst
  warp/_src/geometry/marching_cubes.py
  warp/tests/geometry/test_marching_cubes.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Preserve BSR and FEM performance [GH-1918]
  warp/_src/fem/space/shape/cube_shape_function.py
  warp/_src/sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: v1.18
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeBSplineShapeFunctions.html
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeNedelecFirstKindShapeFunctions.html
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeNonConformingPolynomialShapeFunctions.html
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeRaviartThomasShapeFunctions.html
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeSerendipityShapeFunctions.html
  v1.18/api_reference/_generated/warp.fem.space.shape.CubeTripolynomialShapeFunctions.html
  v1.18/api_reference/_generated/warp.sparse.bsr_mm.html
  v1.18/api_reference/_generated/warp.sparse.bsr_mm_work_arrays.html
  v1.18/api_reference/_generated/warp.sparse.bsr_mv.html
Due: none

Deploy docs: v1.18
  v1.18/_sources/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.rst.txt
  v1.18/_sources/user_guide/runtime.rst.txt
  v1.18/api_reference/_generated/warp.geometry.IsoSurfaceMarchingCubes.html
  v1.18/genindex.html
  v1.18/objects.inv
  v1.18/searchindex.js
  v1.18/user_guide/runtime.html
Due: none

Set version to 1.18.0rc3
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
