Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  ...

Add support for `IntEnum`, `IntFlag` inside Warp kernels (GH-529)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_enum.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Warp version to 1.8.1
  CHANGELOG.md
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Add a job to check for un-namespaced symbols
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CUDA 13 support, remove CUDA 11 support (GH-738)
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
  .gitlab/ci/debug-build-and-test.yml
  CHANGELOG.md
  deps/cuda-toolkit-deps.packman.xml
  docs/index.rst
  docs/installation.rst
  tools/ci/publishing/set_nightly_version.py
  warp/build_dll.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/nanovdb/tools/cuda/PointsToGrid.cuh
  warp/native/reduce.cu
  warp/native/sparse.cu
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix cu13 artifactory jobs
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp

Update NanoVDB to latest (GH-888)
  warp/native/nanovdb/GridHandle.h
  warp/native/nanovdb/HostBuffer.h
  warp/native/nanovdb/NanoVDB.h
  warp/native/nanovdb/NodeManager.h
  warp/native/nanovdb/PNanoVDB.h
  warp/native/nanovdb/cuda/DeviceBuffer.h
  warp/native/nanovdb/cuda/DeviceResource.h
  warp/native/nanovdb/cuda/GridHandle.cuh
  warp/native/nanovdb/cuda/NodeManager.cuh
  warp/native/nanovdb/cuda/TempPool.h
  warp/native/nanovdb/math/Math.h
  warp/native/nanovdb/tools/GridChecksum.h
  warp/native/nanovdb/tools/cuda/GridChecksum.cuh
  warp/native/nanovdb/tools/cuda/PointsToGrid.cuh
  warp/native/nanovdb/util/ForEach.h
  warp/native/nanovdb/util/Range.h
  warp/native/nanovdb/util/Util.h
  warp/native/nanovdb/util/cuda/Timer.h
  warp/native/nanovdb/util/cuda/Util.h
  warp/native/volume_builder.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix FfiCallable to skip 'return' argument in FFI callback registration (GH-893)
  CHANGELOG.md
  warp/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add a job to publish cu13 wheels to Artifactory
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp

Revise marching cubes documentation for clarity (GH-813)
  docs/modules/runtime.rst
  warp/marching_cubes.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix flaky test.
  warp/tests/tile/test_tile_matmul.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update random number generator seeds in examples and documentation for consistency
  docs/modules/runtime.rst
  warp/examples/fem/example_apic_fluid.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Implement `str()` and `repr()` for scalar types
  CHANGELOG.md
  warp/tests/test_print.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update changelog
  CHANGELOG.md
Due: none

Support writing nested matrix components
  warp/builtins.py
  warp/native/mat.h
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Simplify unwinding loop
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refactor
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Centralize rhs evaluation
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid exceptions
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Rename shadowed parameter
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Separate emitting indexing code into a function
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Separate evaluating index nodes into a function
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Recursively emit indexing code
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG
  CHANGELOG.md
Due: none

Report straddling comma separated array indexing as a syntax error
  warp/codegen.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix default emission of `#line` directives in debug mode for Python↔CUDA source correlation (GH-901)
  CHANGELOG.md
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix typos and improve formatting
  warp/examples/fem/example_apic_fluid.py
  warp/tests/geometry/test_marching_cubes.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix placement of changelog entry
  CHANGELOG.md
Due: none

Use updated devplat template
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/debug-build-and-test.yml
  .gitlab/ci/kit-extensions.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pass arguments to CPU kernels through a struct (GH-356)
  warp/codegen.py
  warp/context.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Run CI on the latest macOS version (ARM64 instead of x86-64)
  .github/workflows/ci.yml
Due: none

Add device breakpoint support for CUDA debugging (GH-795)
  CHANGELOG.md
  docs/debugging.rst
  warp/codegen.py
  warp/native/builtin.h
  warp/native/warp.cu
  warp/thirdparty/unittest_parallel.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Work around ARM64 precision issue (GH-905)
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

DeprecationWarning for Intel-based macOS (GH-867)
  CHANGELOG.md
  warp/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use re-export conventions in __init__.py
  CHANGELOG.md
  pyproject.toml
  warp/__init__.py
  warp/__init__.pyi
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Skip adjoint function codegen if not required (GH-841)
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
