Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Deploy docs: latest
  latest/api_reference/_generated/warp.fabricarray.html
  latest/api_reference/_generated/warp.fabricarrayarray.html
  latest/api_reference/_generated/warp.indexedfabricarray.html
  latest/api_reference/_generated/warp.indexedfabricarrayarray.html
  latest/searchindex.js
Due: none

Add Minkowski-offset BVH and mesh queries (sphere + capsule) [GH-1741]
  asv/benchmarks/spatial_query.py
  changelog/1741.added.md
  changelog/1741.changed.md
  docs/api_reference/warp.rst
  docs/conf.py
  docs/language_reference/builtins.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/types.py
  warp/examples/benchmarks/benchmark_bvh.py
  warp/native/bvh.h
  warp/native/intersect.h
  warp/native/mesh.h
  warp/native/tile_bvh.h
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_mesh_query_aabb.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix divergent CUDA texture sampling [GH-1811]
  asv/benchmarks/texture.py
  changelog/1811.fixed.md
  warp/native/texture.h
  warp/native/warp.cu
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce CPU radix sort TLS use [GH-1821]
  changelog/1820.fixed.md
  warp/native/sort.cpp
  warp/tests/test_core_library_binary.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Propagate parallel module load errors [GH-1749]
  changelog/1749.fixed.md
  warp/_src/context.py
  warp/tests/test_module_parallel_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.compile_aot_module.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.force_load.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.get_module_options.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.load_aot_module.html
  latest/api_reference/_generated/warp.load_module.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.set_module_options.html
Due: none

Extend wp.kernel to support maxnreg and register-to-shared-memory-spilling GH-1671
  changelog/1671.added.md
  docs/user_guide/configuration.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/cuda/test_cuda_max_registers.py
  warp/tests/cuda/test_cuda_smem_spilling.py
  warp/tests/test_module_hashing.py
  warp/tests/test_unique_module.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add hooks for external tools to register their functionality GH-1575 GH-1561
  changelog/1561.added.md
  changelog/1575.added.md
  design/external-compilation-extensions.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_build_experimental.rst
  docs/index.rst
  docs/user_guide/configuration.rst
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/build.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/external_build.py
  warp/_src/tape.py
  warp/_src/types.py
  warp/build_experimental.py
  warp/native/clang/clang.cpp
  warp/tests/aot/test_module_aot.py
  warp/tests/cuda/test_kernel_attributes.py
  warp/tests/test_codegen.py
  warp/tests/test_compilation.py
  warp/tests/test_external_build.py
  warp/tests/test_generics.py
  warp/tests/test_modules_lite.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify BSR block counts [GH-1764]
  docs/domain_modules/sparse.rst
  warp/_src/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/domain_modules/sparse.rst.txt
  latest/api_reference/_generated/warp.sparse.BsrMatrix.html
  latest/api_reference/_generated/warp.sparse.bsr_assign.html
  latest/api_reference/_generated/warp.sparse.bsr_axpy.html
  latest/api_reference/_generated/warp.sparse.bsr_axpy_work_arrays.html
  latest/api_reference/_generated/warp.sparse.bsr_compress.html
  latest/api_reference/_generated/warp.sparse.bsr_copy.html
  latest/api_reference/_generated/warp.sparse.bsr_diag.html
  latest/api_reference/_generated/warp.sparse.bsr_from_triplets.html
  latest/api_reference/_generated/warp.sparse.bsr_get_diag.html
  latest/api_reference/_generated/warp.sparse.bsr_identity.html
  latest/api_reference/_generated/warp.sparse.bsr_matrix_t.html
  latest/api_reference/_generated/warp.sparse.bsr_mm.html
  latest/api_reference/_generated/warp.sparse.bsr_mm_work_arrays.html
  latest/api_reference/_generated/warp.sparse.bsr_mv.html
  latest/api_reference/_generated/warp.sparse.bsr_scale.html
  latest/api_reference/_generated/warp.sparse.bsr_set_diag.html
  latest/api_reference/_generated/warp.sparse.bsr_set_from_triplets.html
  latest/api_reference/_generated/warp.sparse.bsr_set_identity.html
  latest/api_reference/_generated/warp.sparse.bsr_set_transpose.html
  latest/api_reference/_generated/warp.sparse.bsr_set_zero.html
  latest/api_reference/_generated/warp.sparse.bsr_transposed.html
  latest/api_reference/_generated/warp.sparse.bsr_zeros.html
  latest/domain_modules/sparse.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Limit usd-exchange below version 3
  changelog/+limit-usd-exchange-version.fixed.md
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Refine external compilation behavior [GH-1575]
  changelog/1561.added.md
  design/external-compilation-extensions.md
  docs/user_guide/configuration.rst
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/types.py
  warp/tests/cuda/test_occupancy.py
  warp/tests/test_external_build.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.17.0rc1
  VERSION.md
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate tile_broadcast target rank (GH-1780)
  changelog/1780.fixed.md
  warp/_src/builtins.py
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(hip): enable ROCm/HIP graph capture with mempools and empty arrays
  docs/conf.py
  warp/_src/context.py
  warp/_src/tape.py
  warp/_src/types.py
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix built-in Python badges [GH-1825]
  changelog/1825.documentation.md
  docs/conf.py
Due: none

Fix built-in Python badges [GH-1825]
  docs/conf.py
Due: none

Update locked USD dependencies
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update locked USD dependencies [GH-1828]
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve ASV regression signals
  asv/benchmarks/native_library_footprint.py
  asv/benchmarks/spatial_query.py
Due: linux-x86_64 asv

Remove internal bug tracker references
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid eager APIC imports [GH-1829]
  changelog/1829.fixed.md
  warp/_src/context.py
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
Due: none

Prepare Warp 1.16.1 release (GH-1829)
  CHANGELOG.md
  VERSION.md
  changelog/1829.fixed.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add page source copy control
  docs/_static/copy-page-source.js
  docs/_static/custom.css
  docs/_templates/view-page-source.html
  docs/conf.py
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
