Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Support Boolean DLPack imports
  CHANGELOG.md
  warp/_src/dlpack.py
  warp/tests/interop/test_dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Align Boolean DLPack aliases
  warp/_src/dlpack.py
  warp/tests/interop/test_dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate optimizer state across devices (GH-1615)
  CHANGELOG.md
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump version to 1.15.0
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Finalize CHANGELOG for 1.15.0 release
  CHANGELOG.md
Due: none

Improve geometry built-in docstrings (GH-1498)
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add documentation for non-blocking streams and add Stream.is_blocking property [GH-1618]
  CHANGELOG.md
  docs/deep_dive/concurrency.rst
  docs/user_guide/interoperability_pytorch.rst
  warp/_src/context.py
  warp/_src/torch.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_streams.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate optimizer state across devices [GH-1615]
  CHANGELOG.md
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.Adam.html
  latest/api_reference/_generated/warp.optim.SGD.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Mark texture mipmap support as experimental in CHANGELOG
  CHANGELOG.md
Due: none

Deploy docs: v1.15
  v1.15/user_guide/changelog.html
Due: none

Support Boolean DLPack imports [GH-1619]
  CHANGELOG.md
  warp/_src/dlpack.py
  warp/tests/interop/test_dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.from_dlpack.html
  latest/api_reference/_generated/warp.to_dlpack.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Handle inactive batched solver tails (GH-1608)
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearOperator.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.aslinearoperator.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/api_reference/_generated/warp.optim.linear.preconditioner.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Remove duplicate per-kernel option hashing in hash_kernel
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Windows CUDA static linking
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Honor pre-set PM_PYTHON_EXT in Packman [GH-1626]
  build_lib.py
  build_llvm.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Upgrade cu13 libmathdx dependency to version 0.4.0
  deps/libmathdx-deps.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.device_from_torch.html
  latest/api_reference/_generated/warp.from_torch.html
  latest/api_reference/_generated/warp.to_torch.html
  latest/user_guide/devices.html
  latest/user_guide/interoperability_pytorch.html
Due: none

Use Sysmon Coverage Core
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Make Fake Frame Compatible With Sysmon
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid Unrelated Loads in Tiled Dot Test
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix get_cmap call in examples/fem/utils.py to work with recent versions of matplotlib.
  warp/examples/fem/utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update coverage configuration
  pyproject.toml
  warp/tests/test_linear_solvers.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Render array annotation repr in subscript form
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/test_subscript_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix kernel hook cache leak for closure-created kernels [GH-1589]
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_codegen_instancing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update publications list with two new 2026 entries
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/publications.html
Due: none

Bump PyTorch to 2.13.0 and cuda-toolkit to 13.0.3
  uv.lock
Due: none

Stabilize BVH build benchmark
  asv/benchmarks/bvh_build.py
Due: linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
