Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Fix graph capture issue
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.py
Due: none

Bump version to 1.7.0-rc.2
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Disable the mandelbrot test on Windows
  .gitlab/ci/kit-extensions.yml
  exts/omni.warp/omni/warp/nodes/tests/test_sample_texture_mandelbrot.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix the jitter for the OgnParticlesFromMesh node
  CHANGELOG.md
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesFromMesh.py
Due: none

Cap libmathdx output to SM90
  warp/build.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.7.0-rc.3
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Expose Device.sm_count to get the number of SMs (GH-584)
  CHANGELOG.md
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/test_devices.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix uninitialized variable in warp.cu.
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve the logic for frame stepping the Kit tests
  exts/omni.warp/omni/warp/nodes/tests/_common.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_cloth_simulation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_marching_cubes.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_mesh_deformation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_mesh_deformation_kernel_node.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_ocean.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_drop.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_throw.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_prim_flocking.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_texture_mandelbrot.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_wave_deformation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_wave_solver.py
Due: none

Make the test renders more deterministic
  exts/omni.warp/config/extension.toml
Due: none

Re-enable the Mandelbrot test
  exts/omni.warp/omni/warp/nodes/tests/test_sample_texture_mandelbrot.py
Due: none

Refresh the golden images with the new settings
  exts/omni.warp/omni/warp/nodes/tests/data/cloth_simulation_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/cloth_simulation_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/marching_cubes_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/marching_cubes_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/mesh_deformation_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/mesh_deformation_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/mesh_deformation_kernel_node_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/mesh_deformation_kernel_node_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/ocean_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/ocean_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/particles_simulation_drop_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/particles_simulation_drop_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/particles_simulation_throw_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/particles_simulation_throw_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/texture_mandelbrot_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/texture_mandelbrot_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/wave_deformation_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/wave_deformation_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/data/wave_solver_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/wave_solver_fsd_on.png
Due: none

Add external resource interoperability
  warp/__init__.py
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reduce the number of test suites being run in Kit
  exts/omni.warp.core/omni/warp/core/tests/test_ext.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Clarify behaviour for `wp.quat_from_matrix`
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.7.0-rc.4
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add an example to show mesh sampling using a CDF
  CHANGELOG.md
  README.md
  docs/img/examples/core_sample_mesh.png
  docs/index.rst
  warp/examples/core/example_sample_mesh.py
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix returns in grid-stride loops (GH-594)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix VBDIntegrator bending force calculation for non-zero rest angles
  warp/sim/integrator_vbd.py
  warp/tests/sim/test_vbd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Temporarily comment out CI rules for jetson test job in .gitlab-ci.yml until machine is back online
  .gitlab-ci.yml
Due: linux-x86_64 asv

Update FAQ with new project examples using Warp, including MuJoCo Warp
  docs/faq.rst
Due: none

Set version to 1.7.0
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Move asv.conf.json to top level
  asv.conf.json
Due: none

Update paths in asv.conf.json
  asv.conf.json
Due: none

Update ASV GitLab job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Document wp.sim.collide() (GH-582)
  docs/modules/sim.rst
  warp/sim/collide.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
