Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Composite type assign op speedup
  CHANGELOG.md
  asv/benchmarks/codegen/array2d_augassign.py
  docs/configuration.rst
  docs/modules/differentiability.rst
  warp/builtins.py
  warp/codegen.py
  warp/config.py
  warp/native/exports.h
  warp/native/mat.h
  warp/native/quat.h
  warp/native/vec.h
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-489 (matrix-matrix multiplication using single-precision fma)
  CHANGELOG.md
  warp/native/clang/clang.cpp
  warp/native/crt.h
  warp/native/mat.h
  warp/tests/test_mat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Masked variants for wp.sparse routines
  CHANGELOG.md
  warp/context.py
  warp/native/sparse.cpp
  warp/native/sparse.cu
  warp/native/warp.h
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

verify_autograd_array_access fix in codegen emit_Call()
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_overwrite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update ARM and Jetson CI test configurations
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update Jetson CI job configuration
  .gitlab-ci.yml
Due: linux-x86_64 asv

Temporarily disabling .omni_devplat_arm_docker_gpu
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update nightly build numbering and docs
  .gitlab-ci.yml
  README.md
  docs/installation.rst
  tools/ci/publishing/set_nightly_version.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add/fix typehints and refactoring for mypy issues
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/types.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Deploy Kit extensions to ARM64
  .gitlab/ci/cuda-11-build-and-test.yml
  repo.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fixes for jax_callable()
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a warning message if the libmathdx folder is not a symlink
  build_lib.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Temporarily make Jetson job manual start
  .gitlab-ci.yml
Due: linux-x86_64 asv

Better n-body example initial conditions
  README.md
  docs/img/examples/tile_mlp.png
  docs/img/examples/tile_nbody.png
  docs/img/examples/tile_walker.png
  docs/index.rst
  warp/examples/tile/example_tile_nbody.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Revert "Temporarily make Jetson job manual start"
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix CPU array init from a CUDA array interface type
  CHANGELOG.md
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix randi() documentation to show correct output range
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add `Launch` object documentation and support for adjoint kernels
  CHANGELOG.md
  docs/modules/runtime.rst
  warp/context.py
  warp/tests/test_launch.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump test timeout for example_sph
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add graph_compatible argument to jax_callable()
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add wp.bool to value_types
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Prevent Windows mgpu from failing GitLab pipelines
  .gitlab-ci.yml
Due: linux-x86_64 asv

Update tiles documentation with detailed tile reduction example
  docs/modules/tiles.rst
Due: none

Add aarch64 build and test to GitHub workflow (GH-528)
  .github/workflows/ci.yml
Due: none

Add memory access benchmarks for 2D array load/store patterns
  asv/benchmarks/memory_access.py
Due: none

Fix for non-aligned source and dest arrays in wp.tile_load()
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/tile/test_tile_load.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add atomic add benchmarks for SIMT and tile reduction methods
  asv/benchmarks/tile/array_sum.py
Due: none

Track all README images with Git LFS
  docs/img/examples/fem_apic_fluid.png
Due: none

Fix a repeated word typo
  docs/modules/sim.rst
Due: none

Update State and Class documentation
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Install libmathdx using Packman
  build_lib.py
  deps/libmathdx-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Ignore error when switching to a destroyed context
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use new Tile Cholesky API
  warp/sim/integrator_featherstone.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix constant colors written out to USD meshes
  CHANGELOG.md
  warp/examples/core/example_marching_cubes.py
  warp/examples/core/example_mesh.py
  warp/examples/core/example_wave.py
  warp/render/render_usd.py
  warp/sim/render.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
