Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Gradient updates for in-place add/sub using custom types
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Removed the deprecated API and documents from ModelBuilder due to API changes
  CHANGELOG.md
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add array attributes and update docstring
  CHANGELOG.md
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix memory access issues in particle-shape collisions (GH-362)
  CHANGELOG.md
  warp/sim/integrator_euler.py
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Change the graph coloring API in ModelBuilder
  warp/native/coloring.cpp
  warp/sim/graph_coloring.py
  warp/sim/integrator_vbd.py
  warp/sim/model.py
  warp/tests/test_coloring.py
  warp/tests/test_vbd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

warp.fem assembly: Fix superfluous argument
  warp/examples/fem/example_adaptive_grid.py
  warp/fem/field/virtual.py
  warp/fem/integrate.py
  warp/fem/linalg.py
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update CHANGELOG.md
  CHANGELOG.md
Due: none

1.5.0-rc.2 changes
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update CHANGELOG.md
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Add a missing "is"
  docs/modules/differentiability.rst
Due: none

Upgrade Ruff to 0.8.0
  .gitlab-ci.yml
  .pre-commit-config.yaml
  docs/requirements.txt
Due: none

Fix for non-atomic type in-place adds
  warp/codegen.py
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Adding FFT convolution samples
  warp/examples/tile/example_tile_convolution.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Remove np.random calls
  warp/examples/fem/example_apic_fluid.py
  warp/examples/tile/example_tile_convolution.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Enable NPY Ruff rule
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Document vector component assignment limitations
  CHANGELOG.md
  docs/modules/differentiability.rst
  docs/modules/runtime.rst
Due: none

Remove some admonishment blocks
  docs/modules/differentiability.rst
  docs/modules/runtime.rst
Due: none

Update CHANGELOG
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Adjustable vertex-triangle contact radius in SemiImplicitIntegrator
  CHANGELOG.md
  warp/sim/integrator_euler.py
  warp/sim/model.py
  warp/tests/test_collision.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update Changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Add missing tests to the default suite
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Increase some CPU example timeouts
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add introductory notebooks
  CHANGELOG.md
  README.md
  notebooks/core_01_basics.ipynb
  notebooks/core_02_generics.ipynb
  notebooks/core_03_points.ipynb
  notebooks/core_04_meshes.ipynb
  notebooks/core_05_volumes.ipynb
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Support topology updates in the OpenGL renderer
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add custom vec to non-atomic in-place add test cases
  warp/tests/test_array.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Warp + Tile: cuFFTDx filtering example
  warp/examples/tile/example_tile_filtering.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update tiles.rst
  docs/modules/tiles.rst
Due: none

Doc build fix after changing section titles
  docs/modules/tiles.rst
Due: none
