Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Remove old asv tile benchmarks
  asv/benchmarks/tile/bounds_check.py
  asv/benchmarks/tile/load_store.py
  asv/benchmarks/tile/shared_load_store_nd.py
Due: linux-x86_64 asv

Fix deterministic counter edge cases
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid deterministic merge conflicts
  warp/_src/codegen.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document deterministic helper flow
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add JAX FFI Host support
  warp/_src/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic option cache toggles
  warp/_src/context.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard integer atomics in counter passes
  warp/_src/codegen.py
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify deterministic comments
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Gate `/stable/` Promotion on the Release Tag (GH-1441)
  .github/workflows/sphinx.yml
  tools/ci/deploy_doc.py
Due: linux-x86_64 test mujoco warp

Apply LLVM 21 patch for clang.cpp
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG for JAX FFI Host support
  CHANGELOG.md
Due: none

Fix JAX FFI host registration typo
  warp/_src/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert changes to clang.cpp and CHANGELOG.md
  CHANGELOG.md
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Trim asv MeshQuery params and reduce NUM_QUERY_POINTS
  asv/benchmarks/spatial_query.py
Due: linux-x86_64 asv

Add tests for JAX FFI Host (CPU) support
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add wp.copysign(x, y) builtin (GH-1444)
  CHANGELOG.md
  docs/language_reference/builtins.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/builtin.h
  warp/native/exports.h
  warp/tests/test_special_values.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/.buildinfo
  latest/_sources/language_reference/_generated/warp.copysign.rst.txt
  latest/_sources/language_reference/builtins.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/genindex.html
  latest/language_reference/_generated/warp.copysign.html
  latest/language_reference/_generated/warp.cos.html
  latest/language_reference/builtins.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Tighten sphinx workflow triggers and version input
  .github/workflows/sphinx.yml
  tools/ci/deploy_doc.py
Due: linux-x86_64 test mujoco warp

Migrate tile tests to subscript annotations
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/test_future_annotations.py
  warp/tests/test_subscript_types.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_atomic_bitwise.py
  warp/tests/tile/test_tile_cholesky.py
  warp/tests/tile/test_tile_cholesky_no_mathdx.py
  warp/tests/tile/test_tile_fft.py
  warp/tests/tile/test_tile_func_arg.py
  warp/tests/tile/test_tile_load.py
  warp/tests/tile/test_tile_mathdx.py
  warp/tests/tile/test_tile_matmul.py
  warp/tests/tile/test_tile_matmul_no_mathdx.py
  warp/tests/tile/test_tile_mlp.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/tile/test_tile_solve.py
  warp/tests/tile/test_tile_solve_no_mathdx.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/tile/test_tile_stack.py
  warp/tests/tile/test_tile_view.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Make agent skills portable across Claude Code and Codex
  .codex/skills/changelog-audit/SKILL.md
  .codex/skills/changelog-audit/references/language-conventions.md
  .codex/skills/changelog-audit/references/sorting-rubric.md
  .codex/skills/release-audit/SKILL.md
  .codex/skills/release-audit/references/classification-rules.md
  .codex/skills/release-audit/references/language-review-examples.md
  .codex/skills/release-audit/references/render-rules.md
  .codex/skills/release-audit/references/report-template.md
  .codex/skills/release-audit/scripts/list_commits.py
  .codex/skills/release-notes/SKILL.md
  .codex/skills/release-notes/references/bugfix-release-template.md
  .codex/skills/release-notes/references/contributor-attribution.md
  .codex/skills/release-notes/references/feature-investigation.md
  .codex/skills/release-notes/references/feature-release-template.md
  .codex/skills/release-notes/references/style-rules.md
  .codex/skills/release-notes/scripts/list_contributors.py
  tools/sync_skills.py
Due: linux-x86_64 test mujoco warp

Migrate CUDA tests to subscript annotations
  warp/tests/cuda/test_async.py
  warp/tests/cuda/test_conditional_captures.py
  warp/tests/cuda/test_cuda_arch_suffix.py
  warp/tests/cuda/test_ipc.py
  warp/tests/cuda/test_multigpu.py
  warp/tests/cuda/test_streams.py
  warp/tests/cuda/test_texture.py
  warp/tests/test_factory_style_array_annotations.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Trim spatial query ASV parameters
  asv/benchmarks/spatial_query.py
Due: linux-x86_64 asv

Fix cuBQL BVH without mempool support (GH-1430)
  CHANGELOG.md
  warp/_src/context.py
  warp/_src/types.py
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/warp.h
  warp/tests/geometry/test_mesh.py
  warp/tests/geometry/test_mesh_query_ray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address cuBQL review feedback (GH-1430)
  warp/_src/types.py
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate geometry test annotations
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_grouped_bvh.py
  warp/tests/geometry/test_hash_grid.py
  warp/tests/geometry/test_marching_cubes.py
  warp/tests/geometry/test_mesh.py
  warp/tests/geometry/test_mesh_query_aabb.py
  warp/tests/geometry/test_mesh_query_point.py
  warp/tests/geometry/test_mesh_query_ray.py
  warp/tests/geometry/test_volume.py
  warp/tests/geometry/test_volume_write.py
  warp/tests/test_factory_style_array_annotations.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix cuBQL BVH without mempool support [GH-1430]
  CHANGELOG.md
  warp/_src/context.py
  warp/_src/types.py
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/warp.h
  warp/tests/geometry/test_mesh.py
  warp/tests/geometry/test_mesh_query_ray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Tune fastcall ASV sampling
  asv/benchmarks/fastcall.py
Due: linux-x86_64 asv

Install CUDA 13 JAX in GPU CI
  .github/workflows/ci.yml
Due: none

Add CUDA 13 Torch CI extra
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

fix formatting
  README.md
Due: none

Add skill sync pre-commit hook
  .pre-commit-config.yaml
  tools/pre-commit-hooks/sync_skills.py
Due: linux-x86_64 test mujoco warp

Use CUDA 13 JAX and PyTorch in Linux GPU CI
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add Python 3.10 multi-GPU CI
  .github/workflows/ci.yml
Due: none

Migrate matrix tests to array subscript annotations
  warp/tests/matrix/test_mat.py
  warp/tests/matrix/test_mat_assign_copy.py
  warp/tests/matrix/test_mat_basics.py
  warp/tests/matrix/test_mat_constructors.py
  warp/tests/matrix/test_mat_elementwise_ops.py
  warp/tests/matrix/test_mat_linalg.py
  warp/tests/matrix/utils.py
  warp/tests/test_factory_style_array_annotations.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

ci: enable auto_sync_draft for copy-pr-bot
  .github/copy-pr-bot.yaml
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
