Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Fix tile_map output dtype for custom vector/matrix types (GH-1311)
  CHANGELOG.md
  warp/_src/builtins.py
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update uv from 0.8.23 to 0.11.0 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
Due: none

fix(tile): Use per-module enable_backward for LTO dispatch
  CHANGELOG.md
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix PCH reuse across module compilations on CUDA 12.x
  warp/_src/build.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use TemporaryDirectory for PCH dir cleanup
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add secret scanner allowlist for false positives
  .nspect-allowlist.toml
Due: none

Permit shared tile args in Warp functions (GH-1313)
  CHANGELOG.md
  docs/user_guide/tiles.rst
  warp/_src/codegen.py
  warp/native/tile.h
  warp/tests/tile/test_tile_func_arg.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add TestTileReduce to the debug test suite
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clean up 1.12.1 changelog
  CHANGELOG.md
Due: none

Bump version from 1.12.0 to 1.12.1rc1 for testing
  VERSION.md
  asv/tag_commits.txt
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use subscript-style type hints in docs and docstrings
  docs/deep_dive/codegen.rst
  docs/deep_dive/concurrency.rst
  docs/deep_dive/profiling.rst
  docs/user_guide/basics.rst
  docs/user_guide/configuration.rst
  docs/user_guide/debugging.rst
  docs/user_guide/devices.rst
  docs/user_guide/differentiability.rst
  docs/user_guide/generics.rst
  docs/user_guide/interoperability.rst
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
  docs/user_guide/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert "Temporarily disable Orin CI job while runner is offline"
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip scheduled workflow runs on forks
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

Add Greptile config to enable reviews on draft PRs
  .greptile/config.json
Due: none

Remove title prefixes from GitHub issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-question.md
  .github/ISSUE_TEMPLATE/4-documentation.md
Due: none

Suppress benign duplicate OpenMP target error in Clang CUDA builds
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Allow typed composite constructors to accept scalar literals
  warp/_src/builtins.py
  warp/tests/matrix/test_mat_constructors.py
  warp/tests/matrix/test_mat_lite.py
  warp/tests/test_codegen.py
  warp/tests/test_constant_precision.py
  warp/tests/test_generics.py
  warp/tests/test_vec.py
  warp/tests/test_vec_constructors.py
  warp/tests/test_vec_lite.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support mixed literals and variables in typed composite constructors
  warp/_src/builtins.py
  warp/tests/test_constant_precision.py
  warp/tests/test_vec_constructors.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Simplify typed constructor examples in docs
  docs/user_guide/runtime.rst
Due: none

Add changelog entry for typed composite constructors
  CHANGELOG.md
Due: none

Add tests for while True with conditional break (GH-115)
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove integer type support from isfinite(), isnan(), isinf()
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/builtin.h
  warp/native/exports.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add setp to typos allow list for PTX assembly
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix atomicAdd return type for unsigned long long in cuda_crt.h
  warp/native/cuda_crt.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CUDA compilation with bundled Clang/LLVM compiler (GH-1026)
  warp/_src/context.py
  warp/native/builtin.h
  warp/native/clang/clang.cpp
  warp/native/cuda_crt.h
  warp/native/texture.h
  warp/native/tile.h
  warp/native/volume.h
  warp/tests/cuda/test_clang_cuda.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify source buffer ownership transfer
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add structured kernel logging via wp.log() (GH-1194)
  CHANGELOG.md
  docs/user_guide/debugging.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/native/builtin.h
  warp/native/log.h
  warp/tests/bench_kernel_log.py
  warp/tests/test_kernel_log.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update docs to reflect short-circuit evaluation support (GH-1329)
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
Due: none

Add backward-pass tests for short-circuit `and`/`or` evaluation
  warp/tests/test_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add changelog entry for short-circuit evaluation fix (GH-1329)
  CHANGELOG.md
Due: none

Remove op_str_is_chainable() and comparison_chain_strings
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix short-circuit evaluation of chained `and`/`or` in kernels (GH-1329)
  warp/_src/codegen.py
  warp/tests/test_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add fill_mode parameter to tile Cholesky operations [GH-1318]
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/tile.h
  warp/tests/tile/test_tile_cholesky.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update uv.lock (Pygments 2.20.0, requests 2.33.1)
  uv.lock
Due: none

Fix bvh.cu compilation with CUDA 13.2 and GCC < 12
  warp/native/bvh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add wp.get_suggested_block_size API for CUDA occupancy queries (GH-1270)
  CHANGELOG.md
  docs/api_reference/warp.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_occupancy.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix review issues in kernel logging (GH-1194)
  docs/user_guide/debugging.rst
  warp/_src/codegen.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert over-engineered review fixes (GH-1194)
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Move kernel log buffers from device-scoped to stream-scoped (GH-1194)
  docs/user_guide/debugging.rst
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Drain kernel logs only on device sync, not stream sync
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
