Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Deploy docs: latest
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
Due: none

Document accepted output layouts for warp.fem.integrate() (GH-1912)
  warp/_src/fem/integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate tile squeeze axes [GH-1848]
  changelog/1848.fixed.md
  warp/_src/builtins.py
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.static.html
Due: none

Fix mixed-width texture sampling [GH-1920]
  asv/benchmarks/texture.py
  changelog/1920.fixed.md
  warp/native/texture.h
  warp/tests/cuda/test_texture_compiler.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix vec4 Volume Gradient Sampling [GH-1691]
  changelog/+volume-allocation-supported-types.documentation.md
  changelog/+volume-sample-index-value-type-check.fixed.md
  changelog/1691.added.md
  changelog/1691.fixed.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/types.py
  warp/native/volume.h
  warp/native/volume_builder.h
  warp/tests/geometry/test_volume.py
  warp/tests/geometry/test_volume_write.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.volume_sample_grad.rst.txt
  latest/_sources/language_reference/_generated/warp.volume_sample_grad_index.rst.txt
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.volume_sample_grad.html
  latest/language_reference/_generated/warp.volume_sample_grad_index.html
  latest/searchindex.js
Due: none

Harden NanoVDB file loading [GH-1895]
  VERSION.md
  changelog/1895.fixed.md
  warp/_src/context.py
  warp/_src/types.py
  warp/config.py
  warp/native/version.h
  warp/native/volume.cpp
  warp/native/warp.h
  warp/tests/geometry/test_volume.py
  warp/tests/geometry/test_volume_validation.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove deprecated JAX compatibility APIs [GH-1904]
  changelog/1904.removed.md
  design/deprecations.md
  docs/generate_reference.py
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/jax_experimental/__init__.py
  warp/jax_experimental/_deprecation.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.JaxCallableGraphMode.html
  latest/api_reference/_generated/warp.JaxModulePreloadMode.html
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
Due: none

Remove deprecated logging flags [GH-1905]
  changelog/1905.removed.md
  design/deprecations.md
  design/unified-logging.md
  docs/api_reference/warp_config.rst
  docs/user_guide/debugging.rst
  warp/_src/build.py
  warp/_src/context.py
  warp/_src/jax/ffi.py
  warp/_src/logger.py
  warp/config.py
  warp/examples/benchmarks/benchmark_tile_matmul_pipelined.py
  warp/examples/fem/example_apic_fluid_multi_env.py
  warp/tests/test_diagnostics.py
  warp/tests/test_logger.py
  warp/tests/tile/test_tile_oob.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid routing unsupported dtypes into block_jacobi_tile
  changelog/1891.added.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add WIP HIP/ROCm shims
  pyproject.toml
  warp/native/cuda_util.h
  warp/native/hip_util.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Replace Vendored Parallel Test Runner
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/CODEOWNERS
  .gitlab/ci/common.yml
  CONTRIBUTING.md
  design/parallel-test-runner.md
  pyproject.toml
  tools/ci/test_unittest_parallel.py
  warp/_src/test_runner/__init__.py
  warp/_src/test_runner/artifacts.py
  warp/_src/test_runner/common.py
  warp/_src/test_runner/events.py
  warp/_src/test_runner/module_loads.py
  warp/_src/test_runner/pool.py
  warp/_src/test_runner/postmortem.py
  warp/_src/test_runner/runner.py
  warp/_src/test_runner/worker.py
  warp/_src/thirdparty/unittest_parallel.py
  warp/tests/__main__.py
  warp/tests/run_coverage_serial.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Close three diagnostics gaps found in review
  tools/ci/test_unittest_parallel.py
  warp/_src/test_runner/module_loads.py
  warp/_src/test_runner/postmortem.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update GitHub CI to CUDA 13.4.1
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
  .github/workflows/ci.yml
  CMakeLists.txt
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  docker/warp-cpp-test-env/Dockerfile
  docker/warp-cpp-test-env/README.md
  docker/warp-cpp-test-env/build.sh
  tools/ci/cuda_toolkit_lock.json
  tools/ci/cuda_toolkit_requirements.json
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp

Improve tile construction built-in docstrings [GH-1498]
  changelog/+tile-constructor-default-dtypes.changed.md
  changelog/+tile-random-invalid-range.fixed.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/tests/test_builtins_resolution.py
  warp/tests/tile/test_tile_empty.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_arange.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_empty.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_from_thread.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_full.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_ones.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_randf.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_randi.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_zeros.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile.html
  latest/language_reference/_generated/warp.tile_arange.html
  latest/language_reference/_generated/warp.tile_empty.html
  latest/language_reference/_generated/warp.tile_from_thread.html
  latest/language_reference/_generated/warp.tile_full.html
  latest/language_reference/_generated/warp.tile_ones.html
  latest/language_reference/_generated/warp.tile_randf.html
  latest/language_reference/_generated/warp.tile_randi.html
  latest/language_reference/_generated/warp.tile_zeros.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Prevent out-of-bounds segmented sorts [GH-1870]
  changelog/1870.fixed.md
  warp/_src/context.py
  warp/_src/utils.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.h
  warp/tests/test_apic_utility_algorithms.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.ScopedAllocator.html
  latest/api_reference/_generated/warp.ScopedCapture.html
  latest/api_reference/_generated/warp.ScopedCudaProfiler.html
  latest/api_reference/_generated/warp.ScopedDevice.html
  latest/api_reference/_generated/warp.ScopedLogLevel.html
  latest/api_reference/_generated/warp.ScopedLogger.html
  latest/api_reference/_generated/warp.ScopedMemoryTracker.html
  latest/api_reference/_generated/warp.ScopedMempool.html
  latest/api_reference/_generated/warp.ScopedMempoolAccess.html
  latest/api_reference/_generated/warp.ScopedPeerAccess.html
  latest/api_reference/_generated/warp.ScopedStream.html
  latest/api_reference/_generated/warp.ScopedTimer.html
  latest/api_reference/_generated/warp.TimingResult.html
  latest/api_reference/_generated/warp.map.html
  latest/api_reference/_generated/warp.timing_begin.html
  latest/api_reference/_generated/warp.timing_end.html
  latest/api_reference/_generated/warp.timing_print.html
  latest/api_reference/_generated/warp.utils.array_cast.html
  latest/api_reference/_generated/warp.utils.array_inner.html
  latest/api_reference/_generated/warp.utils.array_sum.html
  latest/api_reference/_generated/warp.utils.create_warp_function.html
  latest/api_reference/_generated/warp.utils.runlength_encode.html
  latest/api_reference/_generated/warp.utils.segmented_sort_pairs.html
  latest/api_reference/warp_utils.html
  latest/searchindex.js
Due: none

Fix host-only byte_offset_helper call (GH-1936)
  changelog/1936.fixed.md
  warp/native/array.h
  warp/native/sparse.cu
  warp/native/tile.h
  warp/native/tile_radix_sort.h
  warp/native/tile_reduce.h
  warp/native/tile_scan.h
  warp/tests/cuda/test_clang_cuda.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify slicing changelog entry (GH-1936)
  changelog/1936.fixed.md
Due: none

Harden empty CPU array conversion [GH-1898]
  changelog/1898.fixed.md
  warp/_src/types.py
  warp/tests/interop/test_torch.py
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Towncrier merge guidance
  .gitattributes
  AGENTS.md
Due: none

Fix deferred static kernel hashes (GH-1934)
  changelog/1934.fixed.md
  docs/user_guide/configuration.rst
  warp/_src/apic/capture.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_apic.py
  warp/tests/test_unique_module.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve late binding for helpers (GH-1934)
  changelog/1934.fixed.md
  docs/user_guide/configuration.rst
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/tests/test_apic.py
  warp/tests/test_module_variants.py
  warp/tests/test_unique_module.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

docs: fix docstring argument names that don't match signatures
  changelog/+fix-docstring-arg-names.documentation.md
  warp/_src/fem/field/__init__.py
  warp/_src/fem/geometry/partition.py
  warp/_src/fem/space/__init__.py
  warp/_src/render/render_usd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.CellBasedGeometryPartition.html
  latest/api_reference/_generated/warp.fem.ExplicitGeometryPartition.html
  latest/api_reference/_generated/warp.fem.LinearGeometryPartition.html
  latest/api_reference/_generated/warp.fem.make_collocated_function_space.html
  latest/api_reference/_generated/warp.fem.make_discrete_field.html
  latest/api_reference/_generated/warp.fem.make_trial.html
  latest/api_reference/_generated/warp.render.UsdRenderer.html
  latest/searchindex.js
Due: none

Revert incorrectly attributed contribution
  changelog/+fix-docstring-arg-names.documentation.md
  warp/_src/fem/field/__init__.py
  warp/_src/fem/geometry/partition.py
  warp/_src/fem/space/__init__.py
  warp/_src/render/render_usd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve first sampling in FEM row compression
  changelog/+first-row-compression.changed.md
  warp/_src/fem/integrate.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add graph-safe active-entry CUDA BSR transpose
  asv/benchmarks/sparse/transpose.py
  changelog/+row-transpose.changed.md
  warp/native/sparse.cu
  warp/tests/test_apic.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid CUDA 13.1 NVRTC State Bug
  VERSION.md
  changelog/+cuda-nvrtc-optimization-level.fixed.md
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

update changelog, shorten docstring on preconditioner and remove block_jacobi as an alias for block_jacobi_auto
  changelog/1891.added.md
  warp/_src/optim/linear.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
