Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Preserve PyTorch view aliasing [GH-1908]
  changelog/1908.fixed.md
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/_src/torch.py
  warp/_src/types.py
  warp/tests/interop/test_torch.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.array.html
  latest/api_reference/_generated/warp.array1d.html
  latest/api_reference/_generated/warp.array2d.html
  latest/api_reference/_generated/warp.array3d.html
  latest/api_reference/_generated/warp.array4d.html
  latest/api_reference/_generated/warp.fem.Temporary.html
  latest/api_reference/_generated/warp.fixedarray.html
  latest/api_reference/_generated/warp.from_ipc_handle.html
  latest/api_reference/_generated/warp.from_ptr.html
  latest/api_reference/_generated/warp.from_torch.html
  latest/api_reference/_generated/warp.indexedarray.html
  latest/api_reference/_generated/warp.indexedarray1d.html
  latest/api_reference/_generated/warp.indexedarray2d.html
  latest/api_reference/_generated/warp.indexedarray3d.html
  latest/api_reference/_generated/warp.indexedarray4d.html
  latest/api_reference/_generated/warp.stream_from_torch.html
  latest/api_reference/_generated/warp.stream_to_torch.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.to_torch.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
  latest/searchindex.js
Due: none

Deprecate the *_tiled query aliases (GH-1885)
  changelog/1885.deprecated.md
  design/deprecations.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_mesh_query_aabb.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.bvh_query_aabb_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.bvh_query_next_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.bvh_query_ray_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.mesh_query_aabb_next_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.mesh_query_aabb_tiled.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.bvh_query_aabb_tiled.html
  latest/language_reference/_generated/warp.bvh_query_next_tiled.html
  latest/language_reference/_generated/warp.bvh_query_ray_tiled.html
  latest/language_reference/_generated/warp.mesh_query_aabb_next_tiled.html
  latest/language_reference/_generated/warp.mesh_query_aabb_tiled.html
  latest/searchindex.js
Due: none

Honor dtype in Python-scope identity built-ins [GH-1839]
  changelog/1839.fixed.md
  warp/_src/context.py
  warp/native/exports.h
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set cuBLASDx Alignment and StaticBlockDim operators for tile_matmul() [GH-1938]
  changelog/1938.changed.md
  warp/_src/build.py
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/native/mathdx.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/tile/test_tile_matmul.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CI to CUDA 13.4.2
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
  .github/workflows/ci.yml
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
  docker/warp-cpp-test-env/Dockerfile
  docker/warp-cpp-test-env/README.md
  docker/warp-cpp-test-env/build.sh
  tools/ci/cuda_toolkit_lock.json
  tools/ci/cuda_toolkit_requirements.json
Due: linux-x86_64 test mujoco warp

Improve tile query and stack built-in docstrings [GH-1498]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.bvh_query_aabb_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.bvh_query_next_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.bvh_query_ray_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.mesh_query_aabb_next_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.mesh_query_aabb_tiled.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_bvh_query_aabb.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_bvh_query_next.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_bvh_query_ray.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_mesh_query_aabb.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_mesh_query_aabb_next.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_query_valid.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_stack.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_stack_clear.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_stack_count.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_stack_pop.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_stack_push.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.bvh_query_aabb_tiled.html
  latest/language_reference/_generated/warp.bvh_query_next_tiled.html
  latest/language_reference/_generated/warp.bvh_query_ray_tiled.html
  latest/language_reference/_generated/warp.mesh_query_aabb_next_tiled.html
  latest/language_reference/_generated/warp.mesh_query_aabb_tiled.html
  latest/language_reference/_generated/warp.tile_bvh_query_aabb.html
  latest/language_reference/_generated/warp.tile_bvh_query_next.html
  latest/language_reference/_generated/warp.tile_bvh_query_ray.html
  latest/language_reference/_generated/warp.tile_mesh_query_aabb.html
  latest/language_reference/_generated/warp.tile_mesh_query_aabb_next.html
  latest/language_reference/_generated/warp.tile_query_valid.html
  latest/language_reference/_generated/warp.tile_stack.html
  latest/language_reference/_generated/warp.tile_stack_clear.html
  latest/language_reference/_generated/warp.tile_stack_count.html
  latest/language_reference/_generated/warp.tile_stack_pop.html
  latest/language_reference/_generated/warp.tile_stack_push.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Update Packman CUDA to 13.4.2
  deps/cuda-toolkit-deps.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CUDA 13 GitLab CI images
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify pull request assignment rules
  AGENTS.md
Due: none

Fix Clang CUDA launch bounds (GH-1968)
  changelog/1968.fixed.md
  warp/native/cuda_crt.h
  warp/tests/cuda/test_clang_cuda.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize CUDA tile OOB subprocess test
  warp/tests/tile/test_tile_oob.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document transpose measurements (GH-1971)
  asv/benchmarks/sparse/transpose.md
  asv/benchmarks/sparse/transpose.py
  changelog/+row-transpose.changed.md
  changelog/1970.changed.md
  changelog/1971.changed.md
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce transpose radix-sort work (GH-1971)
  asv/benchmarks/sparse/transpose.md
  changelog/1971.changed.md
  warp/native/sparse.cu
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Work around Clang NVPTX atomic bug
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reserve raw shared storage in tile reductions
  warp/native/tile_reduce.h
  warp/tests/aux_test_tile_reduce_warnings.py
  warp/tests/tile/test_tile_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify optional dependency guidance
  docs/user_guide/compatibility.rst
  docs/user_guide/faq.rst
  docs/user_guide/installation.rst
Due: none

Add custom fluid checkpoint backward pass [GH-1963]
  README.md
  changelog/1963.documentation.md
  docs/index.rst
  docs/user_guide/faq.rst
  warp/examples/optim/example_fluid_checkpoint_custom_backward.py
  warp/tests/test_examples.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/compatibility.rst.txt
  latest/_sources/user_guide/faq.rst.txt
  latest/_sources/user_guide/installation.rst.txt
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/compatibility.html
  latest/user_guide/faq.html
  latest/user_guide/installation.html
Due: none

Deploy docs: latest
  latest/_sources/index.rst.txt
  latest/_sources/user_guide/faq.rst.txt
  latest/index.html
  latest/searchindex.js
  latest/user_guide/faq.html
Due: none

Set version to 1.18.0rc1
  README.md
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump Warp dev version to 1.19.0.dev0
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CUDA 12 builder image digests
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tiled BVH queries dropping results for non-power-of-two block sizes
  changelog/1746.fixed.md
  warp/native/tile_bvh.h
  warp/tests/geometry/test_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip atomic CAS spinlock tests on pre-Volta devices [GH-1958]
  warp/tests/test_atomic_cas.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile bounds handling and call-site validation [GH-1776]
  changelog/1744.fixed.md
  changelog/1745.fixed.md
  changelog/1746.fixed.md
  changelog/1748.fixed.md
  changelog/1776.fixed.md
  changelog/1780.fixed.md
  changelog/1781.fixed.md
  changelog/1782.fixed.md
  changelog/1784.fixed.md
  warp/_src/builtins.py
  warp/_src/types.py
  warp/native/tile.h
  warp/native/tile_reduce.h
  warp/tests/geometry/test_bvh.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_load.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Handle empty meshes and BVHs [GH-1765]
  changelog/1765.fixed.md
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/tests/geometry/test_mesh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix capture leaf joining and launch bounds overflow [GH-1787]
  changelog/1469.fixed.md
  changelog/1787.fixed.md
  changelog/1800.fixed.md
  warp/_src/context.py
  warp/_src/types.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/test_graph.py
  warp/tests/test_template_launch_bounds.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix misc Python diagnostics and evaluation order [GH-1913]
  changelog/1235.fixed.md
  changelog/1892.fixed.md
  changelog/1913.fixed.md
  changelog/1947.fixed.md
  changelog/1972.fixed.md
  changelog/972.fixed.md
  warp/__init__.pyi
  warp/_src/build_dll.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/_src/utils.py
  warp/tests/test_array.py
  warp/tests/test_codegen.py
  warp/tests/test_types.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Sort only destination-row bits in BSR transpose [GH-1971]
  changelog/1971.fixed.md
  warp/native/sparse.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden reviewed fixes against edge cases
  changelog/1744.fixed.md
  changelog/1765.fixed.md
  changelog/972.fixed.md
  warp/_src/builtins.py
  warp/_src/types.py
  warp/_src/utils.py
  warp/native/bvh.h
  warp/native/mesh.cu
  warp/native/mesh.h
  warp/native/sparse.cu
  warp/native/tile_bvh.h
  warp/native/tile_mesh.h
  warp/native/warp.cu
  warp/tests/geometry/test_bvh.py
  warp/tests/geometry/test_mesh.py
  warp/tests/test_array.py
  warp/tests/test_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review feedback on bounds checks and diagnostics
  warp/_src/context.py
  warp/native/bvh.cu
  warp/native/tile.h
  warp/tests/geometry/test_bvh.py
  warp/tests/test_array.py
  warp/tests/test_codegen.py
  warp/tests/tile/test_tile_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Recover the folded tile axis from the block index in tiled CUDA launches
  warp/_src/codegen.py
  warp/native/builtin.h
  warp/tests/tile/test_tile_launch_coord.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Move aarch64 GPU tests to IPP
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
