Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Add skill license headers
  .claude/skills/changelog-audit/SKILL.md
  .claude/skills/changelog-audit/references/language-conventions.md
  .claude/skills/changelog-audit/references/sorting-rubric.md
  .claude/skills/release-audit/SKILL.md
  .claude/skills/release-audit/references/classification-rules.md
  .claude/skills/release-audit/references/language-review-examples.md
  .claude/skills/release-audit/references/render-rules.md
  .claude/skills/release-audit/references/report-template.md
  .claude/skills/release-notes/SKILL.md
  .claude/skills/release-notes/references/bugfix-release-template.md
  .claude/skills/release-notes/references/contributor-attribution.md
  .claude/skills/release-notes/references/feature-investigation.md
  .claude/skills/release-notes/references/feature-release-template.md
  .claude/skills/release-notes/references/style-rules.md
  .codex/skills/changelog-audit/SKILL.md
  .codex/skills/changelog-audit/references/language-conventions.md
  .codex/skills/changelog-audit/references/sorting-rubric.md
  .codex/skills/release-audit/SKILL.md
  .codex/skills/release-audit/references/classification-rules.md
  .codex/skills/release-audit/references/language-review-examples.md
  .codex/skills/release-audit/references/render-rules.md
  .codex/skills/release-audit/references/report-template.md
  .codex/skills/release-notes/SKILL.md
  .codex/skills/release-notes/references/bugfix-release-template.md
  .codex/skills/release-notes/references/contributor-attribution.md
  .codex/skills/release-notes/references/feature-investigation.md
  .codex/skills/release-notes/references/feature-release-template.md
  .codex/skills/release-notes/references/style-rules.md
Due: none

Fix multi-line lambda extraction [GH-1351]
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_codegen.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Add multi-environment support to warp.fem (GH-1407)
  CHANGELOG.md
  docs/api_reference/warp_fem.rst
  docs/domain_modules/fem.rst
  warp/_src/fem/domain.py
  warp/_src/fem/field/field.py
  warp/_src/fem/geometry/adaptive_nanogrid.py
  warp/_src/fem/geometry/deformed_geometry.py
  warp/_src/fem/geometry/geometry.py
  warp/_src/fem/geometry/grid_2d.py
  warp/_src/fem/geometry/grid_3d.py
  warp/_src/fem/geometry/hexmesh.py
  warp/_src/fem/geometry/nanogrid.py
  warp/_src/fem/geometry/quadmesh.py
  warp/_src/fem/geometry/tetmesh.py
  warp/_src/fem/geometry/trimesh.py
  warp/_src/fem/operator.py
  warp/_src/fem/quadrature/pic_quadrature.py
  warp/_src/fem/space/grid_2d_function_space.py
  warp/_src/fem/space/grid_3d_function_space.py
  warp/_src/fem/space/partition.py
  warp/examples/fem/example_apic_fluid_multi_env.py
  warp/fem/__init__.py
  warp/tests/fem/test_fem_examples.py
  warp/tests/fem/test_fem_geometry.py
  warp/tests/fem/test_fem_multi_env.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pin nvidia.github.io/warp doc links to /stable/
  .github/PULL_REQUEST_TEMPLATE.md
  .gitlab/merge_request_templates/Default.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/user_guide/installation.rst
  notebooks/core_01_basics.ipynb
  notebooks/core_02_generics.ipynb
  pyproject.toml
  warp/_src/build_dll.py
  warp/_src/context.py
  warp/_src/types.py
  warp/examples/cpp/01_source_include/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/_sources/user_guide/installation.rst.txt
  latest/searchindex.js
  latest/user_guide/changelog.html
  latest/user_guide/installation.html
Due: none

Reinstate templated launch bounds [GH-1270]
  CHANGELOG.md
  docs/conf.py
  warp/_src/apic/capture.py
  warp/_src/apic/types.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/_src/types.py
  warp/examples/cpp/00_cubin_launch/README.md
  warp/examples/cpp/00_cubin_launch/main.cu
  warp/examples/cpp/01_source_include/README.md
  warp/examples/cpp/01_source_include/main.cu
  warp/examples/cpp/README.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/builtin.h
  warp/native/clang/clang.cpp
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/test_template_launch_bounds.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update idna to 3.15 in uv.lock
  uv.lock
Due: none

Improve graph allocation and deallocation logic (GH-1418)
  warp/_src/context.py
  warp/examples/benchmarks/benchmark_graph_allocs.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix mapped non-differentiable adjoints (GH-988)
  warp/_src/codegen.py
  warp/tests/test_map.py
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add coherent CPU GPU launch support (GH-1461)
  CHANGELOG.md
  design/hardware-coherent-memory-access.md
  design/pluggable-allocators.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_config.rst
  docs/deep_dive/memory_access.rst
  docs/generate_reference.py
  docs/index.rst
  docs/user_guide/devices.rst
  docs/user_guide/limitations.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/config.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_mempool.py
  warp/tests/cuda/test_peer.py
  warp/tests/cuda/test_unified_memory.py
  warp/tests/test_devices.py
  warp/tests/test_diagnostics.py
  warp/tests/test_graph.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bound launch warning cache
  warp/_src/context.py
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify memory access review docs
  design/pluggable-allocators.md
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify launch verification warning
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix config enum docs default
  docs/_templates/autosummary/base.rst
  docs/conf.py
Due: none

Update coherent memory design status
  design/hardware-coherent-memory-access.md
Due: none

Fix indexed array access checks
  docs/deep_dive/memory_access.rst
  docs/user_guide/limitations.rst
  warp/_src/context.py
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Phase 1: Hardware-coherent CPU/GPU launches [GH-1461]
  CHANGELOG.md
  design/hardware-coherent-memory-access.md
  design/pluggable-allocators.md
  docs/_templates/autosummary/base.rst
  docs/api_reference/warp.rst
  docs/api_reference/warp_config.rst
  docs/conf.py
  docs/deep_dive/memory_access.rst
  docs/generate_reference.py
  docs/index.rst
  docs/user_guide/devices.rst
  docs/user_guide/limitations.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/config.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_mempool.py
  warp/tests/cuda/test_peer.py
  warp/tests/cuda/test_unified_memory.py
  warp/tests/test_devices.py
  warp/tests/test_diagnostics.py
  warp/tests/test_graph.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pass fill value inline via array_fill kernel args [GH-1412]
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/cuda/test_array_fill_capture.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Release large test arrays sooner
  warp/tests/test_large.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Speed up launch dim normalization
  warp/_src/context.py
  warp/tests/test_template_launch_bounds.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update GitLab timeout handling
  .gitlab-ci.yml
  .gitlab/ci/asv.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/cuda-13-build.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.compile_aot_module.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.force_load.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.get_module_options.html
  latest/api_reference/_generated/warp.get_suggested_block_size.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.launch_function.html
  latest/api_reference/_generated/warp.launch_tiled.html
  latest/api_reference/_generated/warp.load_aot_module.html
  latest/api_reference/_generated/warp.load_module.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.set_module_options.html
  latest/api_reference/_generated/warp.synchronize.html
  latest/api_reference/_generated/warp.synchronize_device.html
  latest/api_reference/_generated/warp.synchronize_event.html
  latest/api_reference/_generated/warp.synchronize_stream.html
Due: none

Order multi-GPU test streams
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix(tile): int64 byte offsets for tile operations on >2 GB arrays [GH-1422]
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/tile/test_tile_large_offsets.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix L4 CUDA graph capture tests
  warp/tests/test_array.py
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document CUDA graph capture mode
  docs/user_guide/runtime.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Stabilize CUDA access tests
  warp/tests/cuda/test_mempool.py
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve fastcall half-float benchmark stability
  asv/benchmarks/fastcall.py
Due: linux-x86_64 asv

Add CUDA 13 DGX Spark CI test
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.14.0rc1
  VERSION.md
  asv/tag_commits.txt
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
