Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Update extension changelogs for 1.6.0-rc.2
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Use - .runner-build-linux-aarch64 for build job
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Temporarily disable test_sim_grad
  warp/tests/flaky_test_sim_grad.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip golden image testing on ETMs
  exts/omni.warp/omni/warp/nodes/tests/test_sample_cloth_simulation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_marching_cubes.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_mesh_deformation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_mesh_deformation_kernel_node.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_ocean.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_drop.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_particles_simulation_throw.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_texture_mandelbrot.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_wave_deformation.py
  exts/omni.warp/omni/warp/nodes/tests/test_sample_wave_solver.py
Due: none

Include more tests to the omni.warp.core extension
  exts/omni.warp.core/omni/warp/core/tests/test_ext.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.6.0-rc.3
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Make tile_assign() and tile_view() handle tuple inputs, fix for gradient propagation in dynamic loops when using tile views
  docs/modules/functions.rst
  warp/builtins.py
  warp/codegen.py
  warp/native/tile.h
  warp/sim/integrator_featherstone.py
  warp/stubs.py
  warp/tests/test_tile.py
  warp/tests/test_tile_view.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add all image files to Git LFS
  docs/img/joint_transforms.png
  docs/img/omniverse.png
  docs/img/profiling_nosync.png
  docs/img/profiling_sync.png
  exts/omni.warp.core/data/icon.png
  exts/omni.warp.core/data/preview.png
  exts/omni.warp/data/icon.png
  exts/omni.warp/data/preview.png
  exts/omni.warp/data/scenes/.thumbs/256x256/cloth_simulation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/marching_cubes.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/mesh_deformation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/mesh_deformation_kernel_node.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/ocean.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_drop.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_throw.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/prim_flocking.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/texture_mandelbrot.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/wave_deformation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/wave_solver.usda.png
Due: none

Update the APIC fluid example thumbnail
  docs/img/examples/fem_apic_fluid.png
  warp/examples/fem/example_apic_fluid.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

build_docs.py --quick to skip doctest
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
  .gitlab-ci.yml
  build_docs.py
Due: linux-x86_64 asv

Generic volume allocation
  CHANGELOG.md
  warp/builtins.py
  warp/context.py
  warp/native/volume.cpp
  warp/native/volume_builder.cu
  warp/native/volume_builder.h
  warp/native/warp.h
  warp/tests/test_volume.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix plot issue in example_torch.py (GH-460)
  warp/examples/core/example_torch.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix a repeated word typo
  docs/modules/sim.rst
Due: none

Update State and Class documentation
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a list of common tags to benchmark again
  benchmarks/tag_commits.txt
Due: linux-x86_64 asv

CUDA 12.8 Support
  deps/cuda-toolkit-deps.packman.xml
  warp/build_dll.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve error handling for tile builtins, update doc outputs
  docs/modules/functions.rst
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update component assignment benchmarks
  benchmarks/benchmarks/codegen/component_assignment.py
  benchmarks/benchmarks/codegen/component_augassign.py
Due: linux-x86_64 asv

Use .omni_devplat_arm_docker_gpu to target aarch GPU machines on GitLab CI
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix for benchmark_gemm.py typo, re-instate the partitioned register GEMM implementation (disabled)
  warp/examples/benchmarks/benchmark_gemm.py
  warp/native/tile.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix "too many arguments" build error
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add omni.kit.pip_archive dependency for NumPy
  exts/omni.warp.core/config/extension.toml
Due: none

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
