Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Reduce test_mat compile time
  warp/tests/matrix/test_mat.py
  warp/tests/matrix/utils.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject zero-step array slices (GH-1684)
  changelog/1684.fixed.md
  docs/user_guide/basics.rst
  docs/user_guide/runtime.rst
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/native/array.h
  warp/native/builtin.h
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip backward codegen in scalar and vector tests
  warp/tests/test_arithmetic.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
  warp/tests/test_vec_scalar_ops.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve generated test metadata
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review: reject non-positive extents, fix comment and changelog wording
  changelog/1745.fixed.md
  warp/_src/builtins.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile_scatter_add() docstring example to match its documented output
  changelog/1743.documentation.md
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tiled BVH queries dropping results for non-power-of-two block sizes
  changelog/1746.fixed.md
  warp/native/tile_bvh.h
  warp/tests/geometry/test_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile scatter add docstring example [GH-1743]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_scatter_add.rst.txt
  latest/language_reference/_generated/warp.tile_scatter_add.html
  latest/searchindex.js
Due: none

Document JAX staged graph modes
  docs/user_guide/interoperability/jax.rst
  warp/_src/jax/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/interoperability/jax.rst.txt
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/searchindex.js
  latest/user_guide/interoperability/jax.html
Due: none

Clarify contribution planning guidance
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: none

Deploy docs: latest
  latest/project/contribution_guide.html
  latest/searchindex.js
Due: none

Fix JAX FFI cache identity (GH-1215)
  changelog/1215.fixed.md
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve noise built-in docstrings [GH-1498]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.curlnoise.rst.txt
  latest/_sources/language_reference/_generated/warp.noise.rst.txt
  latest/_sources/language_reference/_generated/warp.pnoise.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.curlnoise.html
  latest/language_reference/_generated/warp.noise.html
  latest/language_reference/_generated/warp.pnoise.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Package LLVM SDK notices and provenance
  .github/workflows/build-llvm-sdk.yml
  design/llvm-sdk-conan-build.md
  tools/llvm/README.md
  tools/llvm/check_sdk.py
  tools/llvm/conanfile.py
  tools/llvm/deployers/llvm_sdk.py
  tools/llvm/license_bundle.py
  tools/llvm/package_sdk.py
Due: linux-x86_64 test mujoco warp

Remove deprecated texture copy aliases [GH-1722]
  changelog/1722.removed.md
  design/deprecations.md
  warp/_src/texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/api_reference/_generated/warp.Texture.rst.txt
  latest/_sources/api_reference/_generated/warp.Texture1D.rst.txt
  latest/_sources/api_reference/_generated/warp.Texture2D.rst.txt
  latest/_sources/api_reference/_generated/warp.Texture3D.rst.txt
  latest/api_reference/_generated/warp.GLTextureResource.html
  latest/api_reference/_generated/warp.Texture.html
  latest/api_reference/_generated/warp.Texture1D.html
  latest/api_reference/_generated/warp.Texture2D.html
  latest/api_reference/_generated/warp.Texture3D.html
  latest/api_reference/_generated/warp.TextureAddressMode.html
  latest/api_reference/_generated/warp.TextureFilterMode.html
  latest/api_reference/_generated/warp.TextureResourceFlags.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Reject zero-step array slices [GH-1684]
  changelog/1684.fixed.md
  docs/user_guide/basics.rst
  docs/user_guide/runtime.rst
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/native/array.h
  warp/native/builtin.h
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/basics.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.array.html
  latest/api_reference/_generated/warp.array1d.html
  latest/api_reference/_generated/warp.array2d.html
  latest/api_reference/_generated/warp.array3d.html
  latest/api_reference/_generated/warp.array4d.html
  latest/api_reference/_generated/warp.fem.Temporary.html
  latest/api_reference/_generated/warp.fixedarray.html
  latest/api_reference/_generated/warp.from_ipc_handle.html
  latest/api_reference/_generated/warp.from_ptr.html
  latest/api_reference/_generated/warp.indexedarray.html
  latest/api_reference/_generated/warp.indexedarray1d.html
  latest/api_reference/_generated/warp.indexedarray2d.html
  latest/api_reference/_generated/warp.indexedarray3d.html
  latest/api_reference/_generated/warp.indexedarray4d.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
  latest/searchindex.js
  latest/user_guide/basics.html
  latest/user_guide/runtime.html
Due: none

Improve closing issue comments
  .claude/skills/warp-closing-issue/SKILL.md
  .codex/skills/warp-closing-issue/SKILL.md
Due: none

Fix ternary array element adjoints [GH-1736]
  changelog/1736.fixed.md
  warp/_src/codegen.py
  warp/tests/test_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document native rebuild note and test process scaling in contribution guide
  CONTRIBUTING.md
Due: none

Remove implicit scalar-to-composite promotion [GH-1721]
  changelog/1721.deprecated.md
  changelog/1721.removed.md
  design/deprecations.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_launch.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Launch.html
  latest/api_reference/_generated/warp.WarpCodegenAttributeError.html
  latest/api_reference/_generated/warp.WarpCodegenError.html
  latest/api_reference/_generated/warp.WarpCodegenIndexError.html
  latest/api_reference/_generated/warp.WarpCodegenKeyError.html
  latest/api_reference/_generated/warp.WarpCodegenTypeError.html
  latest/api_reference/_generated/warp.WarpCodegenValueError.html
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.compile_aot_module.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.cuda_profiler_start.html
  latest/api_reference/_generated/warp.cuda_profiler_stop.html
  latest/api_reference/_generated/warp.force_load.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.get_module_options.html
  latest/api_reference/_generated/warp.get_suggested_block_size.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.launch_function.html
  latest/api_reference/_generated/warp.launch_tiled.html
  latest/api_reference/_generated/warp.load_aot_module.html
  latest/api_reference/_generated/warp.load_module.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.set_module_options.html
  latest/api_reference/_generated/warp.synchronize.html
  latest/api_reference/_generated/warp.synchronize_device.html
  latest/api_reference/_generated/warp.synchronize_event.html
  latest/api_reference/_generated/warp.synchronize_stream.html
Due: none

Fix ASV setup, headers, and atomic min seed
  asv.conf.json
  asv/benchmarks/api/array.py
  asv/benchmarks/api/launch.py
  asv/benchmarks/api/python_builtins.py
  asv/benchmarks/api/struct.py
  asv/benchmarks/atomics.py
  asv/benchmarks/benchmarks_utils.py
  asv/benchmarks/bvh_build.py
  asv/benchmarks/codegen/array2d_augassign.py
  asv/benchmarks/codegen/kernel_declaration.py
  asv/benchmarks/codegen/mat22_augassign.py
  asv/benchmarks/codegen/mat44_assignment.py
  asv/benchmarks/deterministic.py
  asv/benchmarks/examples/cloth.py
  asv/benchmarks/examples/mesh_intersect.py
  asv/benchmarks/fem/integrate.py
  asv/benchmarks/memory_access.py
  asv/benchmarks/sparse/matrix_matrix.py
  asv/benchmarks/sparse/matrix_vector.py
  asv/benchmarks/spatial_query.py
  asv/benchmarks/tile/array_sum.py
  asv/benchmarks/tile/compile_cholesky.py
  asv/benchmarks/tile/compile_fft.py
  asv/benchmarks/tile/compile_gemm.py
  asv/benchmarks/tile/gemm.py
  asv/benchmarks/tile/load_store_coalesced.py
  asv/benchmarks/tile/load_store_register.py
  asv/benchmarks/tile/load_store_scalar.py
  asv/benchmarks/tile/load_store_vectorized.py
  asv/benchmarks/tile/tile_alloc_shared.py
  asv/benchmarks/tile/tile_nbody.py
  asv/compare_to_main.sh
Due: linux-x86_64 asv

Standardize source file headers
  docs/Makefile
  docs/_static/custom.css
  docs/make.bat
  tools/ci/building/build-linux-aarch64/build.sh
  tools/ci/building/build-linux-x86_64/build.sh
  tools/ci/building/build-windows-x86_64/build.bat
  tools/repo.sh
  tools/repoman/repoman.py
  warp/_src/__init__.py
  warp/_src/apic/__init__.py
  warp/_src/fem/__init__.py
  warp/_src/optim/__init__.py
  warp/_src/render/__init__.py
  warp/examples/benchmarks/benchmark.bat
  warp/examples/benchmarks/benchmark.sh
  warp/native/sparse.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Align APIC docs and comments with design doc (GH-1639)
  changelog/1639.documentation.md
  docs/domain_modules/fem.rst
  docs/domain_modules/sparse.rst
  docs/user_guide/execution_and_performance/deterministic_execution.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  docs/user_guide/runtime.rst
  warp/_src/context.py
  warp/_src/sparse.py
  warp/_src/types.py
  warp/_src/utils.py
  warp/examples/cpp/02_apic_visualization/Makefile
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/capture_wave.py
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/Makefile
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/capture_wave.py
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/examples/cpp/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add missing Warp eval SPDX header
  skills/warp-eval/BENCHMARK.md
  skills/warp-eval/config/skillspector-baseline.yaml
  skills/warp-eval/evals/files/gate-d-cpu-incumbent-not-cuda/operation_api.py
  skills/warp-eval/skill-card.md
  skills/warp-eval/skill.oms.sig
Due: none

Key CPU cache by LLVM version [GH-1759]
  VERSION.md
  changelog/1759.fixed.md
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore required Apache license text
  LICENSE.md
Due: none

Document PyTorch Tape interop [GH-1737]
  changelog/1737.documentation.md
  docs/user_guide/interoperability/pytorch.rst
  warp/_src/tape.py
  warp/_src/torch.py
  warp/examples/core/example_torch.py
  warp/tests/interop/test_torch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/interoperability/pytorch.rst.txt
  latest/api_reference/_generated/warp.Tape.html
  latest/api_reference/_generated/warp.from_torch.html
  latest/api_reference/_generated/warp.stream_from_torch.html
  latest/api_reference/_generated/warp.stream_to_torch.html
  latest/api_reference/_generated/warp.to_torch.html
  latest/api_reference/warp.html
  latest/searchindex.js
  latest/user_guide/interoperability/pytorch.html
Due: none

Ignore trailing BSR capacity (GH-1769)
  changelog/1769.fixed.md
  warp/native/sparse.cu
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add HIP/ROCm build shims and codegen wrappers
  build_lib.py
  build_llvm.py
  warp/_src/build_dll.py
  warp/_src/codegen.py
  warp/native/array.h
  warp/native/builtin.h
  warp/native/crt.h
  warp/native/cuBQL/CMakeLists.txt
  warp/native/cuBQL/builder/cpu/spatialMedian.h
  warp/native/cuBQL/builder/cuda.h
  warp/native/cuBQL/builder/cuda/builder_common.h
  warp/native/cuBQL/builder/cuda/elh_builder.h
  warp/native/cuBQL/builder/cuda/gpu_builder.h
  warp/native/cuBQL/builder/cuda/instantiate_builders.cu
  warp/native/cuBQL/builder/cuda/rebinMortonBuilder.h
  warp/native/cuBQL/builder/cuda/sah_builder.h
  warp/native/cuBQL/builder/cuda/sm_builder.h
  warp/native/cuBQL/builder/cuda/wide_gpu_builder.h
  warp/native/cuBQL/bvh.h
  warp/native/cuBQL/math/affine.h
  warp/native/cuBQL/math/box.h
  warp/native/cuBQL/math/common.h
  warp/native/cuBQL/math/conservativeDistances.h
  warp/native/cuBQL/math/constants.h
  warp/native/cuBQL/math/linear.h
  warp/native/cuBQL/math/math.h
  warp/native/cuBQL/math/vec.h
  warp/native/cuBQL/queries/pointData/findClosest.h
  warp/native/cuBQL/queries/triangleData/Triangle.h
  warp/native/cuBQL/queries/triangleData/math/pointToTriangleDistance.h
  warp/native/cuBQL/queries/triangleData/math/rayTriangleIntersections.h
  warp/native/cuBQL/traversal/rayQueries.h
  warp/native/cuBQL/traversal/shrinkingRadiusQuery.h
  warp/native/cuda_util.h
  warp/native/hip_util.h
  warp/native/mat.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
