Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Add working radix sort using one thread block that can sort arbitrary long arrays
  docs/modules/functions.rst
  warp/builtins.py
  warp/examples/benchmarks/benchmark_tile_sort.py
  warp/native/builtin.h
  warp/native/tile_radix_sort.h
  warp/stubs.py
  warp/tests/tile/test_tile_sort.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support returning multiple values from Python
  docs/modules/functions.rst
  warp/builtins.py
  warp/context.py
  warp/native/exports.h
  warp/stubs.py
  warp/tests/test_codegen.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support returning multiple values from native func
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/stubs.py
  warp/tests/test_codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add distributed Jacobi solver example using MPI (GH-475)
  CHANGELOG.md
  warp/examples/distributed/example_jacobi_mpi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix changelog entries
  CHANGELOG.md
Due: none

Update GH workflows, add a default python version
  .github/PULL_REQUEST_TEMPLATE.md
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .python-version
Due: none

Consolidate Ruff CI jobs into a single one
  .gitlab-ci.yml
Due: linux-x86_64 asv

Make the single-GPU Windows job optional for merge requests
  .gitlab-ci.yml
Due: linux-x86_64 asv

aarch64 build jobs extend .omni_devplat_arm_compute
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a waiver for the `omni.warp.core` tests
  exts/omni.warp.core/config/extension.toml
Due: none

Update vec, quat, mat read/write tests
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update clang.cpp to work with newer LLVM versions.
  warp/native/clang/clang.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-614: inconsistent dimensions with DeformedGeometry from Trimesh3d
  CHANGELOG.md
  warp/fem/field/field.py
  warp/fem/field/nodal_field.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-618, add lookup operator test for supported geometries
  CHANGELOG.md
  warp/fem/geometry/adaptive_nanogrid.py
  warp/fem/geometry/trimesh.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support rhs quat attribute access (GH-625)
  CHANGELOG.md
  warp/builtins.py
  warp/codegen.py
  warp/native/mat.h
  warp/native/quat.h
  warp/native/vec.h
  warp/tests/test_quat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add transform_compose, transform_decompose math functions (GH-576)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/math.py
  warp/stubs.py
  warp/tests/test_ctypes.py
  warp/tests/test_mat.py
  warp/tests/test_spatial.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add argmin and argmax for the tile API (GH-615)
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/tile_reduce.h
  warp/stubs.py
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Cholesky solver LTO hash includes all necessary input parameters (GH-639)
  CHANGELOG.md
  warp/build.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support multiple colors in USD's `render_points()`
  CHANGELOG.md
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve type __repr__ implementations
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
  warp/tests/test_codegen.py
  warp/tests/test_mat.py
  warp/tests/test_vec.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix unrecognized #pragma warnings
  warp/native/tile_radix_sort.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip test_adaptive_nanogrid for Warp built with CTK 11
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix linting issue
  warp/codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip GPU testing of Raymarch example on Windows due to NVRTC bug
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Refactor build_lto_* functions to use a common build function (GH-434)
  warp/build.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Re-run the check_api repo tool
  exts/omni.warp/config/python_api.md
Due: none

Reenable Windows GPU job in CI
  .gitlab-ci.yml
Due: linux-x86_64 asv

Remove unneeded license text
  LICENSE.md
Due: none

Fix incorrect CI variable
  .gitlab/ci/cuda-11-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix typo in changelog: update `VDBIntegrator` to `VBDIntegrator` for...
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Conform type hints to recent linting rule changes
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix `show_joints` with the sim renderer set to USD
  CHANGELOG.md
  warp/render/render_usd.py
  warp/sim/render.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use USD's `framesPerSecond` for time sampling
  CHANGELOG.md
  exts/omni.warp/data/scenes/assets/geometries/boid.usda
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/marching_cubes.usda
  exts/omni.warp/data/scenes/mesh_deformation.usda
  exts/omni.warp/data/scenes/mesh_deformation_kernel_node.usda
  exts/omni.warp/data/scenes/ocean.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
  exts/omni.warp/data/scenes/prim_flocking.usda
  exts/omni.warp/data/scenes/texture_mandelbrot.usda
  exts/omni.warp/data/scenes/wave_deformation.usda
  exts/omni.warp/data/scenes/wave_solver.usda
  warp/examples/benchmarks/benchmark_cloth.py
  warp/render/render_usd.py
  warp/tests/assets/torus.usda
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a Blackwell GitLab testing job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Mention the conda-forge package in docs
  docs/installation.rst
Due: none

Fix Mat44 definition on Python 3.8
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove outdated contribution language
  README.md
  docs/index.rst
Due: none

Refactor and reenable test_collision
  warp/tests/sim/test_collision.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
