Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  ...

Fix scaling not being applied to template meshes
  CHANGELOG.md
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix unrecognized type errors when using tuples on Python 3.10 GH-959
  CHANGELOG.md
  warp/tests/test_tuple.py
  warp/tests/test_types.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore support for older GPU architectures (Maxwell, Pascal, Volta) in CUDA 12 build process
  CHANGELOG.md
  warp/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix invalid #line directives for wp.map() calls during codegen (GH-953)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_map.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix PTX/CUBIN and arch selection for conditional kernel compilation (GH-963)
  CHANGELOG.md
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix empty slice `arr[i:i]` causing errors
  CHANGELOG.md
  warp/tests/test_array.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump version to 1.9.1-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Fix missing arg
  warp/native/bvh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix formatting
  warp/tests/geometry/test_bvh_group_roots.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add grouped bvh implementation
  warp/__init__.pyi
  warp/builtins.py
  warp/context.py
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.h
  warp/tests/geometry/test_bvh_group_roots.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix rebase errors and precommit warnings
  warp/builtins.py
  warp/native/bvh.h
  warp/native/mesh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix default value
  warp/builtins.py
  warp/native/bvh.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

BVH query shared memory fixes
  warp/native/bvh.h
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Updated JAX tests and version checks (GH-619, GH-685)
  CHANGELOG.md
  docs/modules/interoperability.rst
  warp/examples/interop/example_jax_kernel.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/jax_experimental/xla_ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Updated JAX tests and version checks (GH-619, GH-685)
  CHANGELOG.md
  docs/modules/interoperability.rst
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
  warp/examples/interop/example_jax_kernel.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/jax_experimental/xla_ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Remove extraneous changelog entry
  CHANGELOG.md
Due: none

Enforce stricter versioning dependencies
  exts/omni.warp/config/extension.toml
Due: trigger kit extensions pipeline

Allow matching pre-releases
  exts/omni.warp/config/extension.toml
Due: trigger kit extensions pipeline

Bump to v1.9.1
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Add device ordinal xla plumbing
  warp/jax_experimental/ffi.py
  warp/jax_experimental/xla_ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document Python IntFlag limitations (GH-917)
  CHANGELOG.md
  docs/limitations.rst
Due: none

Add a BvhBuild benchmark class
  asv/benchmarks/bvh_build.py
Due: linux-x86_64 asv

Fix version string
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp/config/extension.toml
Due: trigger kit extensions pipeline

Use uv to publish wheels
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add bvh query max_dist filtering
  warp/__init__.pyi
  warp/builtins.py
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump to v1.8.2
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Cleanup mesh_query_ray
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support external events in CUDA graphs (GH-983)
  CHANGELOG.md
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_streams.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add new publications for September 2025 to PUBLICATIONS.md
  PUBLICATIONS.md
Due: none

Remove traversal during query to avoid extra work
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove call to deprecated overload of createTargetMachine
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CPU grouped bvh builder impl
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
