Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Reject keyword arguments from incompatible built-in overloads [GH-1841]
  changelog/1841.fixed.md
  warp/_src/context.py
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update GitLab C++ test image
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile_arange() dropping the last element [GH-1774]
  changelog/+tile-arange-invalid-calls.fixed.md
  changelog/1774.fixed.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/tests/test_constant_precision.py
  warp/tests/tile/test_tile_construction.py
  warp/tests/tile/test_tile_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_arange.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile_arange.html
  latest/searchindex.js
Due: none

Document portable APIC replay design (GH-1837)
  design/api-capture-and-cpu-graphs.md
  design/portable-apic-cuda-replay.md
Due: none

Share CUDA compilation options (GH-1837)
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Retain CUDA artifacts for APIC (GH-1837)
  warp/_src/apic/capture.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden test subprocesses
  warp/tests/test_array.py
  warp/tests/tile/test_tile_block_dim_mismatch.py
  warp/tests/tile/test_tile_oob.py
  warp/tests/tile/test_tile_print.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip atomic CAS spinlock tests on pre-Volta devices
  warp/tests/test_atomic_cas.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Unwind capture state when EndCapture fails
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate GitLab CI to CUDA 13 [GH-1955]
  .gitlab-ci.yml
  .gitlab/ci/asv.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  changelog/1955.changed.md
  docs/index.rst
  docs/user_guide/basics.rst
  docs/user_guide/compatibility.rst
  docs/user_guide/debugging.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  docs/user_guide/faq.rst
  docs/user_guide/installation.rst
  docs/user_guide/programming_model/code_generation.rst
  tools/ci/publishing/kitmaker_release.py
  warp/_src/context.py
  warp/tests/test_context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Serialize APIC CUDA source metadata (GH-1837)
  warp/_src/apic/types.py
  warp/_src/context.py
  warp/native/apic.cpp
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve AOT CUDA source filenames (GH-1837)
  warp/_src/context.py
  warp/tests/aot/test_module_aot.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document portable APIC replay support (GH-1837)
  changelog/1837.added.md
  docs/user_guide/runtime.rst
Due: none

Compile APIC modules for guest GPUs (GH-1837)
  warp/_src/context.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/warp.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enable CUDA wheels on Windows ARM64
  .github/workflows/ci.yml
  CMakeLists.txt
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Warp FEM topology optimization example [GH-1922]
  README.md
  changelog/1922.documentation.md
  docs/img/examples/fem_cantilever_topology_optimization.png
  docs/index.rst
  pyproject.toml
  uv.lock
  warp/examples/fem/example_cantilever_topology_optimization.py
  warp/tests/fem/test_fem_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/_images/fem_cantilever_topology_optimization.png
  latest/_sources/index.rst.txt
  latest/index.html
  latest/searchindex.js
Due: none

Add changelog fragment for the EndCapture unwind fix
  changelog/1957.fixed.md
Due: none

Attach the brace on the EndCapture guard to satisfy clang-format
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix NLopt example metadata
  README.md
  docs/index.rst
  pyproject.toml
  uv.lock
  warp/tests/fem/test_fem_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix NLopt example metadata [GH-1922]
  README.md
  docs/index.rst
  pyproject.toml
  uv.lock
  warp/tests/fem/test_fem_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/_sources/index.rst.txt
  latest/index.html
  latest/searchindex.js
Due: none

Build Windows ARM64 wheels with CUDA 13.4
  .github/workflows/ci.yml
  CMakeLists.txt
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add GitHub snapshot wheel versions
  .github/workflows/ci.yml
  tools/ci/publishing/update_git_hash.py
Due: linux-x86_64 test mujoco warp

Improve tile view built-in docstrings [GH-1498]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_assign.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_astype.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_broadcast.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_extract.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_reshape.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_slice_indexed.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_squeeze.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_transpose.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_view.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile_assign.html
  latest/language_reference/_generated/warp.tile_astype.html
  latest/language_reference/_generated/warp.tile_broadcast.html
  latest/language_reference/_generated/warp.tile_extract.html
  latest/language_reference/_generated/warp.tile_reshape.html
  latest/language_reference/_generated/warp.tile_slice_indexed.html
  latest/language_reference/_generated/warp.tile_squeeze.html
  latest/language_reference/_generated/warp.tile_transpose.html
  latest/language_reference/_generated/warp.tile_view.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Correct the pre-Volta comment per review
  warp/tests/test_atomic_cas.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refuse to sample 32-bit integer textures [GH-1731]
  changelog/1731.changed.md
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/texture.py
  warp/native/texture.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.texture_sample.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.GLTextureResource.html
  latest/api_reference/_generated/warp.Texture.html
  latest/api_reference/_generated/warp.Texture1D.html
  latest/api_reference/_generated/warp.Texture2D.html
  latest/api_reference/_generated/warp.Texture3D.html
  latest/api_reference/_generated/warp.TextureResourceFlags.html
  latest/language_reference/_generated/warp.texture_sample.html
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Relax CUDA FP16 loss tolerance
  warp/tests/test_quat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add ESG publication
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Bound graph color balancing [GH-1964]
  VERSION.md
  changelog/1964.fixed.md
  warp/_src/coloring.py
  warp/_src/context.py
  warp/config.py
  warp/native/coloring.cpp
  warp/native/version.h
  warp/native/warp.h
  warp/tests/test_coloring.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Run GitHub coverage on GH200
  .github/workflows/ci.yml
Due: none

Replace GB300 coverage with GH200
  .github/workflows/ci.yml
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
