Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.linalg.array_axpy.html
  latest/api_reference/_generated/warp.fem.linalg.symmetric_eigenvalues_qr.html
  latest/api_reference/_generated/warp.fem.linalg.tridiagonal_symmetric_eigenvalues_qr.html
  latest/searchindex.js
Due: none

Fix tile min/max scans on float extremes and uint32 [GH-2003]
  changelog/2003.fixed.md
  warp/native/tile_scan.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify integrate() output layout constraints (GH-1912)
  warp/_src/fem/integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip the array-access check on a zero-size launch (GH-2006)
  changelog/2006.fixed.md
  warp/_src/context.py
  warp/tests/test_overwrite.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid float16 overflow in the repeated-value svd2 adjoint (GH-1734)
  warp/native/svd.h
  warp/tests/matrix/test_mat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce Python built-in call overhead [GH-1983]
  changelog/1983.fixed.md
  warp/_src/context.py
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restrict CI metadata job token permissions
  .github/workflows/ci.yml
Due: none

Add September 2026 publications
  PUBLICATIONS.md
Due: none

Test Python 3.15 in GPU CI
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CPU-only doctest examples
  docs/user_guide/differentiability.rst
  docs/user_guide/programming_model/tiles.rst
  docs/user_guide/runtime.rst
Due: none

Benchmark CPU tile operations
  .gitlab/ci/asv.yml
  asv/benchmarks/tile/array_sum.py
  asv/benchmarks/tile/gemm.py
  asv/benchmarks/tile/load_store_register.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid Running nvcc During Toolkit Setup
  tools/ci/cuda_toolkit.py
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp

Fix stale web links
  CODE_OF_CONDUCT.md
  README.md
  build_llvm.py
  design/pluggable-allocators.md
  docs/conf.py
  docs/domain_modules/render.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  docs/user_guide/execution_and_performance/profiling.rst
  licenses/usd-LICENSE.txt
  warp/_src/paddle.py
  warp/_src/rmm_allocator.py
  warp/_src/thirdparty/appdirs.py
  warp/examples/core/example_raymarch.py
  warp/native/matnn.h
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Report MuJoCo inputs in CI summary
  .github/workflows/ci.yml
Due: none

Update Pepy download badge links
  README.md
Due: none

Set version to 1.18.0rc4
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard FEM QR against norm overflow (GH-2008)
  changelog/2008.fixed.md
  warp/_src/fem/linalg.py
  warp/tests/fem/test_fem_linalg.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Warp-related publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Clarify matrix inverse documentation [GH-1857]
  changelog/1857.documentation.md
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.inverse.rst.txt
  latest/_sources/language_reference/_generated/warp.inverse_approx.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.inverse.html
  latest/language_reference/_generated/warp.inverse_approx.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Document eig3 decomposition [GH-1857]
  changelog/1857.documentation.1.md
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.eig3.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.eig3.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Fix BVH ray face misses (GH-2011)
  changelog/2011.fixed.md
  warp/native/bvh.h
  warp/native/tile_bvh.h
  warp/tests/geometry/test_bvh.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Keep a zero dimension when broadcasting against 1.
  warp/_src/utils.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix optimizer gradient count (GH-1979)
  changelog/1979.fixed.md
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump urllib3 to 2.8.0
  uv.lock
Due: none

Update virtualenv to 21.14.2
  uv.lock
Due: none

Fix small-angle quaternion gradients (GH-2020)
  changelog/2020.fixed.md
  warp/native/quat.h
  warp/tests/test_quat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

test: cover small-angle quaternion axis gradients
  warp/tests/test_quat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix quat_to_axis_angle grad overflow (GH-2020)
  changelog/2020.fixed.md
  warp/native/quat.h
  warp/tests/test_quat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document Module Warp Functions Like Built-Ins
  docs/_ext/warp_function_reference.py
  docs/_ext/wp_builtin_tags.py
  docs/_ext/wp_function_tags.py
  docs/_static/custom.css
  docs/_templates/builtins.rst
  docs/_templates/warp_function.rst
  docs/api_reference/warp_fem.rst
  docs/api_reference/warp_fem_linalg.rst
  docs/api_reference/warp_geometry.rst
  docs/api_reference/warp_sparse.rst
  docs/conf.py
  docs/generate_reference.py
  docs/language_reference/builtins.rst
  warp/_src/context.py
  warp/_src/fem/linalg.py
  warp/_src/fem/types.py
  warp/_src/geometry/delaunay.py
  warp/_src/lang.py
  warp/_src/math.py
  warp/_src/sparse.py
  warp/_src/utils.py
  warp/fem/__init__.py
  warp/fem/linalg.py
  warp/geometry.py
  warp/sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix BVH construction for 2D DeformedGeometry (GH-1993)
  changelog/1993.fixed.md
  warp/_src/fem/geometry/deformed_geometry.py
  warp/tests/fem/test_fem_geometry.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix hashing static built-in functions (GH-2014)
  changelog/2014.fixed.md
  warp/_src/context.py
  warp/tests/test_static.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix captured constant attribute access (GH-2023)
  changelog/2023.fixed.md
  warp/_src/codegen.py
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Initialize conditionally-assigned locals in tile reductions (GH-1995)
  changelog/1995.fixed.md
  warp/native/tile_reduce.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
