Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Add a distributed Jacobi solver example using NCCL [GH-1576]
  CHANGELOG.md
  warp/examples/distributed/example_jacobi_nccl.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Fix tuple-unpack assignment to `wp.ref` parameters [GH-1581]
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_ref.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix build-order-dependent backward-use propagation
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_grad_customs.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CPU PCH compiler flag cache [GH-1649]
  CHANGELOG.md
  warp/_src/context.py
  warp/native/clang/clang.cpp
  warp/tests/test_cpu_precompiled_headers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate autograd test annotations
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_grad.py
  warp/tests/test_grad_customs.py
  warp/tests/test_grad_debug.py
  warp/tests/test_overwrite.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix APIC padded BSR transpose overflow [GH-1630]
  CHANGELOG.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/sparse.cpp
  warp/native/sparse.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Align the single-GPU reference residual checks with the distributed solver in the NCCL Jacobi example
  warp/examples/distributed/example_jacobi_nccl.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add adjoint for out-of-place `tile_lower_solve` [GH-1378]
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/tile_solve.h
  warp/tests/tile/test_tile_solve.py
  warp/tests/tile/test_tile_solve_no_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_lower_solve.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile_lower_solve.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Fix CUDA branch-local merge miscompile (GH-1574)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_conditional.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate codegen test annotations
  warp/tests/aux_test_instancing_gc.py
  warp/tests/test_codegen.py
  warp/tests/test_codegen_instancing.py
  warp/tests/test_generics.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve validation diagnostics [GH-1644]
  CHANGELOG.md
  warp/_src/context.py
  warp/_src/dlpack.py
  warp/_src/texture.py
  warp/_src/types.py
  warp/tests/cuda/test_texture.py
  warp/tests/interop/test_dlpack.py
  warp/tests/test_array.py
  warp/tests/test_copy.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add a distributed Jacobi solver example using NVSHMEM [GH-1582]
  CHANGELOG.md
  warp/examples/distributed/example_jacobi_nvshmem.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.GLTextureResource.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Texture.html
  latest/api_reference/_generated/warp.Texture1D.html
  latest/api_reference/_generated/warp.Texture2D.html
  latest/api_reference/_generated/warp.Texture3D.html
  latest/api_reference/_generated/warp.TextureAddressMode.html
  latest/api_reference/_generated/warp.TextureFilterMode.html
  latest/api_reference/_generated/warp.TextureResourceFlags.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.array.html
  latest/api_reference/_generated/warp.array1d.html
  latest/api_reference/_generated/warp.array2d.html
  latest/api_reference/_generated/warp.array3d.html
  latest/api_reference/_generated/warp.array4d.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.fem.Temporary.html
  latest/api_reference/_generated/warp.fixedarray.html
  latest/api_reference/_generated/warp.from_ipc_handle.html
  latest/api_reference/_generated/warp.from_ptr.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.indexedarray.html
  latest/api_reference/_generated/warp.indexedarray1d.html
  latest/api_reference/_generated/warp.indexedarray2d.html
  latest/api_reference/_generated/warp.indexedarray3d.html
  latest/api_reference/_generated/warp.indexedarray4d.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Fix tile_load_indexed OOB read on negative index [GH-1653]
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/tile/test_tile_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Render array annotation repr in subscript form [GH-1628]
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/test_subscript_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.tile.html
  latest/api_reference/_generated/warp.tile_stack.html
  latest/api_reference/_generated/warp.types.is_tile.html
  latest/api_reference/_generated/warp.types.type_is_tile.html
  latest/api_reference/_generated/warp.utils.segmented_sort_pairs.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Update Sphinx toolchain and fix docs warnings
  docs/_templates/autosummary/class.rst
  docs/conf.py
  uv.lock
  warp/_src/fem/space/topology.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Convert test block comments to docstrings, drop GH refs
  warp/tests/cuda/test_cluster_dim.py
  warp/tests/geometry/test_grouped_bvh.py
  warp/tests/interop/test_jax.py
  warp/tests/interop/test_torch.py
  warp/tests/test_apic.py
  warp/tests/test_closest_point_edge_edge.py
  warp/tests/test_codegen.py
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_conditional.py
  warp/tests/test_copy.py
  warp/tests/test_graph.py
  warp/tests/test_large.py
  warp/tests/test_logger.py
  warp/tests/test_module_hashing.py
  warp/tests/test_module_parallel_load.py
  warp/tests/test_modules_lite.py
  warp/tests/test_ref.py
  warp/tests/test_reload.py
  warp/tests/test_runlength_encode.py
  warp/tests/test_sanitize.py
  warp/tests/test_special_values.py
  warp/tests/test_struct.py
  warp/tests/test_unique_module.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/tile/test_tile_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Build precompiled header at module's opt level
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add changelog entry for CPU PCH opt-level fix
  CHANGELOG.md
Due: none

Update HTTP and coverage dependencies
  uv.lock
Due: none

Skip unstable median bear benchmark
  asv/benchmarks/bvh_build.py
Due: linux-x86_64 asv

Migrate kernel test annotations
  warp/tests/test_atomic.py
  warp/tests/test_atomic_bitwise.py
  warp/tests/test_atomic_cas.py
  warp/tests/test_conditional.py
  warp/tests/test_iter.py
  warp/tests/test_lvalue.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Pillow to 12.3.0
  uv.lock
Due: none

Migrate AOT test annotations
  warp/tests/aot/aux_test_generic_multiple_overloads.py
  warp/tests/aot/aux_test_generic_no_overloads.py
  warp/tests/aot/aux_test_generic_one_overload.py
  warp/tests/aot/aux_test_hash_reload.py
  warp/tests/aot/aux_test_mixed_generic_kernels.py
  warp/tests/aot/aux_test_mixed_regular_and_generic.py
  warp/tests/aot/test_module_aot.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix FP64 lookups for Grid2D and Grid3D [GH-1660]
  warp/_src/fem/geometry/geometry.py
  warp/_src/fem/geometry/grid_2d.py
  warp/_src/fem/geometry/grid_3d.py
  warp/tests/fem/test_fem_fp64.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.Geometry.html
  latest/api_reference/_generated/warp.fem.Grid2D.html
  latest/api_reference/_generated/warp.fem.Grid3D.html
Due: none

Replace legacy annotation patterns
  warp/tests/test_grad_customs.py
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove broken kit test-suite choice
  warp/_src/thirdparty/unittest_parallel.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replay backward-only call validations after backward-use propagation
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_ref.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Keep custom grad shared memory out of the forward kernel reservation
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
