Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

refactor
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/native/deterministic.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic metadata refresh
  CHANGELOG.md
  docs/api_reference/warp_config.rst
  docs/deep_dive/determinism.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix deterministic atomics indexing and adjoint param mirror
  warp/_src/context.py
  warp/native/deterministic.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove unrelated tile block-dim changes
  warp/_src/builtins.py
  warp/_src/types.py
  warp/tests/test_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support deterministic bfloat16 atomics
  warp/_src/codegen.py
  warp/_src/deterministic.py
  warp/native/deterministic.cu
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove redundant deterministic type helper
  warp/_src/codegen.py
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Centralize deterministic helpers
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use subscript array annotations
  asv/benchmarks/deterministic.py
  docs/deep_dive/determinism.rst
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Move deterministic execution guide
  docs/index.rst
  docs/user_guide/deterministic_execution.rst
Due: none

Shorten deterministic benchmark header
  asv/benchmarks/deterministic.py
Due: linux-x86_64 asv

Split determinism tests into separate modules under tests/deterministic
  warp/tests/deterministic/__init__.py
  warp/tests/deterministic/common.py
  warp/tests/deterministic/test_backward.py
  warp/tests/deterministic/test_counter.py
  warp/tests/deterministic/test_graph_capture.py
  warp/tests/deterministic/test_options.py
  warp/tests/deterministic/test_scatter.py
  warp/tests/test_deterministic.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce deterministic test duplication
  warp/tests/deterministic/common.py
  warp/tests/deterministic/test_counter.py
  warp/tests/deterministic/test_scatter.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix changelog after rebase
  CHANGELOG.md
Due: none

Rename deterministic test modules
  warp/tests/deterministic/test_deterministic_backward.py
  warp/tests/deterministic/test_deterministic_counter.py
  warp/tests/deterministic/test_deterministic_graph_capture.py
  warp/tests/deterministic/test_deterministic_options.py
  warp/tests/deterministic/test_deterministic_scatter.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Relax mempool usage test
  warp/tests/cuda/test_mempool.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Sync changelog for Warp 1.14
  CHANGELOG.md
  asv/tag_commits.txt
Due: linux-x86_64 asv

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Fix struct array grad keepalive [GH-1520]
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve PR and MR templates
  .github/PULL_REQUEST_TEMPLATE.md
  .gitlab/merge_request_templates/Default.md
Due: none

Fix GMRES debug bounds check
  warp/_src/optim/linear.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
Due: none

Skip debug verify-fp NaN warning test
  warp/tests/test_verify_fp.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Surface CUDA launch errors
  CHANGELOG.md
  warp/_src/context.py
  warp/_src/jax/ffi.py
  warp/native/apic.cu
  warp/tests/test_launch.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Tile Extract Debug Block Size
  warp/tests/tile/test_tile_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Share the reference-collection AST walk for hashing and dependency tracking [GH-1486]
  warp/_src/codegen.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Infer wp.array DType from argument in constructor
  warp/__init__.pyi
  warp/_src/context.py
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Strenghten codegen lock using @synchronized decorator (GH-1532)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_module_parallel_load.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Surface CUDA launch errors [GH-1535]
  CHANGELOG.md
  warp/_src/context.py
  warp/_src/jax/ffi.py
  warp/native/apic.cu
  warp/tests/test_launch.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Launch.html
  latest/api_reference/_generated/warp.capture_begin.html
  latest/api_reference/_generated/warp.capture_debug_dot_print.html
  latest/api_reference/_generated/warp.capture_end.html
  latest/api_reference/_generated/warp.capture_if.html
  latest/api_reference/_generated/warp.capture_launch.html
  latest/api_reference/_generated/warp.capture_load.html
  latest/api_reference/_generated/warp.capture_save.html
  latest/api_reference/_generated/warp.capture_while.html
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.compile_aot_module.html
  latest/api_reference/_generated/warp.copy.html
  latest/api_reference/_generated/warp.force_load.html
  latest/api_reference/_generated/warp.get_cuda_driver_version.html
  latest/api_reference/_generated/warp.get_cuda_toolkit_version.html
  latest/api_reference/_generated/warp.get_module_options.html
  latest/api_reference/_generated/warp.get_suggested_block_size.html
  latest/api_reference/_generated/warp.init.html
  latest/api_reference/_generated/warp.is_conditional_graph_supported.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
  latest/api_reference/_generated/warp.launch_function.html
  latest/api_reference/_generated/warp.launch_tiled.html
  latest/api_reference/_generated/warp.load_aot_module.html
  latest/api_reference/_generated/warp.load_module.html
  latest/api_reference/_generated/warp.print_diagnostics.html
  latest/api_reference/_generated/warp.print_memory_report.html
  latest/api_reference/_generated/warp.set_module_options.html
  latest/api_reference/_generated/warp.synchronize.html
  latest/api_reference/_generated/warp.synchronize_device.html
  latest/api_reference/_generated/warp.synchronize_event.html
  latest/api_reference/_generated/warp.synchronize_stream.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Pin Windows builds to VS 2022
  .github/workflows/ci.yml
Due: none

Fix unary minus on wp.constant dropped in generated code (GH-1540)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/types.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.bfloat16.html
  latest/api_reference/_generated/warp.float16.html
  latest/api_reference/_generated/warp.float32.html
  latest/api_reference/_generated/warp.float64.html
  latest/api_reference/_generated/warp.handle.html
  latest/api_reference/_generated/warp.int16.html
  latest/api_reference/_generated/warp.int32.html
  latest/api_reference/_generated/warp.int64.html
  latest/api_reference/_generated/warp.int8.html
  latest/api_reference/_generated/warp.uint16.html
  latest/api_reference/_generated/warp.uint32.html
  latest/api_reference/_generated/warp.uint64.html
  latest/api_reference/_generated/warp.uint8.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Remove deprecated FEM arguments
  CHANGELOG.md
  warp/_src/fem/integrate.py
  warp/_src/fem/space/__init__.py
  warp/_src/fem/space/partition.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.SpacePartition.html
  latest/api_reference/_generated/warp.fem.interpolate.html
  latest/api_reference/_generated/warp.fem.make_collocated_function_space.html
  latest/api_reference/_generated/warp.fem.make_contravariant_function_space.html
  latest/api_reference/_generated/warp.fem.make_covariant_function_space.html
  latest/api_reference/_generated/warp.fem.make_element_based_space_topology.html
  latest/api_reference/_generated/warp.fem.make_polynomial_basis_space.html
  latest/api_reference/_generated/warp.fem.make_polynomial_space.html
  latest/api_reference/_generated/warp.fem.make_space_partition.html
  latest/api_reference/_generated/warp.fem.make_space_restriction.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Pass MSVC preprocessor flag to nvcc
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Warp publication list
  PUBLICATIONS.md
Due: none
