Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Update some doc/CI dependencies
  .pre-commit-config.yaml
  docs/requirements.txt
Due: none

Reenable Jetson job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix C420
  warp/sim/import_urdf.py
  warp/tests/test_static.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Move asv.conf.json to top level
  asv.conf.json
Due: none

Update paths in asv.conf.json
  asv.conf.json
Due: none

Update ASV GitLab job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Update release date
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Enable pyupgrade linting rules (GH-549)
  build_lib.py
  exts/omni.warp/config/python_api.md
  exts/omni.warp/omni/warp/nodes/_impl/OgnKernel.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnMeshFromVolume.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnTextureWrite.py
  exts/omni.warp/omni/warp/nodes/_impl/attributes.py
  exts/omni.warp/omni/warp/nodes/_impl/bundles.py
  exts/omni.warp/omni/warp/nodes/_impl/common.py
  exts/omni.warp/omni/warp/nodes/_impl/kernel.py
  exts/omni.warp/omni/warp/nodes/_impl/props/editattrs.py
  exts/omni.warp/omni/warp/nodes/_impl/templates/template_omni.warp.WarpKernel.py
  exts/omni.warp/omni/warp/nodes/_impl/templates/template_omni.warp.WarpTextureWrite.py
  exts/omni.warp/omni/warp/nodes/tests/_common.py
  exts/omni.warp/omni/warp/nodes/tests/test_api_from_omni_graph.py
  pyproject.toml
  warp/build.py
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/dlpack.py
  warp/examples/benchmarks/benchmark_cloth.py
  warp/examples/fem/example_adaptive_grid.py
  warp/examples/fem/utils.py
  warp/examples/interop/example_jax_ffi_callback.py
  warp/examples/optim/example_drone.py
  warp/examples/sim/example_cloth.py
  warp/examples/sim/example_cloth_self_contact.py
  warp/fabric.py
  warp/fem/cache.py
  warp/paddle.py
  warp/render/render_opengl.py
  warp/sim/model.py
  warp/tests/test_mlp.py
  warp/tests/test_rounding.py
  warp/types.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Update Jax interop docs with autofunctions and formatting
  docs/conf.py
  docs/modules/interoperability.rst
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update Python version in Sphinx workflow from 3.10 to 3.11
  .github/workflows/sphinx.yml
Due: none

Bump main-branch version to 1.7.0
  CHANGELOG.md
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove unneeded license text
  LICENSE.md
Due: none

Use Python 3.11 for building GitHub docs
  .github/workflows/sphinx.yml
Due: none

Fix incorrect CI variable
  .gitlab/ci/cuda-11-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix typo in changelog: update `VDBIntegrator` to `VBDIntegrator` for...
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Add --compile_time_trace option to build_lib.py
  build_lib.py
  warp/build_dll.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Conform type hints to recent linting rule changes
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Refined VBD Collision
  CHANGELOG.md
  warp/examples/sim/example_cloth_self_contact.py
  warp/sim/collide.py
  warp/sim/integrator_vbd.py
  warp/tests/sim/test_vbd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add support for wp.config.compile_time_trace
  docs/profiling.rst
  warp/build.py
  warp/build_dll.py
  warp/config.py
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add changelog entry
  CHANGELOG.md
Due: none

Sync the OpenGL and USD renderer APIs
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support animating visibility in the USD renderer
  CHANGELOG.md
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix `show_joints` with the sim renderer set to USD
  CHANGELOG.md
  warp/render/render_usd.py
  warp/sim/render.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Migrate deprecated call to jaxlib.xla_client.register_custom_call_target.
  warp/jax_experimental/custom_call.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use USD's `framesPerSecond` for time sampling
  CHANGELOG.md
  exts/omni.warp/data/scenes/assets/geometries/boid.usda
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/marching_cubes.usda
  exts/omni.warp/data/scenes/mesh_deformation.usda
  exts/omni.warp/data/scenes/mesh_deformation_kernel_node.usda
  exts/omni.warp/data/scenes/ocean.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
  exts/omni.warp/data/scenes/prim_flocking.usda
  exts/omni.warp/data/scenes/texture_mandelbrot.usda
  exts/omni.warp/data/scenes/wave_deformation.usda
  exts/omni.warp/data/scenes/wave_solver.usda
  warp/examples/benchmarks/benchmark_cloth.py
  warp/render/render_usd.py
  warp/tests/assets/torus.usda
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use jax.extend module for newer JAX versions
  warp/jax_experimental/custom_call.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Updated changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md with GitHub pull request link
  CHANGELOG.md
Due: none

Add a Blackwell GitLab testing job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Mention the conda-forge package in docs
  docs/installation.rst
Due: none

Support build option for Warp with LLVM instead of gcc/nvcc (GH-519)
  .gitlab-ci.yml
  .gitlab/ci/clang-build-and-test.yml
  build_lib.py
  build_llvm.py
  warp/build_dll.py
  warp/native/builtin.h
  warp/native/intersect.h
  warp/native/nanovdb/cuda/GridHandle.cuh
  warp/native/warp.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix Mat44 definition on Python 3.8
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove outdated contribution language
  README.md
  docs/index.rst
Due: none

Refactor and reenable test_collision
  warp/tests/sim/test_collision.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve the simulation behaviour
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.py
Due: none

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
