Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Pin PyYAML in LLVM SDK workflow
  .github/workflows/build-llvm-sdk.yml
Due: none

Deploy docs: latest
  latest/api_reference/_generated/warp.JaxCallableGraphMode.html
  latest/api_reference/_generated/warp.JaxModulePreloadMode.html
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
Due: none

Honor dtype in Python-scope identity builtins (GH-1839)
  changelog/1839.fixed.md
  warp/_src/context.py
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refine 1.17 changelog
  CHANGELOG.md
Due: none

Update Warp publications
  PUBLICATIONS.md
Due: none

Route Windows Blackwell CI to omniblue
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify Warp security boundaries
  SECURITY.md
Due: none

Add compilation startup guide [GH-1499]
  changelog/1499.documentation.md
  docs/user_guide/configuration.rst
  docs/user_guide/execution_and_performance.rst
  docs/user_guide/execution_and_performance/profiling.rst
  docs/user_guide/execution_and_performance/reducing_compilation_and_startup_time.rst
  docs/user_guide/programming_model/code_generation.rst
  docs/user_guide/programming_model/generics.rst
  docs/user_guide/programming_model/tiles.rst
  docs/user_guide/runtime.rst
Due: none

Harden MEMTILE replay validation (GH-1883)
  changelog/1883.fixed.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify public API docstrings (GH-1498)
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/optim/linear.py
  warp/_src/sparse.py
  warp/_src/texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update final changelog for guide
  CHANGELOG.md
  changelog/1499.documentation.md
Due: none

Show built-in argument defaults in stubs and docs [GH-1729]
  .github/workflows/ci.yml
  .gitlab-ci.yml
  changelog/+builtin-dtype-type-hints.fixed.md
  changelog/+quaternion-dtype-float.changed.md
  changelog/1729.documentation.md
  changelog/1729.fixed.md
  docs/conf.py
  pyproject.toml
  tools/ci/stub_typecheck_fixture.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/math.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Validate segmented sort ranges (GH-1870)
  VERSION.md
  changelog/1870.fixed.md
  warp/_src/context.py
  warp/_src/utils.py
  warp/config.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/version.h
  warp/native/warp.h
  warp/tests/test_apic_utility_algorithms.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Python Built-In Overload Calls [GH-1830]
  changelog/1830.fixed.md
  warp/_src/context.py
  warp/tests/test_builtins_resolution.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden graph coloring edge validation [GH-1868]
  VERSION.md
  changelog/1868.fixed.md
  warp/_src/coloring.py
  warp/config.py
  warp/native/coloring.cpp
  warp/native/version.h
  warp/tests/test_coloring.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove eager sparse nnz transfers and add APIC BSR support [GH-1792]
  changelog/1792.changed.md
  changelog/1792.deprecated.md
  changelog/1801.changed.md
  design/api-capture-and-cpu-graphs.md
  docs/domain_modules/sparse.rst
  docs/user_guide/runtime.rst
  warp/_src/context.py
  warp/_src/sparse.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/sparse.cpp
  warp/native/sparse.cu
  warp/native/warp.h
  warp/tests/test_apic.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject invalid FEM mesh vertex indices [GH-1873]
  changelog/1873.fixed.md
  warp/_src/fem/geometry/hexmesh.py
  warp/_src/fem/geometry/quadmesh.py
  warp/_src/fem/geometry/tetmesh.py
  warp/_src/fem/geometry/trimesh.py
  warp/_src/fem/utils.py
  warp/tests/fem/test_fem_geometry.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.Hexmesh.html
  latest/api_reference/_generated/warp.fem.Quadmesh2D.html
  latest/api_reference/_generated/warp.fem.Quadmesh3D.html
  latest/api_reference/_generated/warp.fem.Tetmesh.html
  latest/api_reference/_generated/warp.fem.Trimesh2D.html
  latest/api_reference/_generated/warp.fem.Trimesh3D.html
  latest/api_reference/_generated/warp.fem.utils.grid_to_hexes.html
  latest/api_reference/_generated/warp.fem.utils.grid_to_quads.html
  latest/api_reference/_generated/warp.fem.utils.grid_to_tets.html
  latest/api_reference/_generated/warp.fem.utils.grid_to_tris.html
Due: none

Match packed adjoint ctype to declared parameter type
  warp/_src/context.py
  warp/_src/types.py
  warp/native/array.h
  warp/tests/test_indexedarray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

update: a 1-D example of possible fix
  warp/_src/context.py
  warp/_src/types.py
  warp/native/array.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

1-D unit test as example
  warp/tests/test_indexedarray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add changelog fragment for indexedarray gradients
  changelog/1479.fixed.md
Due: none

Guard adjoint packing for unsupported array gradients
  warp/_src/context.py
  warp/tests/test_indexedarray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove stale BVH debug instrumentation
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden NanoVDB volume validation [GH-1887]
  VERSION.md
  changelog/1887.fixed.md
  warp/_src/context.py
  warp/_src/types.py
  warp/config.py
  warp/native/version.h
  warp/native/volume.cpp
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify vendored code security scope
  SECURITY.md
Due: none

Add block-Jacobi preconditioner to warp.optim.linear
  changelog/+block-jacobi-preconditioner.added.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review feedback on tile warp-width constants
  warp/native/array.h
  warp/native/tile_radix_sort.h
  warp/native/tile_reduce.h
  warp/tests/cuda/test_clang_cuda.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate scalar type in block-Jacobi preconditioner
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
