Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Bump Warp dev version to 1.18.0.dev0
  VERSION.md
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore Windows USD CI pin [GH-1828]
  .github/workflows/ci.yml
Due: none

Rebuild Trimesh2D after edge flips (GH-1804)
  changelog/1804.fixed.md
  warp/examples/fem/example_elastic_shape_optimization.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify platform support documentation
  README.md
  docs/user_guide/compatibility.rst
  docs/user_guide/installation.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/compatibility.rst.txt
  latest/_sources/user_guide/installation.rst.txt
  latest/searchindex.js
  latest/user_guide/compatibility.html
  latest/user_guide/installation.html
Due: none

Probe Windows USD TLS loading (GH-1828)
  .github/workflows/pr.yml
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_eager_import/sitecustomize.py
  tools/ci/usd_windows_tls_probe.py
Due: linux-x86_64 test mujoco warp

Capture Windows loader fault (GH-1828)
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_windows_tls_probe.py
Due: linux-x86_64 test mujoco warp

Isolate USD MSVC resolution (GH-1828)
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_windows_tls_probe.py
Due: linux-x86_64 test mujoco warp

Avoid building Warp in probe (GH-1828)
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
Due: linux-x86_64 test mujoco warp

Restore USD runtime path (GH-1828)
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Repair USD path in child processes (GH-1828)
  .github/workflows/usd-windows-tls-diagnostic.yml
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_eager_import/sitecustomize.py
Due: linux-x86_64 test mujoco warp

Ignore startup hook without USD (GH-1828)
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_eager_import/sitecustomize.py
Due: linux-x86_64 test mujoco warp

Keep USD bootstrap silent (GH-1828)
  tools/ci/test_usd_windows_tls_probe.py
  tools/ci/usd_eager_import/sitecustomize.py
Due: linux-x86_64 test mujoco warp

Use read-only loads in BVH and mesh query hot paths [GH-1840]
  changelog/1840.changed.md
  warp/native/bvh.h
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Broaden CUDA texture workaround (GH-1811)
  changelog/1811.fixed.md
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip unsupported AOT architecture test
  warp/tests/aot/test_module_aot.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.17.0rc2
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Describe the shared-graph pattern generically
  warp/tests/cuda/test_graph_alloc_cross_capture_free.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend wp.func to support noinline and forceinline
  changelog/+func-inline-hints.added.md
  docs/user_guide/configuration.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_func_inline.py
  warp/tests/test_module_hashing.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review comments
  docs/user_guide/configuration.rst
  warp/_src/context.py
  warp/tests/test_func_inline.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replace noinline/forceinline with a single inline parameter
  changelog/+func-inline-hints.added.md
  docs/user_guide/configuration.rst
  warp/_src/context.py
  warp/tests/test_func_inline.py
  warp/tests/test_module_hashing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Broaden CUDA texture workaround [GH-1811]
  changelog/1811.fixed.md
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove obsolete test TODOs
  warp/tests/test_module_hashing.py
  warp/tests/test_spatial.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update codegen comments for the inline parameter
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Spell WP_FORCEINLINE with the inline specifier
  warp/_src/codegen.py
  warp/tests/test_func_inline.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Invalidate cached FEM arguments after rebuilds [GH-1852]
  changelog/1852.fixed.md
  warp/_src/fem/space/partition.py
  warp/_src/fem/space/restriction.py
  warp/tests/fem/test_fem_integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix JAX FFI VMA propagation (GH-1851)
  changelog/1851.fixed.md
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review comments
  changelog/1849.added.md
  docs/user_guide/configuration.rst
  warp/tests/test_module_hashing.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

bvh: fix block-collective divergence in compute_total_bounds (GH-1601)
  warp/native/bvh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Move isosurface modules into warp._src.geometry [GH-1614]
  design/deterministic-execution.md
  design/sparse-marching-cubes.md
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/geometry/__init__.py
  warp/_src/geometry/iso_surface.py
  warp/_src/geometry/marching_cubes.py
  warp/_src/geometry/sparse_marching_cubes.py
  warp/_src/geometry/surface_nets.py
  warp/geometry.py
  warp/tests/geometry/test_surface_nets.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore verts/indices annotations on IsoSurfaceBase [GH-1614]
  warp/_src/geometry/iso_surface.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Resolve wp.MarchingCubes lazily via __getattr__ [GH-1614]
  changelog/+warp-geometry-namespace.deprecated.md
  design/deprecations.md
  docs/api_reference/warp.rst
  docs/user_guide/runtime.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/geometry/marching_cubes.py
  warp/tests/geometry/test_marching_cubes.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix function adjoint option precedence [GH-1861]
  changelog/1861.fixed.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_codegen.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend wp.func to support an inline option [GH-1849]
  changelog/1849.added.md
  docs/user_guide/configuration.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_func_inline.py
  warp/tests/test_module_hashing.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
