Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Deploy docs: latest
  latest/api_reference/_generated/warp.WarpCodegenAttributeError.html
  latest/api_reference/_generated/warp.WarpCodegenError.html
  latest/api_reference/_generated/warp.WarpCodegenIndexError.html
  latest/api_reference/_generated/warp.WarpCodegenKeyError.html
  latest/api_reference/_generated/warp.WarpCodegenTypeError.html
  latest/api_reference/_generated/warp.WarpCodegenValueError.html
Due: none

Fix stale deterministic launch metadata [GH-1637]
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/deterministic/aux_test_deterministic_cache_mode_switch.py
  warp/tests/deterministic/test_deterministic_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add La Coupole publication to list
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Migrate runtime test annotations
  warp/tests/cuda/test_texture.py
  warp/tests/deterministic/test_deterministic_graph_capture.py
  warp/tests/test_cuda_profiler.py
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/test_graph.py
  warp/tests/test_large.py
  warp/tests/test_launch.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix reused loop variable in dynamic loops (GH-1534)
  CHANGELOG.md
  docs/user_guide/programming_model/code_generation.rst
  warp/_src/codegen.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Record APIC array reductions (GH-1663)
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/types.py
  warp/_src/utils.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/reduce.cpp
  warp/native/reduce.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/programming_model/code_generation.rst.txt
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/programming_model/code_generation.html
Due: none

Record APIC array reductions [GH-1663]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/types.py
  warp/_src/utils.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/reduce.cpp
  warp/native/reduce.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.ScopedAllocator.html
  latest/api_reference/_generated/warp.ScopedCapture.html
  latest/api_reference/_generated/warp.ScopedCudaProfiler.html
  latest/api_reference/_generated/warp.ScopedDevice.html
  latest/api_reference/_generated/warp.ScopedLogLevel.html
  latest/api_reference/_generated/warp.ScopedLogger.html
  latest/api_reference/_generated/warp.ScopedMemoryTracker.html
  latest/api_reference/_generated/warp.ScopedMempool.html
  latest/api_reference/_generated/warp.ScopedMempoolAccess.html
  latest/api_reference/_generated/warp.ScopedPeerAccess.html
  latest/api_reference/_generated/warp.ScopedStream.html
  latest/api_reference/_generated/warp.ScopedTimer.html
  latest/api_reference/_generated/warp.TimingResult.html
  latest/api_reference/_generated/warp.map.html
  latest/api_reference/_generated/warp.timing_begin.html
  latest/api_reference/_generated/warp.timing_end.html
  latest/api_reference/_generated/warp.timing_print.html
  latest/api_reference/_generated/warp.utils.array_cast.html
  latest/api_reference/_generated/warp.utils.array_inner.html
  latest/api_reference/_generated/warp.utils.array_sum.html
  latest/api_reference/_generated/warp.utils.create_warp_function.html
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Fix CPU PCH optimization levels (GH-1658)
  CHANGELOG.md
  warp/native/clang/clang.cpp
  warp/tests/test_cpu_precompiled_headers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CPU PCH optimization levels [GH-1658]
  CHANGELOG.md
  warp/native/clang/clang.cpp
  warp/tests/test_cpu_precompiled_headers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix host calls with Function parameters
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_func_parameter_targets.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/project/changelog.html
Due: none

Fix host calls with Function parameters [GH-1648]
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_func_parameter_targets.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Migrate numerical test annotations
  warp/tests/test_adam.py
  warp/tests/test_dense.py
  warp/tests/test_noise.py
  warp/tests/test_rand.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add name argument to @wp.kernel (GH-1561)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_codegen.py
  warp/tests/test_context.py
  warp/tests/test_generics.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Split tile-load tests into focused modules
  warp/tests/tile/test_tile_load.py
  warp/tests/tile/test_tile_load_assign.py
  warp/tests/tile/test_tile_load_extract.py
  warp/tests/tile/test_tile_load_indexed.py
  warp/tests/tile/test_tile_load_vectorized.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CPU support for JAX FFI (GH-1661)
  .github/workflows/ci.yml
  .gitlab-ci.yml
  CHANGELOG.md
  docs/user_guide/interoperability/jax.rst
  warp/_src/jax/ffi.py
  warp/tests/interop/aux_test_jax_cpu_ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CPU support for JAX FFI [GH-1661]
  .github/workflows/ci.yml
  .gitlab-ci.yml
  CHANGELOG.md
  docs/user_guide/interoperability/jax.rst
  warp/_src/jax/ffi.py
  warp/tests/interop/aux_test_jax_cpu_ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/interoperability/jax.rst.txt
  latest/api_reference/_generated/warp.JaxCallableGraphMode.html
  latest/api_reference/_generated/warp.JaxModulePreloadMode.html
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/interoperability/jax.html
Due: none

Migrate geometry test annotations
  warp/tests/fem/test_fem_geometry.py
  warp/tests/fem/test_fem_integrate.py
  warp/tests/fem/test_fem_multi_env.py
  warp/tests/fem/test_fem_quadrature.py
  warp/tests/fem/utils.py
  warp/tests/test_closest_point_edge_edge.py
  warp/tests/test_coloring.py
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/test_intersect.py
  warp/tests/test_triangle_closest_point.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update deprecation removal schedule
  CHANGELOG.md
  design/deprecations.md
  warp/jax_experimental/__init__.py
  warp/jax_experimental/_deprecation.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Split and modernize APIC tests [GH-1678]
  warp/tests/test_apic.py
  warp/tests/test_apic_utility_algorithms.py
  warp/tests/test_factory_style_array_annotations.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add Conan-based build pipeline for LLVM/Clang SDKs
  .github/workflows/build-llvm-sdk.yml
  design/llvm-sdk-conan-build.md
  pyproject.toml
  tools/llvm/README.md
  tools/llvm/check_sdk.py
  tools/llvm/ci/build-linux.sh
  tools/llvm/ci/smoke-linux.sh
  tools/llvm/ci/smoke_test.py
  tools/llvm/conandata.yml
  tools/llvm/conanfile.py
  tools/llvm/deployers/llvm_sdk.py
  tools/llvm/package_sdk.py
  tools/llvm/profiles/linux-aarch64
  tools/llvm/profiles/linux-x86_64
  tools/llvm/profiles/macos-arm64
  tools/llvm/profiles/windows-arm64
  tools/llvm/profiles/windows-x86_64
  tools/llvm/test_package/CMakeLists.txt
  tools/llvm/test_package/conanfile.py
  tools/llvm/test_package/test_package.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Update setuptools to 83.0.0 in lockfile
  uv.lock
Due: none

Finish test annotation migration
  AGENTS.md
  warp/tests/interop/test_jax.py
  warp/tests/test_apic_mesh.py
  warp/tests/test_print.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix tile_matmul for strided tile operands [GH-1667]
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/builtins.py
  warp/_src/context.py
  warp/native/mathdx.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/tile/test_tile_matmul_strides.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix func_grad return-type probe for MathDx tile builtins [GH-1668]
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_grad_customs.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix graph memory deallocation during conditional child graph capture (GH-1641)
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/cuda/test_conditional_captures.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replay BVH updates in CPU graph capture [GH-1665]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/types.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/bvh.cpp
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.Bvh.html
  latest/api_reference/_generated/warp.HashGrid.html
  latest/api_reference/_generated/warp.Mesh.html
  latest/api_reference/_generated/warp.MeshQueryPoint.html
  latest/api_reference/_generated/warp.MeshQueryRay.html
  latest/api_reference/_generated/warp.Volume.html
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Support CPU HashGrid graph replay (GH-1664)
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/types.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/hashgrid.cpp
  warp/native/hashgrid.h
  warp/tests/geometry/test_hash_grid.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support CPU HashGrid graph replay [GH-1664]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/types.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/hashgrid.cpp
  warp/native/hashgrid.h
  warp/tests/geometry/test_hash_grid.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
