Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Add JAX kernel block sizes (GH-1436)
  CHANGELOG.md
  docs/user_guide/interoperability/jax.rst
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/api_reference/_generated/warp.HashGrid.html
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Add JAX kernel block sizes [GH-1436]
  CHANGELOG.md
  docs/user_guide/interoperability/jax.rst
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/interoperability/jax.rst.txt
  latest/api_reference/_generated/warp.JaxCallableGraphMode.html
  latest/api_reference/_generated/warp.JaxModulePreloadMode.html
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
  latest/project/changelog.html
  latest/searchindex.js
  latest/user_guide/interoperability/jax.html
Due: none

Fix autograd Jacobian plotting (GH-1672)
  CHANGELOG.md
  warp/_src/autograd.py
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Jacobian plotting for functions and typed kernels [GH-1672]
  CHANGELOG.md
  warp/_src/autograd.py
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.autograd.gradcheck.html
  latest/api_reference/_generated/warp.autograd.gradcheck_tape.html
  latest/api_reference/_generated/warp.autograd.jacobian.html
  latest/api_reference/_generated/warp.autograd.jacobian_fd.html
  latest/api_reference/_generated/warp.autograd.jacobian_plot.html
  latest/project/changelog.html
Due: none

Remove non-functional complex dtype advertising from tile_matmul [GH-1682]
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/tests/tile/test_tile_matmul.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_matmul.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile_matmul.html
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Add regression test for struct returned by wp.func grad (GH-1598)
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix JAX tile store example [GH-1436]
  docs/user_guide/interoperability/jax.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/interoperability/jax.rst.txt
  latest/searchindex.js
  latest/user_guide/interoperability/jax.html
Due: none

Fix square shape node coordinates [GH-1685]
  warp/_src/fem/space/shape/square_shape_function.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.space.shape.SquareBSplineShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.SquareNedelecFirstKindShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.SquareRaviartThomasShapeFunctions.html
Due: none

Add FEM node fix to changelog [GH-1685]
  CHANGELOG.md
Due: none

Deploy docs: latest
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Harden APIC memory region loading
  CHANGELOG.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review feedback on tile slicing tests (GH-1176)
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add NumPy-style tile slicing and fancy indexing (GH-1176)
  CHANGELOG.md
  docs/language_reference/builtins.rst
  docs/user_guide/programming_model/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/native/tile.h
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix correctness issues found in tile slicing review (GH-1176)
  CHANGELOG.md
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/native/tile.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address tile slicing review (GH-1176)
  docs/user_guide/programming_model/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix chained tile row gather (GH-1176)
  warp/_src/codegen.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review feedback on tile slicing (GH-1176)
  CHANGELOG.md
  docs/user_guide/programming_model/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/native/tile.h
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Promote tile indexing bounds warnings to caution directives (GH-1176)
  docs/user_guide/programming_model/tiles.rst
Due: none

Support inline tile index chains
  warp/_src/codegen.py
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address GitHub review feedback (GH-1176)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/native/tile.h
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Guard tile type probe symbol copy (GH-1176)
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add NumPy-style tile slicing and fancy indexing (GH-1176)
  CHANGELOG.md
  docs/language_reference/builtins.rst
  docs/user_guide/programming_model/tiles.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/types.py
  warp/native/tile.h
  warp/tests/tile/test_tile_view.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify APIC artifact trust boundary
  SECURITY.md
Due: none

Ignore top-level worktrees
  .gitignore
Due: none

Remove TestPyPI publishing job
  .gitlab-ci.yml
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add ARM64 GPU CI coverage and diagnostics
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.16.0rc1
  VERSION.md
  asv/tag_commits.txt
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump Warp dev version to 1.17.0.dev0
  VERSION.md
  asv/tag_commits.txt
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: [REQUEST] warp builtin to normalize quaternion of transform
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/exports.h
  warp/native/spatial.h
  warp/tests/test_spatial.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
