Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Add locked CUDA toolkit setup
  .github/actions/setup-warp-cuda/action.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  pyproject.toml
  tools/ci/cuda_toolkit.py
  tools/ci/cuda_toolkit_lock.json
  tools/ci/cuda_toolkit_requirements.json
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Skip grad debug plot tests without Matplotlib
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.16.0rc2
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Cache kernel mangled names [GH-1589]
  warp/_src/context.py
  warp/tests/test_context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.16.0rc3
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix long-path support for custom kernel caches
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/context.py
  warp/tests/test_kernel_cache.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.16.0rc4
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve batched reduction accuracy [GH-1700]
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/api_reference/_generated/warp.optim.linear.LinearOperator.rst.txt
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearOperator.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.aslinearoperator.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/api_reference/_generated/warp.optim.linear.preconditioner.html
  latest/genindex.html
  latest/objects.inv
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Add true-residual refresh to CG
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix PCH test cache cleanup on legacy MAX_PATH
  warp/tests/test_cpu_precompiled_headers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.16.0rc5
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Link solver changes to GitHub issues
  CHANGELOG.md
Due: none

Fix reproducible_floating_sums attribution
  warp/native/deterministic.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix long-path support for custom kernel caches
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/context.py
  warp/tests/test_cpu_precompiled_headers.py
  warp/tests/test_kernel_cache.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add restart support to CG and CR
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Make Windows Blackwell test manual on merge requests
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add restart support to CG and CR [GH-1708]
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearOperator.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.aslinearoperator.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/api_reference/_generated/warp.optim.linear.preconditioner.html
  latest/project/changelog.html
  latest/searchindex.js
Due: none

Make kernel cache paths idempotent
  warp/_src/build.py
  warp/tests/test_kernel_cache.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.clear_kernel_cache.html
  latest/api_reference/_generated/warp.clear_lto_cache.html
Due: none

Wire NVCARPS content validation into CI
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid full module rebuilds in tile tests
  warp/tests/tile/test_tile.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Speed up tile sort test compilation
  warp/tests/tile/test_tile_sort.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preallocate iterative solver loop state
  CHANGELOG.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/project/changelog.html
Due: none

Add source-string kernel design (GH-1640)
  design/kernel-source-string.md
Due: none

Add private source execution helper (GH-1640)
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Test source-string execution behavior (GH-1640)
  warp/tests/test_exec_source.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
