Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Add icon links for PyPI and Discord
  docs/conf.py
Due: none

Fixed a bug in graph balancing algorithm where the balanced coloring won't be written back
  CHANGELOG.md
  warp/native/coloring.cpp
  warp/sim/model.py
  warp/tests/test_coloring.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Reduce size of test matrices for wp.matmul()
  warp/tests/test_matmul.py
  warp/tests/test_matmul_lite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix generics docs header
  docs/modules/generics.rst
Due: none

Bugfix: Support record_cmd=True for wp.launch_tiled()
  CHANGELOG.md
  warp/context.py
  warp/tests/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix incorrect activity profiling flags
  docs/profiling.rst
Due: none

Add a function cross-reference
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Formatting and typo fix
  notebooks/core_02_generics.ipynb
Due: none

Add cross-references and fix an example
  docs/modules/allocators.rst
Due: none

Add cross-references to more tile API functions
  docs/modules/tiles.rst
  notebooks/core_02_generics.ipynb
Due: none

Changelog formatting
  CHANGELOG.md
Due: none

Fix custom colors with static meshes in OpenGL
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Enable pylint rules and fix associated issues
  build_docs.py
  exts/omni.warp.core/omni/warp/core/_impl/extension.py
  pyproject.toml
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/fem/geometry/geometry.py
  warp/sim/import_urdf.py
  warp/sim/model.py
  warp/sparse.py
  warp/tests/test_examples.py
  warp/tests/test_lerp.py
  warp/tests/test_smoothstep.py
  warp/tests/test_static.py
  warp/tests/unittest_utils.py
  warp/types.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Fix CHANGELOG.md formatting
  CHANGELOG.md
Due: none

wp.atomic_add/sub() now mark arrays with write flag
  CHANGELOG.md
  docs/modules/differentiability.rst
  warp/codegen.py
  warp/tests/test_overwrite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix default args not working in Python's runtime
  CHANGELOG.md
  warp/context.py
  warp/tests/test_func.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add atomic_op_dispatch_func
  CHANGELOG.md
  warp/builtins.py
  warp/codegen.py
  warp/tests/test_overwrite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix dimension documentation for joint limits
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

PyTorch operators notebook
  CHANGELOG.md
  README.md
  docs/modules/interoperability.rst
  notebooks/pytorch_01_basics.ipynb
  notebooks/pytorch_02_custom_operators.ipynb
Due: none

Update changelog and version string
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Replace call to deprecated API
  exts/omni.warp/omni/warp/_extension/menu.py
Due: none

simplified example diffray
  warp/examples/optim/example_diffray.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

removed unecessary method
  warp/examples/optim/example_diffray.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix the OpenGL renderer not working without CUDA
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Allow passing a device to the OpenGL renderer
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add a safe_rename() to update the Warp kernel cache to avoid transient access denied issues
  CHANGELOG.md
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update CHANGELOG
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Update CHANGELOGs again
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Fix graph capture errors caused by module unloading
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/aux_test_module_unload.py
  warp/tests/test_reload.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix driver API function versions
  CHANGELOG.md
  warp/native/cuda_util.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update to 1.5.1-rc.2
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Tile doc row sum fix
  docs/modules/tiles.rst
Due: none

Fix various issues with Tile docs
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/tile.h
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Finalize version to 1.5.1
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix allocating arrays with strides
  CHANGELOG.md
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
