Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Revise logic to clear kernel cache
  build_lib.py
  tools/ci/building/build-windows-x86_64/build.bat
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix SIMT tile method when non-scalar value is constructed using default constructor and `preserve_type=True` (GH-805)
  CHANGELOG.md
  warp/codegen.py
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update mjwarp job tags to run on A40
  .gitlab-ci.yml
Due: linux-x86_64 asv

Update CI workflow to use Windows 2022 for build environment
  .github/workflows/ci.yml
Due: none

Upgrade to libmathdx 0.2.2 (GH-809)
  deps/libmathdx-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use latest clang for builds in CI/CD
  .gitlab/ci/clang-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix default PTX architecture selection to include only supported NVRTC architectures
  CHANGELOG.md
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix wrong version passed to cuDeviceGetUuid
  warp/native/cuda_util.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Handle CUDA 12.8 + Thor combination
  warp/build_dll.py
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix the OpenGL Renderer Box Colors (GH-810)
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-822 adj_tile_sum with shared tiles
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix rendering of meshes with different scales (GH-828)
  CHANGELOG.md
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a config file
  .coderabbit.yml
Due: none

Resolve GH-832 "Fix bsr_from_triplets prune_numerical_zeros"
  CHANGELOG.md
  warp/native/sparse.cu
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix hashing of static expressions ([GH-830], partially resolves [GH-637])
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
  warp/tests/test_static.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix box-box collision
  warp/sim/collide.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove a redundant assignment for query_b in box collision
  warp/sim/collide.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

GitLab jobs now use the R570 runners
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  .gitlab/ci/kit-extensions.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix for wp.tile_min() when tile thread block includes empty warps (GH-725)
  CHANGELOG.md
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix potential issues in bitonic tile_sort ([GH-836])
  warp/native/tile_radix_sort.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix `adj_div(scalar, vec/mat/quat)`
  CHANGELOG.md
  warp/native/mat.h
  warp/native/quat.h
  warp/native/svd.h
  warp/native/vec.h
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix miscellaneous issues with adjoints
  CHANGELOG.md
  warp/native/array.h
  warp/native/builtin.h
  warp/native/intersect.h
  warp/native/mesh.h
  warp/native/rand.h
  warp/native/svd.h
  warp/native/tile.h
  warp/native/tuple.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix the Possible Dead Loop in wp_balance_coloring (GH-816)
  warp/native/coloring.cpp
  warp/tests/sim/test_coloring.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add edit page link on right sidebar
  docs/conf.py
Due: none

Add new publication: GeoWarp framework for geomechanics
  PUBLICATIONS.md
Due: none

Fixed the Bug of Missing Cloth-body Contact in VBD Integrator (GH-862)
  CHANGELOG.md
  exts/omni.warp/data/scenes/cloth_simulation.usda
  warp/sim/integrator_vbd.py
  warp/tests/sim/test_cloth.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add Warp stuctured array NumPy interop examples to docs (GH-852)
  CHANGELOG.md
  docs/modules/runtime.rst
Due: none

Fix debug mode compilation (GH-856)
  CHANGELOG.md
  warp/context.py
  warp/tests/test_assert.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Refactor some tests to reduce recompilation cost
  .gitlab-ci.yml
  warp/tests/test_atomic_cas.py
  warp/tests/test_vec.py
  warp/tests/test_vec_constructors.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_mathdx.py
  warp/tests/tile/test_tile_matmul.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.8.1-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bugfix to avoid python Graph class destructor calls which unload required cuda modules
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix typo in wp.fem nodal field DG gradient
  CHANGELOG.md
  warp/examples/fem/example_convection_diffusion_dg.py
  warp/fem/field/nodal_field.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reenable parallel execution of mjwarp GitLab job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Disable Blackwell job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Support initializing fixed-size arrays in kernels
  CHANGELOG.md
  warp/__init__.py
  warp/__init__.pyi
  warp/builtins.py
  warp/codegen.py
  warp/native/array.h
  warp/tests/test_fixedarray.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support fixed-size arrays with structs as `dtype`
  warp/codegen.py
  warp/tests/test_fixedarray.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix keyword arguments not being reported
  warp/codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

JAX FFI graph capture using Warp (GH-848)
  CHANGELOG.md
  docs/modules/interoperability.rst
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Split `assign_copy` tests
  warp/tests/test_mat.py
  warp/tests/test_mat_assign_copy.py
  warp/tests/test_quat.py
  warp/tests/test_quat_assign_copy.py
  warp/tests/test_spatial.py
  warp/tests/test_spatial_assign_copy.py
  warp/tests/test_vec.py
  warp/tests/test_vec_assign_copy.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add `wp.matrix_from_rows/cols()` to Python's API
  warp/__init__.py
  warp/__init__.pyi
  warp/tests/test_mat.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
