Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Update GH workflows, add a default python version
  .github/PULL_REQUEST_TEMPLATE.md
  .github/codecov.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/sphinx.yml
  .python-version
Due: none

Consolidate Ruff CI jobs into a single one
  .gitlab-ci.yml
Due: linux-x86_64 asv

aarch64 build jobs extend .omni_devplat_arm_compute
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a waiver for the `omni.warp.core` tests
  exts/omni.warp.core/config/extension.toml
Due: none

Update vec, quat, mat read/write tests
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-614: inconsistent dimensions with DeformedGeometry from Trimesh3d
  CHANGELOG.md
  warp/fem/field/field.py
  warp/fem/field/nodal_field.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-618, add lookup operator test for supported geometries
  CHANGELOG.md
  warp/fem/geometry/adaptive_nanogrid.py
  warp/fem/geometry/trimesh.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Cholesky solver LTO hash includes all necessary input parameters (GH-639)
  CHANGELOG.md
  warp/build.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve type __repr__ implementations
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
  warp/tests/test_codegen.py
  warp/tests/test_mat.py
  warp/tests/test_vec.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip test_adaptive_nanogrid for Warp built with CTK 11
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Skip GPU testing of Raymarch example on Windows due to NVRTC bug
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Re-run the check_api repo tool
  exts/omni.warp/config/python_api.md
Due: none

Detect if JAX is capturing a CUDA graph
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix the jitter for the OgnParticlesFromMesh node
  CHANGELOG.md
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesFromMesh.py
Due: none

Fix returns in grid-stride loops (GH-594)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix uninitialized variable in warp.cu.
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Set version to 1.7.1-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update pyproject.toml with new conventions
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Update some CI jobs to use uv
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix recursive application of struct_instance_repr_recursive
  warp/codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix a typo
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix dtype missing for `wp.quaternion()`
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix invalid `dtype` comparison
  CHANGELOG.md
  warp/builtins.py
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix bug where use_repr is not passed, but is a required field.
  warp/codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reset rigid_contact_tids to -1 (GH-623, GH-459)
  CHANGELOG.md
  docs/modules/sim.rst
  warp/sim/collide.py
  warp/sim/model.py
  warp/tests/sim/test_collision.py
  warp/tests/sim/test_sim_grad.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix tile loads for small tiles that are aligned to 16B boundary. (GH-622)
  CHANGELOG.md
  warp/codegen.py
  warp/native/tile.h
  warp/tests/tile/test_tile_load.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update Jax DLPack interop calls
  docs/modules/interoperability.rst
  warp/jax.py
  warp/tests/interop/test_dlpack.py
  warp/tests/interop/test_jax.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve the simulation behaviour
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.py
Due: none

Update changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Run checkapi
  exts/omni.warp/config/python_api.md
Due: none

Revert some changes to pyproject.toml for Python 3.8
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Refactor the Collision Handling of VBDIntegrator: Decoupled Collision Evaluation from the Mega Kernel (GH-442)
  CHANGELOG.md
  warp/sim/collide.py
  warp/sim/integrator_vbd.py
  warp/sim/model.py
  warp/tests/sim/test_collision.py
  warp/tests/sim/test_coloring.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
