Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Derive tile warp-scan constants from WP_TILE_WARP_SIZE
  changelog/+tile-warp-width-constants.fixed.md
  warp/native/array.h
  warp/native/tile_radix_sort.h
  warp/native/tile_reduce.h
  warp/native/tile_scan.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden JAX device availability checks
  warp/tests/interop/aux_test_jax_device.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify platform support documentation
  README.md
  docs/user_guide/compatibility.rst
  docs/user_guide/installation.rst
Due: none

Remove internal bug tracker references
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.17.0rc3
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden JAX DLPack device probes
  warp/tests/interop/test_dlpack.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.17.0rc4
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enumerate packed BVH leaves through scalar cursors [GH-1843]
  changelog/1843.changed.md
  warp/native/bvh.h
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix FEM dynamic cache identities (GH-1866)
  changelog/1866.fixed.md
  warp/_src/fem/field/field.py
  warp/_src/fem/geometry/hexmesh.py
  warp/_src/fem/space/point_basis_space.py
  warp/tests/fem/aux_test_function_cache_1.py
  warp/tests/fem/aux_test_function_cache_2.py
  warp/tests/fem/test_fem_field.py
  warp/tests/fem/test_fem_geometry.py
  warp/tests/fem/test_fem_quadrature.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Route Windows Blackwell CI to omniblue
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Harden graph coloring edge validation
  changelog/1868.fixed.md
  warp/_src/coloring.py
  warp/native/coloring.cpp
  warp/tests/test_coloring.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.17.0
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify Warp security boundaries
  SECURITY.md
Due: none

Bump typos to 1.50.0
  .pre-commit-config.yaml
Due: none

Align clang-format with C++17
  .clang-format
Due: none

Bump Ruff to 0.16.5
  .claude/skills/warp-release-notes/references/feature-release-template.md
  .claude/skills/warp-release-notes/references/style-rules.md
  .codex/skills/warp-release-notes/references/feature-release-template.md
  .codex/skills/warp-release-notes/references/style-rules.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  design/hardware-coherent-memory-access.md
  design/pluggable-allocators.md
  design/unified-logging.md
  skills/warp-compile-time-optimizer/SKILL.md
  skills/warp-compile-time-optimizer/references/mechanisms.md
  skills/warp-debug-gradients/references/case-studies.md
  skills/warp-debug-gradients/references/custom-gradients.md
  skills/warp-debug-gradients/references/verification.md
  warp/examples/cpp/00_cubin_launch/README.md
  warp/examples/cpp/01_source_include/README.md
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump clang-format to 23.1.0
  .pre-commit-config.yaml
Due: none

Synchronize pre-commit tooling
  .github/workflows/build-llvm-sdk.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
  .gitlab-ci.yml
  CONTRIBUTING.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump uv hook to 0.12.7
  .pre-commit-config.yaml
Due: none

Update pre-commit tooling
  .clang-format
  .claude/skills/warp-release-notes/references/feature-release-template.md
  .claude/skills/warp-release-notes/references/style-rules.md
  .codex/skills/warp-release-notes/references/feature-release-template.md
  .codex/skills/warp-release-notes/references/style-rules.md
  .github/workflows/build-llvm-sdk.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
  .gitlab-ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  design/hardware-coherent-memory-access.md
  design/pluggable-allocators.md
  design/unified-logging.md
  pyproject.toml
  warp/examples/cpp/00_cubin_launch/README.md
  warp/examples/cpp/01_source_include/README.md
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/project/contribution_guide.html
Due: none

Validate FEM mesh vertex indices
  changelog/1873.fixed.md
  warp/_src/fem/geometry/hexmesh.py
  warp/_src/fem/geometry/quadmesh.py
  warp/_src/fem/geometry/tetmesh.py
  warp/_src/fem/geometry/trimesh.py
  warp/_src/fem/utils.py
  warp/tests/fem/test_fem_geometry.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix FEM dynamic cache identities [GH-1866]
  changelog/1866.fixed.md
  warp/_src/fem/field/field.py
  warp/_src/fem/geometry/hexmesh.py
  warp/_src/fem/space/point_basis_space.py
  warp/tests/fem/aux_test_function_cache_1.py
  warp/tests/fem/aux_test_function_cache_2.py
  warp/tests/fem/test_fem_field.py
  warp/tests/fem/test_fem_geometry.py
  warp/tests/fem/test_fem_quadrature.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.Hexmesh.html
  latest/api_reference/_generated/warp.fem.ImplicitField.html
  latest/api_reference/_generated/warp.fem.NonconformingField.html
  latest/api_reference/_generated/warp.fem.PointBasisSpace.html
  latest/api_reference/_generated/warp.fem.UniformField.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
Due: none

Update Warp publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Fix elastic shape optimization (GH-1832)
  changelog/1832.fixed.md
  warp/examples/fem/example_elastic_shape_optimization.py
  warp/tests/fem/test_fem_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Python slicing of rectangular matrices
  changelog/+fix-rectangular-matrix-slicing.fixed.md
  warp/_src/types.py
  warp/tests/matrix/test_mat_basics.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Raise specific exception types in builtins.py (GH-786)
  changelog/786.changed.md
  warp/_src/builtins.py
  warp/tests/matrix/test_mat.py
  warp/tests/matrix/test_mat_constructors.py
  warp/tests/test_atomic.py
  warp/tests/test_codegen.py
  warp/tests/test_composite_component_adjoint.py
  warp/tests/test_constant_precision.py
  warp/tests/test_fixedarray.py
  warp/tests/test_print.py
  warp/tests/test_spatial.py
  warp/tests/test_vec.py
  warp/tests/test_vec_constructors.py
  warp/tests/tile/test_tile_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate gradient shape and dtype in optimizers (GH-1880)
  changelog/1880.fixed.md
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate moment buffer shapes and dtypes in optimizers (GH-1880)
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Validate null buffer inputs in optimizer step_detail (GH-1880)
  warp/_src/optim/adam.py
  warp/_src/optim/sgd.py
  warp/tests/test_adam.py
  warp/tests/test_sgd.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix JAX FFI VMA propagation [GH-1851]
  changelog/1851.fixed.md
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
