Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Add docstrings to block-Jacobi preconditioner code
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use filed issue number for changelog fragment (GH-1891)
  changelog/+block-jacobi-preconditioner.added.md
  changelog/1891.added.md
Due: none

Improve spatial and transformation built-in docstrings [GH-1498]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.spatial_adjoint.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_bottom.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_cross.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_cross_dual.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_dot.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_top.rst.txt
  latest/_sources/language_reference/_generated/warp.spatial_vector.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_get_rotation.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_get_translation.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_identity.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_inverse.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_multiply.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_point.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_set_rotation.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_set_translation.rst.txt
  latest/_sources/language_reference/_generated/warp.transform_vector.rst.txt
  latest/_sources/language_reference/_generated/warp.transformation.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.spatial_adjoint.html
  latest/language_reference/_generated/warp.spatial_bottom.html
  latest/language_reference/_generated/warp.spatial_cross.html
  latest/language_reference/_generated/warp.spatial_cross_dual.html
  latest/language_reference/_generated/warp.spatial_dot.html
  latest/language_reference/_generated/warp.spatial_top.html
  latest/language_reference/_generated/warp.spatial_vector.html
  latest/language_reference/_generated/warp.transform_get_rotation.html
  latest/language_reference/_generated/warp.transform_get_translation.html
  latest/language_reference/_generated/warp.transform_identity.html
  latest/language_reference/_generated/warp.transform_inverse.html
  latest/language_reference/_generated/warp.transform_multiply.html
  latest/language_reference/_generated/warp.transform_point.html
  latest/language_reference/_generated/warp.transform_set_rotation.html
  latest/language_reference/_generated/warp.transform_set_translation.html
  latest/language_reference/_generated/warp.transform_vector.html
  latest/language_reference/_generated/warp.transformation.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Find MSVC from Build Tools installs (GH-1892)
  changelog/1892.fixed.md
  warp/_src/build_dll.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix FEM shape optimization not moving vertices [GH-1832]
  changelog/1832.fixed.md
  warp/examples/fem/example_elastic_shape_optimization.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.device_from_torch.html
  latest/api_reference/_generated/warp.from_torch.html
  latest/api_reference/_generated/warp.to_torch.html
  latest/user_guide/interoperability/pytorch.html
  latest/user_guide/runtime.html
Due: none

Make Built-in Tags LLM-Friendly (GH-1853)
  changelog/+builtin-unresolved-return-type.fixed.md
  changelog/1853.documentation.md
  docs/_ext/wp_builtin_tags.py
  docs/_static/custom.css
  docs/_templates/builtins.rst
  docs/conf.py
  docs/generate_reference.py
  warp/_src/context.py
  warp/_src/lang.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Raise on array_scan device failures [GH-1894]
  changelog/1894.fixed.md
  warp/_src/context.py
  warp/_src/utils.py
  warp/native/apic.cu
  warp/native/scan.cu
  warp/native/scan.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify APIC example run paths
  docs/user_guide/runtime.rst
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/03_apic_visualization_cpu/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify APIC smoke-test paths
  docs/user_guide/runtime.rst
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/03_apic_visualization_cpu/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/searchindex.js
  latest/user_guide/runtime.html
Due: none

Ship Windows Import Libraries (GH-1888)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .gitlab/ci/common.yml
  .gitlab/ci/debug-build-and-test.yml
  CMakeLists.txt
  changelog/1888.added.md
  design/windows-import-libraries.md
  docs/user_guide/programming_model/cpp_cuda_workflows.rst
  docs/user_guide/runtime.rst
  setup.py
  tools/ci/windows_import_library_smoke/CMakeLists.txt
  tools/ci/windows_import_library_smoke/main.cpp
  warp/_src/build_dll.py
  warp/examples/cpp/02_apic_visualization/CMakeLists.txt
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/CMakeLists.txt
  warp/examples/cpp/03_apic_visualization_cpu/Makefile
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/examples/cpp/README.md
  warp/native/api.h
  warp/native/apic.h
  warp/native/clang/clang.cpp
  warp/native/crt.h
  warp/native/warp.h
  warp/native/warp_clang.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Parallelize documentation doctests
  .github/workflows/ci.yml
  .gitlab-ci.yml
  build_docs.py
  docs/_ext/wp_doctest.py
  docs/conf.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify built-in tag documentation [GH-1853]
  warp/_src/lang.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Add recent Warp publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Surface native graph coloring errors [GH-1868]
  changelog/1868.fixed.md
  warp/_src/coloring.py
  warp/native/coloring.cpp
  warp/native/error.h
  warp/tests/test_coloring.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Share one shrinking-radius core across mesh closest-point queries [GH-1844]
  changelog/1844.changed.md
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Handle negative reduction axes [GH-1893]
  changelog/1893.fixed.md
  warp/_src/utils.py
  warp/tests/test_apic.py
  warp/tests/test_array_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.ScopedAllocator.html
  latest/api_reference/_generated/warp.ScopedCapture.html
  latest/api_reference/_generated/warp.ScopedCudaProfiler.html
  latest/api_reference/_generated/warp.ScopedDevice.html
  latest/api_reference/_generated/warp.ScopedLogLevel.html
  latest/api_reference/_generated/warp.ScopedLogger.html
  latest/api_reference/_generated/warp.ScopedMemoryTracker.html
  latest/api_reference/_generated/warp.ScopedMempool.html
  latest/api_reference/_generated/warp.ScopedMempoolAccess.html
  latest/api_reference/_generated/warp.ScopedPeerAccess.html
  latest/api_reference/_generated/warp.ScopedStream.html
  latest/api_reference/_generated/warp.ScopedTimer.html
  latest/api_reference/_generated/warp.TimingResult.html
  latest/api_reference/_generated/warp.map.html
  latest/api_reference/_generated/warp.timing_begin.html
  latest/api_reference/_generated/warp.timing_end.html
  latest/api_reference/_generated/warp.timing_print.html
  latest/api_reference/_generated/warp.transform_expand.html
  latest/api_reference/_generated/warp.utils.array_cast.html
  latest/api_reference/_generated/warp.utils.array_inner.html
  latest/api_reference/_generated/warp.utils.array_scan.html
  latest/api_reference/_generated/warp.utils.array_sum.html
  latest/api_reference/_generated/warp.utils.create_warp_function.html
  latest/api_reference/_generated/warp.utils.radix_sort_pairs.html
  latest/api_reference/_generated/warp.utils.runlength_encode.html
  latest/api_reference/_generated/warp.utils.segmented_sort_pairs.html
  latest/searchindex.js
Due: none

Reject invalid OpenGL mesh indices [GH-1899]
  changelog/1899.fixed.md
  warp/_src/render/render_opengl.py
  warp/tests/test_render_opengl.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix block-Jacobi preconditioner data race and perf regression
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.render.OpenGLRenderer.html
Due: none

Add direct/sequential block-Jacobi strategies and auto dispatch
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix wrapped docstring summary lines in block-Jacobi code
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Rewrite block-Jacobi changelog entry per review feedback
  changelog/1891.added.md
Due: none

Validate TID Launch Extents (GH-1815)
  asv/benchmarks/api/launch.py
  changelog/1815.changed.md
  changelog/1815.fixed.md
  design/api-capture-and-cpu-graphs.md
  docs/user_guide/limitations.rst
  docs/user_guide/runtime.rst
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/_src/types.py
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/builtin.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/interop/test_jax.py
  warp/tests/test_apic.py
  warp/tests/test_template_launch_bounds.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reframe block-Jacobi docs and cap direct at block size 8
  changelog/1891.added.md
  warp/_src/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid redundant mesh index copy [GH-1899]
  warp/_src/render/render_opengl.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve tile load/store built-in docstrings [GH-1498]
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/language_reference/_generated/warp.tile_atomic_add.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_atomic_add_indexed.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_load.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_load_indexed.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_scatter_add.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_scatter_masked.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_store.rst.txt
  latest/_sources/language_reference/_generated/warp.tile_store_indexed.rst.txt
  latest/api_reference/_generated/warp.static.html
  latest/language_reference/_generated/warp.tile_atomic_add.html
  latest/language_reference/_generated/warp.tile_atomic_add_indexed.html
  latest/language_reference/_generated/warp.tile_load.html
  latest/language_reference/_generated/warp.tile_load_indexed.html
  latest/language_reference/_generated/warp.tile_scatter_add.html
  latest/language_reference/_generated/warp.tile_scatter_masked.html
  latest/language_reference/_generated/warp.tile_store.html
  latest/language_reference/_generated/warp.tile_store_indexed.html
  latest/language_reference/builtins.html
  latest/searchindex.js
Due: none

Validate array_inner input shapes [GH-1903]
  changelog/1903.fixed.md
  warp/_src/utils.py
  warp/tests/test_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.ScopedAllocator.html
  latest/api_reference/_generated/warp.ScopedCapture.html
  latest/api_reference/_generated/warp.ScopedCudaProfiler.html
  latest/api_reference/_generated/warp.ScopedDevice.html
  latest/api_reference/_generated/warp.ScopedLogLevel.html
  latest/api_reference/_generated/warp.ScopedLogger.html
  latest/api_reference/_generated/warp.ScopedMemoryTracker.html
  latest/api_reference/_generated/warp.ScopedMempool.html
  latest/api_reference/_generated/warp.ScopedMempoolAccess.html
  latest/api_reference/_generated/warp.ScopedPeerAccess.html
  latest/api_reference/_generated/warp.ScopedStream.html
  latest/api_reference/_generated/warp.ScopedTimer.html
  latest/api_reference/_generated/warp.TimingResult.html
  latest/api_reference/_generated/warp.map.html
  latest/api_reference/_generated/warp.timing_begin.html
  latest/api_reference/_generated/warp.timing_end.html
  latest/api_reference/_generated/warp.timing_print.html
  latest/api_reference/_generated/warp.utils.array_cast.html
  latest/api_reference/_generated/warp.utils.array_inner.html
  latest/api_reference/_generated/warp.utils.create_warp_function.html
  latest/searchindex.js
Due: none

Improve OpenGL mesh API docs [GH-1899]
  warp/_src/render/render_opengl.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Standardize APIC diagnostic prefixes
  changelog/+update-apic-errors.changed.md
  design/api-capture-and-cpu-graphs.md
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/warp.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.render.OpenGLRenderer.html
  latest/searchindex.js
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
