Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Release Warp 1.12.0
  CHANGELOG.md
  VERSION.md
  asv/tag_commits.txt
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Suppress cppcheck 2.20 false positives
  warp/native/solid_angle.h
  warp/native/texture.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deprecate Python 3.9 support
  CHANGELOG.md
  build_lib.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Force GC after each test to reduce peak memory in parallel runs
  warp/_src/thirdparty/unittest_parallel.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update release notes and docs for Warp 1.12.0
  CHANGELOG.md
  asv/tag_commits.txt
  docs/user_guide/installation.rst
Due: linux-x86_64 asv

Add print_diagnostics() hint to bug report template
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Due: none

Add DGX Spark CI test job
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enable faulthandler in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/sphinx.yml
Due: none

Add X-Loco publication to publications list
  PUBLICATIONS.md
Due: none

feat: add and clean up 2D Navier-Stokes optimization example
  CHANGELOG.md
  README.md
  docs/img/examples/optim_navier_stokes_perturbation.png
  docs/index.rst
  warp/examples/optim/example_navier_stokes_perturbation.py
  warp/tests/test_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix broken GitHub links to example scripts
  README.md
  docs/index.rst
  docs/user_guide/interoperability.rst
Due: none

Fix internal module path leaking into docs titles and URLs [GH-1275]
  CHANGELOG.md
  docs/_static/custom.css
  docs/_templates/builtins.rst
  docs/conf.py
  docs/generate_reference.py
  docs/language_reference/builtins.rst
Due: none

Add C++ literal suffixes for 64-bit scalar constants
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve precision in scalar type constructor constants
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add test for negative int64 constant precision
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add basic tests for 64-bit constant precision preservation
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support negative infinity in constant folding and codegen
  warp/_src/codegen.py
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add edge-case tests for INF, NAN, and negative float64 constants
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add codegen verification test for negative constant emission
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix precision preservation to avoid const and suffix issues
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update limitations doc for constant precision preservation
  docs/user_guide/limitations.rst
Due: none

Add CHANGELOG entry for constant precision preservation (GH-485)
  CHANGELOG.md
Due: none

Fix internal module path leaking into docs titles and URLs [GH-1275]
  docs/_static/custom.css
  docs/_templates/builtins.rst
  docs/conf.py
  docs/generate_reference.py
  docs/language_reference/builtins.rst
Due: none

Add test for float64 precision with large integer constants
  warp/tests/test_compile_consts.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

feat: support anisotropic voxel sizes in Volume.load_from_numpy and Volume.allocate
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/geometry/test_volume.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Eliminate dead narrowed variables for 64-bit constant args
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add cuRoboV2 and GaussTwin to publications list
  PUBLICATIONS.md
Due: none

Fix Texture creation without prior wp.init() call (GH-1272)
  CHANGELOG.md
  warp/_src/texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update warp-builder CUDA Toolkit from 13.1.0 to 13.2.0
  .github/workflows/build-warp-builder-images.yml
  docker/warp-builder/Dockerfile
  docker/warp-builder/README.md
Due: none

Add PyTorch CUDA graph capture docs with complete examples
  docs/user_guide/interoperability.rst
Due: none

Add disc cooling simulation Colab notebook
  notebooks/disc_cooling_sim.ipynb
Due: none

Fix caller module detection for runpy-based execution
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/aux_test_options_runpy.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix: validate default_ptx_arch against NVRTC supported architectures
  warp/_src/context.py
  warp/tests/test_context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix augmented assignment double-evaluation of RHS expressions
  warp/_src/codegen.py
  warp/tests/test_augmented_assign.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Align do_augmented_assign try/except with ast.Name handler pattern
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix UB in float-to-unsigned scalar type conversions
  repro_uint8_bug.py
  warp/_src/builtins.py
  warp/native/builtin.h
  warp/tests/test_codegen_instancing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add external texture support, refactor texture interop runtime
  warp/__init__.py
  warp/_src/context.py
  warp/_src/dlpack.py
  warp/_src/texture.py
  warp/_src/types.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/texture.cpp
  warp/native/texture.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix PCH race condition in concurrent CUDA compilation [GH-1284]
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
