Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Rename launch_verification_mode to launch_array_access_mode [GH-1461]
  CHANGELOG.md
  design/hardware-coherent-memory-access.md
  design/pluggable-allocators.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_config.rst
  docs/conf.py
  docs/deep_dive/memory_access.rst
  docs/generate_reference.py
  docs/user_guide/limitations.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/context.py
  warp/config.py
  warp/tests/cuda/test_unified_memory.py
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: v1.14
  v1.14/_sources/api_reference/_generated/warp.LaunchVerificationMode.rst.txt
  v1.14/_sources/api_reference/_generated/warp.config.LaunchArrayAccessMode.rst.txt
  v1.14/_sources/api_reference/_generated/warp.config.LaunchVerificationMode.rst.txt
  v1.14/_sources/api_reference/_generated/warp.config.launch_array_access_mode.rst.txt
  v1.14/_sources/api_reference/_generated/warp.config.launch_verification_mode.rst.txt
  v1.14/_sources/api_reference/warp.rst.txt
  v1.14/_sources/api_reference/warp_config.rst.txt
  v1.14/_sources/deep_dive/memory_access.rst.txt
  v1.14/_sources/user_guide/limitations.rst.txt
  v1.14/api_reference/_generated/warp.TextureResourceFlags.html
  v1.14/api_reference/_generated/warp.clear_kernel_cache.html
  v1.14/api_reference/_generated/warp.config.LaunchArrayAccessMode.html
  v1.14/api_reference/_generated/warp.config.LaunchVerificationMode.html
  v1.14/api_reference/_generated/warp.config.cache_kernels.html
  v1.14/api_reference/_generated/warp.config.kernel_cache_dir.html
  v1.14/api_reference/_generated/warp.config.launch_array_access_mode.html
  v1.14/api_reference/_generated/warp.config.legacy_cpu_linker.html
  v1.14/api_reference/warp.html
  v1.14/api_reference/warp_config.html
  v1.14/deep_dive/memory_access.html
  v1.14/genindex.html
  v1.14/objects.inv
  v1.14/searchindex.js
  v1.14/user_guide/changelog.html
  v1.14/user_guide/limitations.html
Due: none

Bump Warp dev version
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/api_reference/_generated/warp.LaunchVerificationMode.rst.txt
  latest/_sources/api_reference/_generated/warp.config.LaunchArrayAccessMode.rst.txt
  latest/_sources/api_reference/_generated/warp.config.LaunchVerificationMode.rst.txt
  latest/_sources/api_reference/_generated/warp.config.launch_array_access_mode.rst.txt
  latest/_sources/api_reference/_generated/warp.config.launch_verification_mode.rst.txt
  latest/_sources/api_reference/warp.rst.txt
  latest/_sources/api_reference/warp_config.rst.txt
  latest/_sources/deep_dive/memory_access.rst.txt
  latest/_sources/user_guide/limitations.rst.txt
  latest/api_reference/_generated/warp.LaunchVerificationMode.html
  latest/api_reference/_generated/warp.TextureResourceFlags.html
  latest/api_reference/_generated/warp.clear_kernel_cache.html
  latest/api_reference/_generated/warp.config.LaunchArrayAccessMode.html
  latest/api_reference/_generated/warp.config.cache_kernels.html
  latest/api_reference/_generated/warp.config.kernel_cache_dir.html
  latest/api_reference/_generated/warp.config.launch_array_access_mode.html
  latest/api_reference/_generated/warp.config.legacy_cpu_linker.html
  latest/api_reference/warp.html
  latest/api_reference/warp_config.html
  latest/deep_dive/memory_access.html
  latest/genindex.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/changelog.html
  latest/user_guide/limitations.html
Due: none

Skip mempool peer tests when P2P is off
  warp/tests/cuda/test_unified_memory.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize fastcall half benchmark
  asv/benchmarks/fastcall.py
Due: linux-x86_64 asv

Freeze ASV compare ref
  .gitlab/ci/asv.yml
Due: linux-x86_64 test mujoco warp

Reject non-None kernel return annotations (NVIDIAGH-1471)
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pin GitHub Actions workflows
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/build-warp-cpp-test-env-image.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/draft-release.yml
  .github/workflows/pr.yml
  .github/workflows/sphinx.yml
Due: none

Remove stale tutorial notebooks
  CHANGELOG.md
  README.md
  docs/user_guide/basics.rst
  docs/user_guide/interoperability_pytorch.rst
  docs/user_guide/runtime.rst
  notebooks/core_01_basics.ipynb
  notebooks/core_02_generics.ipynb
  notebooks/core_03_points.ipynb
  notebooks/core_04_meshes.ipynb
  notebooks/core_05_volumes.ipynb
  notebooks/pytorch_01_basics.ipynb
  notebooks/pytorch_02_custom_operators.ipynb
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Deploy docs: latest
  latest/_sources/user_guide/basics.rst.txt
  latest/_sources/user_guide/interoperability_pytorch.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/searchindex.js
  latest/user_guide/basics.html
  latest/user_guide/changelog.html
  latest/user_guide/interoperability_pytorch.html
  latest/user_guide/runtime.html
Due: none

Fix Torch graph stream capture test
  warp/tests/interop/test_torch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restructure JAX public API
  CHANGELOG.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_jax.rst
  docs/api_reference/warp_jax_custom_call.rst
  docs/api_reference/warp_jax_ffi.rst
  docs/conf.py
  docs/generate_reference.py
  docs/index.rst
  docs/user_guide/interoperability_jax.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/jax/custom_call.py
  warp/_src/jax/ffi.py
  warp/_src/jax/xla_ffi.py
  warp/examples/benchmarks/benchmark_jax_ffi_graph.py
  warp/examples/interop/example_jax_callable.py
  warp/examples/interop/example_jax_ffi_callback.py
  warp/examples/interop/example_jax_kernel.py
  warp/jax/__init__.py
  warp/jax/custom_call.py
  warp/jax/ffi.py
  warp/jax_experimental/__init__.py
  warp/jax_experimental/_deprecation.py
  warp/jax_experimental/custom_call.py
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_dlpack.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Set version to 1.14.0rc2
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix a codegen race condition GH-1474
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_module_parallel_load.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend APIC for backward kernel launches and generic argument capture [GH-1431]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/capture.py
  warp/_src/apic/types.py
  warp/_src/context.py
  warp/_src/utils.py
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/scan.cpp
  warp/native/volume.cpp
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Suppress WER dumps in assert tests
  warp/tests/test_assert.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend APIC graph capture [GH-1431]
  CHANGELOG.md
  docs/user_guide/runtime.rst
  warp/_src/apic/capture.py
  warp/_src/apic/types.py
  warp/_src/context.py
  warp/_src/utils.py
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/02_apic_visualization/main.cu
  warp/examples/cpp/03_apic_visualization_cpu/README.md
  warp/examples/cpp/03_apic_visualization_cpu/main.cpp
  warp/native/apic.cpp
  warp/native/apic.cu
  warp/native/apic.h
  warp/native/apic_internal.h
  warp/native/apic_types.h
  warp/native/scan.cpp
  warp/native/volume.cpp
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip P2P peer-read tests
  warp/tests/cuda/test_unified_memory.py
  warp/tests/test_graph.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use cu126 Torch for CUDA 12
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Scope RMM to CUDA 12 CI jobs
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Use CUDA 13 deps for Blackwell
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
