Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

feat(examples): Add single-GPU FDTD Luneburg lens example
  README.md
  changelog/1772.added.md
  docs/img/examples/core_fdtd_3d.png
  docs/index.rst
  warp/examples/core/example_fdtd_3d.py
  warp/tests/test_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add single-GPU FDTD Luneburg lens example [GH-1772]
  README.md
  changelog/1772.added.md
  docs/img/examples/core_fdtd_3d.png
  docs/index.rst
  warp/examples/core/example_fdtd_3d.py
  warp/tests/test_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_images/core_fdtd_3d.png
  latest/_sources/index.rst.txt
  latest/index.html
  latest/searchindex.js
Due: none

Ignore trailing BSR capacity [GH-1769]
  changelog/1769.fixed.md
  warp/native/sparse.cu
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize Module Codegen (GH-1738)
  VERSION.md
  changelog/1738.fixed.md
  warp/_src/build.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/tests/test_module_hashing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix autograd backward options (GH-1718)
  changelog/1718.fixed.md
  warp/_src/autograd.py
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add adjoints for texture_sample (GH-1301)
  changelog/1301.added.md
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/texture.py
  warp/native/texture.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend texture gradient tests to WRAP/MIRROR in 2D/3D (GH-1301)
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix zip() call flagged by pre-commit.ci (GH-1301)
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix warp-debug-gradients evals for CPU-only CI
  skills/warp-debug-gradients/BENCHMARK.md
  skills/warp-debug-gradients/SKILL.md
  skills/warp-debug-gradients/evals/EVAL.md
  skills/warp-debug-gradients/evals/evals-full.json
  skills/warp-debug-gradients/evals/evals.json
  skills/warp-debug-gradients/evals/files/springs.py
  skills/warp-debug-gradients/evals/files/torch_train.py
  skills/warp-debug-gradients/skill-card.md
  skills/warp-debug-gradients/skill.oms.sig
Due: none

address reviewer comments
  build_lib.py
  warp/_src/build_dll.py
  warp/native/array.h
  warp/native/builtin.h
  warp/native/cuda_util.h
  warp/native/hip_util.h
  warp/native/mat.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

fix precommit failures
  build_lib.py
  pyproject.toml
  warp/_src/build_dll.py
  warp/native/array.h
  warp/native/builtin.h
  warp/native/cuda_util.h
  warp/native/hip_util.h
  warp/native/mat.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Propagate Parallel Load Errors (GH-1749)
  changelog/1749.fixed.md
  warp/_src/context.py
  warp/tests/test_module_parallel_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix compile-time optimizer eval staging and scan
  skills/warp-compile-time-optimizer/BENCHMARK.md
  skills/warp-compile-time-optimizer/SKILL.md
  skills/warp-compile-time-optimizer/config/skillspector-baseline.yaml
  skills/warp-compile-time-optimizer/evals/config.yml
  skills/warp-compile-time-optimizer/evals/evals.json
  skills/warp-compile-time-optimizer/skill-card.md
  skills/warp-compile-time-optimizer/skill.oms.sig
Due: none

Correct Jacobian product terminology in user guide
  docs/user_guide/differentiability.rst
Due: none

Fix wp.autograd gradient checks for input-mutating functions and mixed precision [GH-1726]
  changelog/1726.fixed.1.md
  changelog/1726.fixed.md
  warp/_src/autograd.py
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.autograd.gradcheck.html
  latest/api_reference/_generated/warp.autograd.gradcheck_tape.html
  latest/api_reference/_generated/warp.autograd.jacobian.html
  latest/api_reference/_generated/warp.autograd.jacobian_fd.html
  latest/api_reference/_generated/warp.autograd.jacobian_plot.html
  latest/searchindex.js
Due: none

Deploy docs: latest
  latest/_sources/user_guide/differentiability.rst.txt
  latest/user_guide/differentiability.html
Due: none

Add SAFE-CHEM publication
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Fix JAX FFI cache identity [GH-1215]
  changelog/1215.fixed.md
  warp/_src/jax/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.clear_jax_callable_graph_cache.html
  latest/api_reference/_generated/warp.jax_callable.html
  latest/api_reference/_generated/warp.jax_kernel.html
Due: none

Test cross-capture wp.array deallocation ordering in shared-graph captures
  warp/tests/cuda/test_graph_alloc_cross_capture_free.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Tighten texture_sample gradient docs (GH-1301)
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify APIC example run paths
  docs/user_guide/runtime.rst
  warp/examples/cpp/02_apic_visualization/README.md
  warp/examples/cpp/03_apic_visualization_cpu/README.md
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

sparse: make nnz_sync ordering sound by construction after graph replay
  changelog/1792.fixed.md
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix autograd backward options [GH-1718]
  changelog/1718.fixed.md
  warp/_src/autograd.py
  warp/tests/test_grad_debug.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.autograd.gradcheck.html
  latest/api_reference/_generated/warp.autograd.gradcheck_tape.html
  latest/api_reference/_generated/warp.autograd.jacobian.html
  latest/api_reference/_generated/warp.autograd.jacobian_fd.html
  latest/api_reference/_generated/warp.autograd.jacobian_plot.html
Due: none

Forward skip_leaf_join through ScopedCapture and test the guest-window pattern
  warp/_src/utils.py
  warp/tests/cuda/test_graph_skip_leaf_join.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

capture_end: add skip_leaf_join to opt out of the broad leaf-join pass (GH-1787)
  changelog/1787.added.md
  warp/_src/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_graph_skip_leaf_join.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Select the cudaGraphGetEdges signature from the runtime version
  warp/tests/cuda/test_graph_skip_leaf_join.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Apply review conventions: Google-style docstrings, subscript annotations
  warp/tests/cuda/test_graph_skip_leaf_join.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Address review: document unconditional readback, Google-style Args, rename unused loop var
  warp/_src/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

sparse: restore nnz_sync fix as a capture-poisoned transfer cache
  changelog/1792.fixed.md
  warp/_src/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix backward tile codegen (GH-1717)
  changelog/+wp-grad-custom-grad.fixed.md
  changelog/1717.fixed.md
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/tests/cuda/test_cluster_dim.py
  warp/tests/test_options.py
  warp/tests/tile/test_tile_cholesky.py
  warp/tests/tile/test_tile_mathdx_lto.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Introduce CUDASTF task interop (warp.stf_experimental)
  .gitlab-ci.yml
  CHANGELOG.md
  docs/api_reference/warp.rst
  docs/api_reference/warp_stf_experimental.rst
  docs/conf.py
  docs/index.rst
  docs/user_guide/execution_and_performance.rst
  docs/user_guide/execution_and_performance/stf_task_graphs.rst
  warp/_src/codegen.py
  warp/_src/stf_experimental/__init__.py
  warp/_src/stf_experimental/_capture_detect.py
  warp/_src/stf_experimental/context.py
  warp/_src/stf_experimental/graph_debug.py
  warp/examples/interop/example_stf_cg.py
  warp/examples/interop/example_stf_cg_stackable.py
  warp/examples/interop/example_stf_cg_token.py
  warp/examples/interop/example_stf_task_graph.py
  warp/stf_experimental/__init__.py
  warp/tests/interop/test_stf_experimental.py
  warp/tests/interop/test_stf_experimental_both.py
  warp/tests/interop/test_stf_experimental_capture_while.py
  warp/tests/interop/test_stf_experimental_exec_place.py
  warp/tests/interop/test_stf_experimental_inner_local.py
  warp/tests/interop/test_stf_experimental_logical_data.py
  warp/tests/interop/test_stf_experimental_outer_dag.py
  warp/tests/interop/test_stf_experimental_task_graph.py
  warp/tests/test_examples.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

stf_experimental: task-safe metadata readback example (host access after device accesses)
  warp/examples/interop/example_stf_nnz_readback.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Stabilize Module Codegen [GH-1738]
  VERSION.md
  changelog/1738.fixed.md
  warp/_src/build.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/native/version.h
  warp/tests/test_module_hashing.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
