Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Scope RMM to CUDA 12 CI jobs
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Fix APIC tests under CUDA driver < 12.3 (GH-1431)
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Module.load cross-device block_dim leak (GH-564)
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add EndoGSim publication
  PUBLICATIONS.md
Due: none

Plumb active block_dim to ModuleExec and APIC capture (GH-564)
  CHANGELOG.md
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/publications.html
Due: none

Preload default capture block dim
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preload default capture variant first
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preload stale CUDA capture defaults
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix binding a Warp function to a kernel-local (GH-1423)
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/aux_test_dependent_local.py
  warp/tests/test_codegen.py
  warp/tests/test_reload.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Finalize 1.14.0 changelog
  CHANGELOG.md
Due: none

Finalize 1.14.0 version
  CHANGELOG.md
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Module.load cross-device block_dim leak (GH-564)
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix force_load default block_dim regression (GH-564)
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Plumb active block_dim to ModuleExec and APIC capture (GH-564)
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/tests/test_apic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Scope failed_builds by block_dim and snapshot exec keys
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Module.load cross-device block_dim leak [GH-564]
  CHANGELOG.md
  warp/_src/apic/capture.py
  warp/_src/context.py
  warp/tests/test_apic.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update Windows GPU runner tag
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document FEM positional signature changes
  CHANGELOG.md
Due: none

Add PyTorch allocator tests
  warp/tests/test_allocator.py
  warp/tests/test_import.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document PyTorch allocator example
  docs/deep_dive/allocators.rst
  docs/user_guide/interoperability_pytorch.rst
Due: none

Document Warp security policy
  SECURITY.md
Due: none

Improve release audit API checks
  .claude/skills/changelog-audit/SKILL.md
  .claude/skills/release-audit/SKILL.md
  .claude/skills/release-audit/references/classification-rules.md
  .claude/skills/release-audit/scripts/diff_public_api.py
  .claude/skills/release-audit/scripts/test_diff_public_api.py
  .claude/skills/release-notes/SKILL.md
  .codex/skills/changelog-audit/SKILL.md
  .codex/skills/release-audit/SKILL.md
  .codex/skills/release-audit/references/classification-rules.md
  .codex/skills/release-audit/scripts/diff_public_api.py
  .codex/skills/release-audit/scripts/test_diff_public_api.py
  .codex/skills/release-notes/SKILL.md
  .pre-commit-config.yaml
  tools/pre-commit-hooks/sync_skills.py
Due: linux-x86_64 test mujoco warp

Refine 1.14 release notes
  CHANGELOG.md
  warp/_src/optim/linear.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify solver state reuse docs
  warp/_src/optim/linear.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.optim.linear.BiCGSTAB.html
  latest/api_reference/_generated/warp.optim.linear.CG.html
  latest/api_reference/_generated/warp.optim.linear.CR.html
  latest/api_reference/_generated/warp.optim.linear.GMRES.html
  latest/api_reference/_generated/warp.optim.linear.LinearSolverState.html
  latest/api_reference/_generated/warp.optim.linear.bicgstab_function.html
  latest/api_reference/_generated/warp.optim.linear.cg_function.html
  latest/api_reference/_generated/warp.optim.linear.cr_function.html
  latest/api_reference/_generated/warp.optim.linear.gmres_function.html
  latest/searchindex.js
Due: none

Add PyTorch allocator coverage
  docs/deep_dive/allocators.rst
  docs/user_guide/interoperability_pytorch.rst
  warp/tests/test_allocator.py
  warp/tests/test_import.py
  warp/tests/unittest_suites.py
  warp/tests/unittest_utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/deep_dive/allocators.rst.txt
  latest/_sources/user_guide/interoperability_pytorch.rst.txt
  latest/deep_dive/allocators.html
  latest/objects.inv
  latest/searchindex.js
  latest/user_guide/interoperability_pytorch.html
Due: none

Clarify block_dim docs and refactor dispatch tests
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify block_dim docs and refactor dispatch tests [GH-564]
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add module load diagnostics
  CHANGELOG.md
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix APIC graph pointer docs
  docs/user_guide/runtime.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/runtime.rst.txt
  latest/user_guide/runtime.html
Due: none

Deploy docs: v1.14
  v1.14/_sources/user_guide/runtime.rst.txt
  v1.14/user_guide/runtime.html
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
