Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Cosmetic changes to the tile filtering example
  warp/examples/tile/example_tile_filtering.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Increase some CPU example timeouts
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add missing tests to the default suite
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add introductory notebooks
  CHANGELOG.md
  README.md
  notebooks/core_01_basics.ipynb
  notebooks/core_02_generics.ipynb
  notebooks/core_03_points.ipynb
  notebooks/core_04_meshes.ipynb
  notebooks/core_05_volumes.ipynb
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Support topology updates in the OpenGL renderer
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add custom vec to non-atomic in-place add test cases
  warp/tests/test_array.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Warp + Tile: cuFFTDx filtering example
  warp/examples/tile/example_tile_filtering.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update tiles.rst
  docs/modules/tiles.rst
Due: none

Doc build fix after changing section titles
  docs/modules/tiles.rst
Due: none

Warp 1.5.0 Stable
  CHANGELOG.md
  README.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Update changelog and links for 1.5.0
  CHANGELOG.md
  README.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Twidmer/radix sort for float keys
  warp/context.py
  warp/native/sort.cpp
  warp/native/sort.cu
  warp/native/sort.h
  warp/native/warp.h
  warp/tests/test_utils.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix notebook links
  README.md
Due: none

Update cloth example with new ModelBuilder coloring API
  warp/examples/sim/example_cloth.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add icon links for PyPI and Discord
  docs/conf.py
Due: none

Fixed a bug in graph balancing algorithm where the balanced coloring won't be written back
  CHANGELOG.md
  warp/native/coloring.cpp
  warp/sim/model.py
  warp/tests/test_coloring.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Reduce size of test matrices for wp.matmul()
  warp/tests/test_matmul.py
  warp/tests/test_matmul_lite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix generics docs header
  docs/modules/generics.rst
Due: none

Bugfix: Support record_cmd=True for wp.launch_tiled()
  CHANGELOG.md
  warp/context.py
  warp/tests/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Support using assert in kernels
  CHANGELOG.md
  docs/debugging.rst
  warp/codegen.py
  warp/tests/test_assert.py
  warp/tests/test_codegen.py
  warp/tests/unittest_utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix incorrect activity profiling flags
  docs/profiling.rst
Due: none

Add a function cross-reference
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Formatting and typo fix
  notebooks/core_02_generics.ipynb
Due: none

Add cross-references and fix an example
  docs/modules/allocators.rst
Due: none

Add cross-references to more tile API functions
  docs/modules/tiles.rst
  notebooks/core_02_generics.ipynb
Due: none

Changelog formatting
  CHANGELOG.md
Due: none

Fix custom colors with static meshes in OpenGL
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix documentation references
  docs/modules/allocators.rst
  docs/profiling.rst
Due: none

Enable pylint rules and fix associated issues
  build_docs.py
  exts/omni.warp.core/omni/warp/core/_impl/extension.py
  pyproject.toml
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/fem/geometry/geometry.py
  warp/sim/import_urdf.py
  warp/sim/model.py
  warp/sparse.py
  warp/tests/test_examples.py
  warp/tests/test_lerp.py
  warp/tests/test_smoothstep.py
  warp/tests/test_static.py
  warp/tests/unittest_utils.py
  warp/types.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, create pypi wheels

Fix CHANGELOG.md formatting
  CHANGELOG.md
Due: none

wp.atomic_add/sub() now mark arrays with write flag
  CHANGELOG.md
  docs/modules/differentiability.rst
  warp/codegen.py
  warp/tests/test_overwrite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix default args not working in Python's runtime
  CHANGELOG.md
  warp/context.py
  warp/tests/test_func.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

PyTorch operators notebook
  CHANGELOG.md
  README.md
  docs/modules/interoperability.rst
  notebooks/pytorch_01_basics.ipynb
  notebooks/pytorch_02_custom_operators.ipynb
Due: none

Add atomic_op_dispatch_func
  CHANGELOG.md
  warp/builtins.py
  warp/codegen.py
  warp/tests/test_overwrite.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Fix dimension documentation for joint limits
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Clean up changelog
  CHANGELOG.md
  docs/modules/interoperability.rst
  docs/modules/runtime.rst
Due: none
