Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Fix FEM quadrature cache identity [GH-1984]
  changelog/1984.fixed.md
  warp/_src/fem/quadrature/pic_quadrature.py
  warp/_src/fem/quadrature/quadrature.py
  warp/tests/fem/test_fem_quadrature.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.ExplicitQuadrature.html
  latest/api_reference/_generated/warp.fem.NodalQuadrature.html
  latest/api_reference/_generated/warp.fem.PicQuadrature.html
Due: none

Add adjoints for texture_sample (GH-1301)
  changelog/1301.added.md
  docs/user_guide/runtime.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/texture.py
  warp/native/texture.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Pack CUDA BSR triplet sort keys (GH-1986)
  changelog/1986.changed.md
  warp/native/sparse.cu
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix stepped range unroll limit (GH-1980)
  changelog/1980.changed.md
  warp/_src/codegen.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert shared mesh query core [GH-1844]
  changelog/1844.changed.md
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix mathDx LTO target for sm_107
  warp/_src/build.py
  warp/tests/tile/test_tile_matmul.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Annotate tile_matmul entry points CUDA_CALLABLE
  warp/native/tile_matmul.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Clang CUDA launch bounds (GH-1968)
  changelog/1968.fixed.md
  warp/native/cuda_crt.h
  warp/tests/cuda/test_clang_cuda.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add September 2026 publications
  PUBLICATIONS.md
Due: none

Deploy docs: latest
  latest/project/publications.html
  latest/searchindex.js
Due: none

Fix Cppcheck 2.22 diagnostics
  .github/workflows/pr.yml
  .gitlab-ci.yml
  warp/native/builtin.h
  warp/native/bvh.h
  warp/native/cpu_fiber.cpp
  warp/native/cuda_crt.h
  warp/native/fabric.h
  warp/native/mesh.h
  warp/native/tile.h
  warp/native/tile_bvh.h
  warp/native/tile_mesh.h
  warp/native/tile_radix_sort.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Preserve BSR and FEM performance [GH-1918]
  warp/_src/fem/space/shape/cube_shape_function.py
  warp/_src/sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore mesh ray-query occupancy [GH-1840]
  changelog/1840.changed.md
  changelog/1843.changed.md
  warp/native/mesh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restrict CI metadata job token permissions
  .github/workflows/ci.yml
Due: none

Deploy docs: latest
  latest/api_reference/_generated/warp.fem.space.shape.CubeBSplineShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.CubeNedelecFirstKindShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.CubeNonConformingPolynomialShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.CubeRaviartThomasShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.CubeSerendipityShapeFunctions.html
  latest/api_reference/_generated/warp.fem.space.shape.CubeTripolynomialShapeFunctions.html
  latest/api_reference/_generated/warp.sparse.bsr_mm.html
  latest/api_reference/_generated/warp.sparse.bsr_mm_work_arrays.html
  latest/api_reference/_generated/warp.sparse.bsr_mv.html
Due: none

Cast __ffsll argument in rebuild_find_lowest_on
  warp/native/volume_builder.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Test Python 3.15 in GPU CI
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix CPU-only doctest examples
  docs/user_guide/differentiability.rst
  docs/user_guide/programming_model/tiles.rst
  docs/user_guide/runtime.rst
Due: none

Deploy docs: latest
  latest/_sources/user_guide/differentiability.rst.txt
  latest/_sources/user_guide/programming_model/tiles.rst.txt
  latest/_sources/user_guide/runtime.rst.txt
  latest/user_guide/runtime.html
Due: none

Stabilize BSR transpose benchmark
  asv/benchmarks/sparse/transpose.py
Due: linux-x86_64 asv

Initialize the conditionally-assigned locals in tile reductions (GH-1995)
  changelog/1995.fixed.md
  warp/native/tile_reduce.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce the full axis from sub-warp tile blocks (GH-1996)
  changelog/1996.fixed.md
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix BVH construction for 2D DeformedGeometry (GH-1993)
  changelog/1993.fixed.md
  warp/_src/fem/geometry/deformed_geometry.py
  warp/tests/fem/test_fem_geometry.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Avoid Running nvcc During Toolkit Setup
  tools/ci/cuda_toolkit.py
  tools/ci/test_cuda_toolkit.py
Due: linux-x86_64 test mujoco warp

Update Pepy download badge links
  README.md
Due: none

Parallelize documentation doctests
  .github/workflows/ci.yml
  .gitlab-ci.yml
  build_docs.py
  docs/_ext/wp_doctest.py
  docs/conf.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Report Doctest Shard Durations (GH-1900)
  build_docs.py
Due: none

Harden parallel doctest execution
  build_docs.py
Due: none

Simplify parallel doctest coordination
  build_docs.py
Due: none

Harden Doctest Shard Coordination (GH-1900)
  build_docs.py
  docs/_ext/wp_doctest.py
  docs/_ext/wp_doctest_shard.py
  docs/conf.py
Due: none

Report MuJoCo inputs in CI summary
  .github/workflows/ci.yml
Due: none

Fix stale web links
  CODE_OF_CONDUCT.md
  README.md
  build_llvm.py
  design/pluggable-allocators.md
  docs/conf.py
  docs/domain_modules/render.rst
  docs/user_guide/execution_and_performance/memory_management.rst
  docs/user_guide/execution_and_performance/profiling.rst
  licenses/usd-LICENSE.txt
  warp/_src/paddle.py
  warp/_src/rmm_allocator.py
  warp/_src/thirdparty/appdirs.py
  warp/examples/core/example_raymarch.py
  warp/native/matnn.h
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/_sources/domain_modules/render.rst.txt
  latest/_sources/user_guide/execution_and_performance/memory_management.rst.txt
  latest/_sources/user_guide/execution_and_performance/profiling.rst.txt
  latest/domain_modules/render.html
  latest/user_guide/execution_and_performance/memory_management.html
  latest/user_guide/execution_and_performance/profiling.html
Due: none

Fix Paddle CPU storage sharing [GH-1859]
  warp/_src/paddle.py
  warp/tests/interop/test_paddle.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.device_from_paddle.html
  latest/api_reference/_generated/warp.device_to_paddle.html
  latest/api_reference/_generated/warp.dtype_from_paddle.html
  latest/api_reference/_generated/warp.dtype_to_paddle.html
  latest/api_reference/_generated/warp.from_paddle.html
  latest/api_reference/_generated/warp.stream_from_paddle.html
  latest/api_reference/_generated/warp.to_paddle.html
Due: none

Stabilize FEM QR decompositions (GH-1985)
  changelog/1985.fixed.md
  warp/_src/fem/linalg.py
  warp/tests/fem/test_fem_linalg.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
