Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Move Cholesky error message to debug mode
  warp/native/tile.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

ruff
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add shared tile sync discussion to docs (GH-734)
  docs/modules/tiles.rst
Due: none

update cholesky doc
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix some typos in comments
  warp/examples/fem/example_darcy_ls_optimization.py
  warp/examples/fem/example_elastic_shape_optimization.py
  warp/examples/fem/example_magnetostatics.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Clear the kernel cache after build_lib.py
  build_lib.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Deprecate the nodes using `warp.sim`
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.py
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.py
Due: none

Remove the scenes using `warp.sim`
  exts/omni.warp/data/scenes/.thumbs/256x256/cloth_simulation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_drop.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_throw.usda.png
  exts/omni.warp/data/scenes/assets/geometries/bunny.usd
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
Due: none

Revert "Remove the scenes using `warp.sim`"
  exts/omni.warp/data/scenes/.thumbs/256x256/cloth_simulation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_drop.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_throw.usda.png
  exts/omni.warp/data/scenes/assets/geometries/bunny.usd
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
Due: none

Restore the scenes using `warp.sim`
  exts/omni.warp/data/scenes/.thumbs/256x256/cloth_simulation.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_drop.usda.png
  exts/omni.warp/data/scenes/.thumbs/256x256/particles_simulation_throw.usda.png
  exts/omni.warp/data/scenes/assets/geometries/bunny.usd
  exts/omni.warp/data/scenes/cloth_simulation.usda
  exts/omni.warp/data/scenes/particles_simulation_drop.usda
  exts/omni.warp/data/scenes/particles_simulation_throw.usda
Due: none

Fix SonarQube issues
  exts/omni.warp/omni/warp/nodes/__init__.py
  warp/examples/tile/example_tile_block_cholesky.py
  warp/tests/tile/test_tile_mathdx.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-807 nested grad array not reing reset by tape
  CHANGELOG.md
  warp/tape.py
  warp/tests/test_tape.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

warp.fem: Add a couple warnings in integrate/interpolate
  warp/fem/field/virtual.py
  warp/fem/integrate.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Trigger the Kit job when files in `exts/` changed
  .gitlab-ci.yml
Due: linux-x86_64 asv

Add Dex1B publication
  PUBLICATIONS.md
Due: none

Revise logic to clear kernel cache
  build_lib.py
  tools/ci/building/build-windows-x86_64/build.bat
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version to 1.8.0
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix SIMT tile method when non-scalar value is constructed using default constructor and `preserve_type=True` (GH-805)
  CHANGELOG.md
  warp/codegen.py
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

GH-788 Overhaul marching cubes
  CHANGELOG.md
  build_lib.py
  warp/__init__.py
  warp/__init__.pyi
  warp/examples/core/example_marching_cubes.py
  warp/marching_cubes.py
  warp/native/marching.cpp
  warp/native/marching.cu
  warp/native/marching.h
  warp/native/warp.cu
  warp/tests/geometry/test_marching_cubes.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

v1.8.0 bump and update changelog
  CHANGELOG.md
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update the marching cubes' golden images
  exts/omni.warp/omni/warp/nodes/tests/data/marching_cubes_fsd_off.png
  exts/omni.warp/omni/warp/nodes/tests/data/marching_cubes_fsd_on.png
  exts/omni.warp/omni/warp/nodes/tests/test_sample_marching_cubes.py
Due: none

Update mjwarp job tags to run on A40
  .gitlab-ci.yml
Due: linux-x86_64 asv

Update CI workflow to use Windows 2022 for build environment
  .github/workflows/ci.yml
Due: none

Add input output aliases to jax FFI.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Some tweaks to in-out FFI
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Added in-out FFI example
  warp/examples/interop/example_jax_callable.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support input-output args for jax_kernel()
  CHANGELOG.md
  warp/examples/interop/example_jax_kernel.py
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Correct handling of in-out argument shapes
  warp/examples/interop/example_jax_callable.py
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Allow non-constant shapes when creating an array in a kernel using wp.array(ptr=...
  CHANGELOG.md
  warp/builtins.py
  warp/tests/test_array.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bugfix to avoid python Graph class destructor calls which unload required cuda modules
  CHANGELOG.md
  warp/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Upgrade to libmathdx 0.2.2 (GH-809)
  deps/libmathdx-deps.packman.xml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-822 adj_tile_sum with shared tiles
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
