Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

fix(jax): include in_out_argnames and stage argnames in FFI registry cache keys
  warp/_src/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip recompilation in `compile_aot_module()` when binary is cached
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/aot/test_module_aot.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve tile load/store benchmark usability and robustness
  warp/examples/benchmarks/benchmark_tile_load_store.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add experimental admonition to texture user guide section
  docs/user_guide/runtime.rst
Due: none

Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

Use os.replace() instead of os.rename() for cache file moves on Windows
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

A 2-D periodic box Navier-Stokes solver example in Warp
  CHANGELOG.md
  README.md
  docs/img/examples/core_fft_poisson_navier_stokes_2d.png
  docs/index.rst
  warp/examples/core/example_fft_poisson_navier_stokes_2d.py
  warp/tests/test_examples.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Version bump for 1.12.0rc1
  CHANGELOG.md
  VERSION.md
  docs/user_guide/installation.rst
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump dev version to 1.13.0.dev0
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix module contamination from failed function validation
  warp/_src/codegen.py
  warp/tests/test_module_contamination.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix module contamination test failing on multi-GPU systems
  warp/tests/test_module_contamination.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update the changelog entry to v1.12.0-rc.1
  CHANGELOG.md
Due: none

Fix missing block_dim in CPU record_cmd path
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix kernel dispatch block_dim mismatch bug
  warp/_src/context.py
  warp/tests/test_block_dim_dispatch.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add test for CPU record_cmd path block_dim fix
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Make test robust by verifying module exec separation
  warp/tests/test_block_dim_dispatch.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Simplify and reorganize README
  PUBLICATIONS.md
  README.md
Due: none

Fix conda capitalization in installation docs
  docs/user_guide/installation.rst
Due: none

Fix deprecation warnings breaking pickle
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/utils.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Slightly improve textures
  docs/api_reference/warp.rst
  docs/user_guide/runtime.rst
  warp/__init__.py
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/texture.py
  warp/_src/types.py
  warp/native/texture.cpp
  warp/native/texture.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add manual Newton test job to CI pipeline
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix timing resolution docstring
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Version bump for 1.12.0rc2
  CHANGELOG.md
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deprecate Python 3.9 support
  CHANGELOG.md
  build_lib.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Slightly improve textures
  CHANGELOG.md
Due: none

Bump libmathdx from 0.3.0 to 0.3.1
  deps/libmathdx-deps.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revise pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add GitLab merge request description template
  .gitlab/merge_request_templates/Default.md
Due: none

Enable faulthandler in CI for better crash diagnostics
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Skip test_ffi_callback on device ordinal > 0
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add kitmaker_release.py for automated wheel publishing
  tools/ci/publishing/kitmaker_release.py
Due: linux-x86_64 test mujoco warp

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
