Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Update limitations and AOT docs
  docs/codegen.rst
  docs/limitations.rst
Due: none

Revert the removal of the kernel cache folder
  warp/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Added jit of grad jax test cases
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

jax-ffi: enable direct kernel wrapping + add JAX IK example using eval_articulation_fk
  warp/examples/optim/example_inverse_kinematics_jax.py
  warp/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix JAX–Warp FFI to launch on callframe CUDA stream and preload modules across GPUs, enabling single-process multi-GPU; add shard_map/pmap gradient tests and example validations
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Added launch dim test
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

added JAX ad support using FFI
  docs/modules/interoperability.rst
  warp/jax_experimental/__init__.py
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enforce the RT v1 renderer to be used for testing
  exts/omni.warp/config/extension.toml
  exts/omni.warp/omni/warp/nodes/tests/_common.py
Due: trigger kit extensions pipeline

Support reading extent of different shapes
  exts/omni.warp/omni/warp/nodes/_impl/points.py
Due: trigger kit extensions pipeline

Bump version to 1.9.0-rc.2
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Remove matrix mod broadcasting (introduced by a failed rebase)
  warp/native/mat.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use the exact types of the arguments for the backward pass
  warp/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add a unit test
  warp/tests/test_quat.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Expose `atomic_and`, `atomic_or`, `atomic_xor`, and invoke them through in-place operators `&=`, `|=`, `^=`.
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/codegen.py
  warp/native/array.h
  warp/native/builtin.h
  warp/native/exports.h
  warp/native/mat.h
  warp/native/tile.h
  warp/native/vec.h
  warp/tests/test_atomic_bitwise.py
  warp/tests/tile/test_tile_atomic_bitwise.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Put spatial-computing primitives under a common section
  docs/modules/runtime.rst
Due: none

Simplify and organize .gitignore
  .gitignore
Due: none

Fix changelog
  CHANGELOG.md
Due: none

Fix various cppcheck issues in the source code
  .gitlab-ci.yml
  warp/native/array.h
  warp/native/bvh.cpp
  warp/native/bvh.h
  warp/native/clang/clang.cpp
  warp/native/coloring.cpp
  warp/native/crt.cpp
  warp/native/crt.h
  warp/native/fabric.h
  warp/native/intersect.h
  warp/native/mat.h
  warp/native/mesh.cpp
  warp/native/mesh.h
  warp/native/range.h
  warp/native/spatial.h
  warp/native/volume.cpp
  warp/native/volume.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix missing include in CPU-only build
  warp/native/bvh.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clean up changelog
  CHANGELOG.md
Due: none

Add a GitLab job for cppcheck
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump version to 1.9.0 (final)
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Add some docs regarding Docker (GH-889)
  docs/installation.rst
Due: none

Simplify README and update tutorial links
  README.md
  docs/index.rst
Due: none

Document array creation inside of kernels
  docs/_static/custom.css
  docs/basics.rst
  docs/modules/runtime.rst
Due: none

Fix typos
  docs/index.rst
  docs/modules/runtime.rst
Due: none

Multi-process Warp library build
  build_lib.py
  build_llvm.py
  warp/build_dll.py
  warp/native/builtin.h
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/hashgrid.cu
  warp/native/mesh.cu
  warp/native/scan.cu
  warp/native/sparse.cu
  warp/native/volume.cu
  warp/native/volume_builder.cu
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CI configuration to support a Python version matrix, allowing tests for both Python 3.8 and 3.13.
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix missing f16 type from `scalar_short_name()`
  warp/tests/test_codegen.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
