Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Drain synchronized stream's own log buffer in synchronize_stream()
  docs/user_guide/debugging.rst
  warp/_src/context.py
  warp/tests/test_kernel_log.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve kernel log Python logging integration and API naming
  docs/user_guide/debugging.rst
  warp/__init__.py
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/tests/test_kernel_log.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Support wp.log() inside @wp.func with transitive propagation
  warp/_src/codegen.py
  warp/tests/test_kernel_log.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add support for indexed arrays in structs and related kernels
  CHANGELOG.md
  warp/_src/codegen.py
  warp/_src/types.py
  warp/native/array.h
  warp/tests/test_indexedarray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Polish kernel logging: shrink entry size, fix capture_begin, tighten API
  docs/user_guide/debugging.rst
  warp/_src/builtins.py
  warp/_src/codegen.py
  warp/_src/context.py
  warp/config.py
  warp/native/log.h
  warp/tests/test_kernel_log.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add ASV benchmarking section to contribution guide
  docs/user_guide/contribution_guide.rst
Due: none

Upgrade cu13 libmathdx dependency to version 0.3.2
  deps/libmathdx-deps.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add `module_options` dict parameter to `@wp.kernel` for inline module options
  CHANGELOG.md
  docs/user_guide/configuration.rst
  warp/_src/context.py
  warp/tests/test_unique_module.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Make CPU kernel optimization level configurable, default to -O2 [GH-1310]
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/context.py
  warp/config.py
  warp/native/clang/clang.cpp
  warp/tests/test_module_hashing.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix array annotation repr to use eval-able subscript form
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/test_subscript_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

warp.fem fp64 follow-up (late Greptile comments from !2172)
  CHANGELOG.md
  warp/_src/fem/geometry/adaptive_nanogrid.py
  warp/_src/fem/geometry/grid_3d.py
  warp/_src/fem/geometry/nanogrid.py
  warp/_src/fem/geometry/tetmesh.py
  warp/_src/fem/integrate.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend tile_fft/tile_ifft to support N-D tiles [GH-1317]
  CHANGELOG.md
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/tests/tile/test_tile_fft.py
  warp/tests/tile/test_tile_mathdx.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix _ArrayAnnotationBase.__repr__ leaking raw class paths for dtype
  CHANGELOG.md
  warp/_src/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix array annotation repr for all dtype kinds
  warp/_src/types.py
  warp/tests/test_subscript_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix transform_identity/quat_identity returning base types (GH-1336)
  CHANGELOG.md
  warp/_src/builtins.py
  warp/tests/test_spatial.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix array annotation repr and matrix type_repr [GH-1341]
  CHANGELOG.md
  warp/_src/types.py
  warp/tests/test_subscript_types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Create stratified_math.h
  warp/native/stratified_math.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Create stratified_projection.py
  warp/optim/stratified_projection.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update clang.cpp
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CPU precompiled header support to reduce kernel compile times
  CHANGELOG.md
  warp/_src/build.py
  warp/_src/context.py
  warp/native/clang/clang.cpp
  warp/tests/test_cpu_precompiled_headers.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Revert clang.cpp to use compatible LLVM API
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reduce memory usage in array shape int-promotion tests
  warp/tests/test_array.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add recent publications to PUBLICATIONS.md
  PUBLICATIONS.md
Due: none

Improve docs landing page, README, and navigation
  README.md
  docs/conf.py
  docs/index.rst
  docs/user_guide/basics.rst
  docs/user_guide/changelog.md
  docs/user_guide/installation.rst
  docs/user_guide/publications.md
Due: none

Skip scheduled workflow runs on forks
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

Add Greptile config to enable reviews on draft PRs
  .greptile/config.json
Due: none

Remove title prefixes from GitHub issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-question.md
  .github/ISSUE_TEMPLATE/4-documentation.md
Due: none

Update uv.lock (Pygments 2.20.0, requests 2.33.1)
  uv.lock
Due: none

Bump version to 1.12.1 and clean up changelog
  CHANGELOG.md
  VERSION.md
  warp/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refine 1.12.1 changelog wording and line breaks
  CHANGELOG.md
Due: none

Update docs announcement banner to v1.12.1
  docs/conf.py
Due: none

Update docs, changelog, and benchmarks for v1.12.1
  CHANGELOG.md
  asv/tag_commits.txt
  docs/conf.py
  docs/user_guide/installation.rst
Due: linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
