Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Deploy Kit extensions to ARM64
  .gitlab/ci/cuda-11-build-and-test.yml
  repo.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Add a warning message if the libmathdx folder is not a symlink
  build_lib.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Better n-body example initial conditions
  README.md
  docs/img/examples/tile_mlp.png
  docs/img/examples/tile_nbody.png
  docs/img/examples/tile_walker.png
  docs/index.rst
  warp/examples/tile/example_tile_nbody.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix CPU array init from a CUDA array interface type
  CHANGELOG.md
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix randi() documentation to show correct output range
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add `Launch` object documentation and support for adjoint kernels
  CHANGELOG.md
  docs/modules/runtime.rst
  warp/context.py
  warp/tests/test_launch.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump test timeout for example_sph
  warp/tests/test_examples.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Prevent Windows mgpu from failing GitLab pipelines
  .gitlab-ci.yml
Due: linux-x86_64 asv

Add aarch64 build and test to GitHub workflow (GH-528)
  .github/workflows/ci.yml
Due: none

Fix for non-aligned source and dest arrays in wp.tile_load()
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/test_tile_load.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Bump version and update changelog for 1.6.1-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Improve error reporting in GEMM benchmark
  warp/examples/benchmarks/benchmark_gemm.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Grab fem_apic_fluid.png from main
  docs/img/examples/fem_apic_fluid.png
Due: none

Add extension testing to the CI
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  deps/kit-deps.packman.xml
  exts/omni.warp/config/extension.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use the correct dtype for the texture writer
  exts/omni.warp/omni/warp/nodes/_impl/OgnTextureWrite.py
Due: none

Exclude nodes from running internal OG tests
  exts/omni.warp/omni/warp/nodes/_impl/OgnBundleInspectChanges.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnClothSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnFixedTime.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnGridCreate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnKernel.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnMeshFromVolume.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnNoiseDeform.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesFromMesh.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnParticlesSimulate.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnSampleMeshDeform.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnSampleOceanDeform.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnSamplePrimFlocking.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnSampleProceduralVolume.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnTextureWrite.ogn
  exts/omni.warp/omni/warp/nodes/_impl/OgnWaveSolve.ogn
Due: none

Extend the type coverage of `wp.expect_near()`
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/quat.h
  warp/native/vec.h
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support conversion between transforms and matrices
  CHANGELOG.md
  docs/modules/functions.rst
  warp/context.py
  warp/math.py
  warp/native/mat.h
  warp/stubs.py
  warp/tests/test_spatial.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Extend `wp.quat_from_matrix()` to 4x4 matrices
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/exports.h
  warp/native/quat.h
  warp/stubs.py
  warp/tests/test_quat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Pass target_ke, target_kd, mode in planar joints (GH-454)
  CHANGELOG.md
  warp/sim/import_urdf.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix the Graph Capture Bug of VBDIntegrator (GH-441)
  CHANGELOG.md
  warp/examples/sim/example_cloth_self_contact.py
  warp/sim/collide.py
  warp/tests/sim/test_collision.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update ASV benchmarking to support merge request comparisons
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix the Graph Capture Bug of VBDIntegrator (GH-441)
  CHANGELOG.md
  warp/examples/sim/example_cloth_self_contact.py
  warp/sim/collide.py
  warp/tests/test_collision.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update changelog
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Update changelog
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Use codecovcli in GitLab
  .github/workflows/ci.yml
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix codecovcli parameter
  .gitlab-ci.yml
Due: linux-x86_64 asv

Adding Array Overwrite section to differentiability docs
  CHANGELOG.md
  docs/modules/differentiability.rst
Due: none

Update codecovcli to include coverage.xml in report
  .gitlab-ci.yml
Due: linux-x86_64 asv

Add built-ins to construct matrices from vectors
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/native/mat.h
  warp/stubs.py
  warp/tests/test_mat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix ModelBuilder.add_builder [GH-432], box collisions
  CHANGELOG.md
  warp/sim/collide.py
  warp/sim/model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Deprecate matrix's constructor from vectors
  CHANGELOG.md
  warp/builtins.py
  warp/fem/geometry/adaptive_nanogrid.py
  warp/fem/geometry/closest_point.py
  warp/fem/geometry/grid_3d.py
  warp/fem/geometry/hexmesh.py
  warp/fem/geometry/nanogrid.py
  warp/fem/geometry/tetmesh.py
  warp/fem/geometry/trimesh.py
  warp/native/quat.h
  warp/sim/articulation.py
  warp/sim/integrator_euler.py
  warp/sim/integrator_featherstone.py
  warp/sim/integrator_xpbd.py
  warp/sim/utils.py
  warp/tests/sim/test_collision.py
  warp/tests/test_fem.py
  warp/tests/test_mat.py
  warp/tests/test_mat_scalar_ops.py
  warp/tests/test_quat.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
