Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Add support for negative indexing
  CHANGELOG.md
  warp/native/mat.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_spatial.py
  warp/tests/test_vec.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add support for slicing vec/quat/transform
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/native/exports.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
  warp/tests/test_quat.py
  warp/tests/test_spatial.py
  warp/tests/test_types.py
  warp/tests/test_vec.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Implement a slice object
  warp/builtins.py
  warp/codegen.py
  warp/native/builtin.h
  warp/native/initializer_array.h
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add `wp.matrix_get/set_col()` to Python's API
  warp/tests/test_mat.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add support for slicing matrices
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/codegen.py
  warp/native/exports.h
  warp/native/mat.h
  warp/tests/test_mat.py
  warp/tests/test_types.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Implement adjoints for slice indexing
  warp/native/mat.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
  warp/tests/test_mat.py
  warp/tests/test_mat_assign_copy.py
  warp/tests/test_quat.py
  warp/tests/test_quat_assign_copy.py
  warp/tests/test_spatial.py
  warp/tests/test_spatial_assign_copy.py
  warp/tests/test_vec.py
  warp/tests/test_vec_assign_copy.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update the hash with the config for `assign_copy`
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Symmetrize operators
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/native/exports.h
  warp/native/mat.h
  warp/native/vec.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix a documented return type
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a doc section for indexing/slicing
  docs/modules/runtime.rst
Due: none

Reduce the code size
  warp/native/mat.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix wrong macros being used
  warp/native/quat.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add post-loop checks
  warp/native/mat.h
  warp/native/quat.h
  warp/native/spatial.h
  warp/native/vec.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Work around GH-637 in wp.fem integrands
  CHANGELOG.md
  warp/fem/integrate.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Resolve function return types for wp.map() and wp.tile_map() (GH-732, GH-616)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/codegen.py
  warp/context.py
  warp/native/tile.h
  warp/tests/test_map.py
  warp/tests/tile/test_tile.py
  warp/types.py
  warp/utils.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add input output aliases to jax FFI.
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Some tweaks to in-out FFI
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Correct handling of in-out argument shapes
  warp/examples/interop/example_jax_callable.py
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Support input-output args for jax_kernel()
  CHANGELOG.md
  warp/examples/interop/example_jax_kernel.py
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

JAX FFI graph capture using Warp (GH-848)
  CHANGELOG.md
  docs/modules/interoperability.rst
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Set version to 1.8.1 (final)
  CHANGELOG.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reenable parallel execution of mjwarp GitLab job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Disable Blackwell job
  .gitlab-ci.yml
Due: linux-x86_64 asv

Publish macos dev wheel to artifactory
  .gitlab-ci.yml
Due: linux-x86_64 asv

Tentative fix for bsr_mm asv regression from c5fdbc20
  warp/sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reenable Blackwell GitLab job
  .gitlab-ci.yml
Due: linux-x86_64 asv

GH-870 Detect and warn about long file paths in Windows
  CHANGELOG.md
  warp/build.py
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Reduce error messages when CUDA driver is not found
  warp/context.py
  warp/native/cuda_util.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Clarify Python vs. Warp scope execution of @wp.func functions in docs
  docs/basics.rst
Due: none

Compile time improvements
  warp/tests/test_mat.py
  warp/tests/test_mat_constructors.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a documentation section about indexed arrays
  CHANGELOG.md
  docs/modules/runtime.rst
Due: none

Namespace the remaining warp-clang symbols
  warp/build.py
  warp/context.py
  warp/native/clang/clang.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix adding superfluous inactive nodes to tet function spaces
  CHANGELOG.md
  warp/fem/space/shape/tet_shape_function.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a documentation section about indexed arrays
  CHANGELOG.md
  docs/modules/runtime.rst
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Fix a CUDA 12.2 test issue
  warp/tests/tile/test_tile_shared_memory.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add missing changelog entry
  CHANGELOG.md
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: none

Use usd-core==25.5.1 for Windows jobs to avoid failures
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update publications list
  PUBLICATIONS.md
Due: none

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
