Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py

Fix capturability of bsr_transpose
  warp/native/sparse.cu
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Code tweaks
  warp/jax_experimental/ffi.py
  warp/tests/interop/test_jax.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update changelog and docs for 1.9.1
  CHANGELOG.md
  README.md
  docs/installation.rst
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/docs/CHANGELOG.md
Due: trigger kit extensions pipeline

Update artifactory tag wheel jobs
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add new publication: "MechStyle: Augmenting Generative AI with Mechanical Simulation to Create Stylized and Structurally Viable 3D Models" for September 2025
  PUBLICATIONS.md
Due: none

Remove max_dist from initial query call
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/builtins.py
  warp/native/bvh.cu
  warp/native/bvh.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update dependencies and licenses
  licenses/asset_pixel_jpg-LICENSE.txt
  licenses/assets/ant-LICENSE.txt
  licenses/assets/humanoid-LICENSE.txt
  licenses/libmathdx-LICENSE.txt
  licenses/numpy-LICENSE.txt
  licenses/python37-LICENSE.txt
  licenses/python38-LICENSE.txt
  licenses/python39-LICENSE.txt
  licenses/usd-LICENSE.txt
  licenses/windingnumber-LICENSE.txt
  pyproject.toml
  setup.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add notice about third-party software in README
  README.md
  docs/index.rst
  licenses/libmathdx-LICENSE.txt
Due: none

Fixes for CPU
  warp/native/bvh.cpp
  warp/native/bvh.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refactor CI/CD pipeline and enhance documentation build process
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-13-build.yml
  .gitlab/ci/debug-build-and-test.yml
  .pre-commit-config.yaml
  README.md
  build_docs.py
  build_lib.py
  docs/index.rst
  docs/requirements.txt
  pyproject.toml
  uv.lock
  warp/examples/fem/example_apic_fluid.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Switch to thread-local captures
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Improve thread safety in FFI callback
  warp/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Make module preloading more robust
  warp/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Updated changelog
  CHANGELOG.md
Due: none

Added options for module preloading
  warp/jax_experimental/ffi.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Enhance documentation for Volume class in warp.types
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add GitHub CI job to check for un-namespaced symbols in Warp libraries
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/cuda-13-build.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Windows MGPU job syntax
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add .basic_test_changes_rules to clang compilation pipeline
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove unnecessary variables
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Remove call to deprecated overload of createTargetMachine
  warp/native/clang/clang.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add cppcheck job to GitHub CI workflow
  .github/workflows/ci.yml
  .github/workflows/sphinx.yml
Due: none

Refactor CI workflow to consolidate build and test jobs for multiple platforms
  .github/workflows/ci.yml
Due: none

Add typos configuration to pyproject.toml
  pyproject.toml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add typos hook to pre-commit configuration
  .pre-commit-config.yaml
Due: none

Fix typos across multiple files for crate-ci/typos
  docs/modules/allocators.rst
  warp/build.py
  warp/builtins.py
  warp/context.py
  warp/examples/fem/example_adaptive_grid.py
  warp/fem/dirichlet.py
  warp/fem/geometry/quadmesh.py
  warp/fem/geometry/trimesh.py
  warp/fem/space/function_space.py
  warp/fem/space/partition.py
  warp/marching_cubes.py
  warp/native/volume.h
  warp/tests/interop/test_paddle.py
  warp/tests/test_array.py
  warp/tests/test_spatial.py
  warp/types.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restrict usd-core to python < 3.14
  pyproject.toml
  uv.lock
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Add safe AST node name retrieval and enhance annotation handling
  warp/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add 3.14 to test matrix
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add UV HTTP timeout variable to CI configuration
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add C compiler installation for Python 3.14 in CI configuration
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update AST handling in overload function for Python 3.14 compatibility
  warp/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Refactor error handling in unit tests for division by zero
  warp/tests/test_func.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update regex in static expression test to accommodate Python 3.14 error message format
  warp/tests/test_static.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Replace NotADirectoryError with NotImplementedError in FunctionSpace class
  warp/fem/space/function_space.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CI workflow cache key for build optimization
  .github/workflows/ci.yml
Due: none

Fix extract_lambda_source for code involving certain parenthesis configurations and multi-line expressions (GH-984)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_map.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv
