Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: ghcr.io/astral-sh/uv:python3.12-bookworm-slim
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  ...

cusolverdx only needs to cache a single universal fatbin (GH-1093)
  warp/_src/build.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Restore module reuse of "unique" modules (GH-995)
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/test_unique_module.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Additional validation for AOT workflow with generics (GH-919)
  CHANGELOG.md
  warp/_src/context.py
  warp/tests/aot/__init__.py
  warp/tests/aot/aux_test_generic_multiple_overloads.py
  warp/tests/aot/aux_test_generic_no_overloads.py
  warp/tests/aot/aux_test_generic_one_overload.py
  warp/tests/aot/aux_test_hash_reload.py
  warp/tests/aot/aux_test_mixed_generic_kernels.py
  warp/tests/aot/aux_test_mixed_regular_and_generic.py
  warp/tests/aot/test_module_aot.py
  warp/tests/test_module_aot.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Zero grads in adj_tile_store ops (GH-1095)
  warp/native/tile.h
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_load.py
  warp/tests/tile/test_tile_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix `wp.tile_load_indexed()` when indices tile is non-owning (GH-1008)
  CHANGELOG.md
  warp/native/tile.h
  warp/tests/tile/test_tile_load.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add benchmarks for atomic min and max operations (GH-1069)
  asv/benchmarks/atomics.py
Due: linux-x86_64 asv

Add more examples to wp.tile() documenation (GH-1042)
  CHANGELOG.md
  docs/modules/tiles.rst
Due: none

Fix unit test
  warp/tests/tile/test_tile_mathdx.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Bump for 1.10.1rc1
  CHANGELOG.md
  README.md
  VERSION.md
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/_src/config.py
  warp/native/version.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline

Simplify bvh_build benchmark
  asv/benchmarks/bvh_build.py
Due: linux-x86_64 asv

Update unittest_suites with new file names
  warp/tests/matrix/test_mat.py
  warp/tests/matrix/test_mat_basics.py
  warp/tests/matrix/test_mat_constructors.py
  warp/tests/matrix/test_mat_elementwise_ops.py
  warp/tests/matrix/test_mat_linalg.py
  warp/tests/matrix/test_mat_lite.py
  warp/tests/matrix/utils.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add mesh bvh ordered traversal and groups
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/types.py
  warp/native/mesh.cpp
  warp/native/mesh.cu
  warp/native/mesh.h
  warp/native/warp.h
  warp/tests/geometry/test_mesh.py
  warp/tests/geometry/test_mesh_query_ray.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Extend tile sort and scan (GH-1089 and GH-1090)
  CHANGELOG.md
  docs/modules/functions.rst
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/native/tile_radix_sort.h
  warp/native/tile_scan.h
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_sort.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CI/CD to use CUDA 12.9.1
  deps/cuda-toolkit-deps.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix omni.warp.core test
  exts/omni.warp.core/omni/warp/core/tests/test_ext.py
Due: trigger kit extensions pipeline

Relocate GitLab pipeline files
  .gitlab-ci.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-13-build.yml
  .gitlab/ci/debug-build-and-test.yml
  .gitlab/ci/kit-extensions.yml
  PACKAGING.md
  docs/img/omniverse.png
  tools/packman/config.packman.xml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Optimize atomic floating-point min and max operations (GH-1069)
  warp/native/builtin.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add publication: Gallant: Voxel Grid-based Humanoid Locomotion and Local-navigation across 3D Constrained Terrains
  PUBLICATIONS.md
Due: none

Use centroids for SAH partition
  CHANGELOG.md
  warp/native/bvh.cpp
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add configuration for copy PR bot in GitHub Actions
  .github/copy-pr-bot.yaml
Due: none

Update pull request workflow for NV GHA
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

Install git-lfs and git
  .github/workflows/pr.yml
Due: none

Add back in .gitlab-ci.yml for easier modifications
  .gitlab-ci.yml
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add an `opt_level` config
  docs/configuration.rst
  warp/_src/build.py
  warp/_src/config.py
  warp/_src/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Rename tests for the `enable_backward` option
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

--Ofast-compile is only supported by the CUDA 12.9+ Toolkit
  warp/native/warp.cu
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Add basic `opt_level` test
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix per-module `opt_level`
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify `opt_level` description
  warp/_src/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Clarify `opt_level` currently only affects GPU kernels
  CHANGELOG.md
  warp/_src/config.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Warn when using `opt_level` other than 3 without CUDA 12.9+
  warp/_src/context.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Use the `opt_level` active at module compile time
  warp/_src/context.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Let Warp decide the default optimization level
  CHANGELOG.md
  warp/_src/config.py
  warp/_src/context.py
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Rename `opt_level` to `optimization_level`
  CHANGELOG.md
  docs/configuration.rst
  warp/_src/build.py
  warp/_src/config.py
  warp/_src/context.py
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/test_options.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add GPU information display step to GitHub Actions workflow
  .github/workflows/pr.yml
Due: none

Fix GPU detection in GitHub job
  .github/workflows/pr.yml
Due: none

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
