Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

linux-aarch64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  image: ubuntu:22.04
  needs:
  ...

linux-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - linux-x86_64 build
  before_script:
  ...

windows-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - windows-x86_64 build
  before_script:
  ...

mac-x86_64 test:
  stage: test
  coverage: /(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/
  artifacts:
    when: always
    paths:
    - rspec.xml
    - coverage.xml
    reports:
      junit: rspec.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  needs:
  - mac-x86_64 build
  before_script:
  ...

linux-x86_64 test minimal:
  stage: test
  needs:
  - linux-x86_64 build
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 test warp-init:
  stage: test
  needs:
  - linux-x86_64 build
  timeout: 10m
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  - mv warp/bin/linux-x86_64/warp.so warp/bin/
  - mv warp/bin/linux-x86_64/warp-clang.so warp/bin/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: ubuntu:22.04
  variables:
    GIT_DEPTH: '50'
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

create pypi wheels:
  stage: package
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-x86_64 build
  before_script:
  - mkdir -p warp/bin/windows-x86_64
  - mv warp/bin/warp.dll warp/bin/windows-x86_64/
  - mv warp/bin/warp-clang.dll warp/bin/windows-x86_64/
  - mkdir -p warp/bin/macos-universal
  ...

Disable parallel test execution for MJWarp
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix the OpenGL Renderer Box Colors (GH-810)
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix rendering of meshes with different scales (GH-828)
  CHANGELOG.md
  warp/render/render_opengl.py
  warp/render/render_usd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add a config file
  .coderabbit.yml
Due: none

Resolve GH-832 "Fix bsr_from_triplets prune_numerical_zeros"
  CHANGELOG.md
  warp/native/sparse.cu
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

fix box-box collision
  warp/sim/collide.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Extend the OpenGL example to show how to use ImGui (GH-833)
  CHANGELOG.md
  warp/examples/core/example_render_opengl.py
  warp/render/imgui_manager.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add flag to enable support for mac os - it avoids OpenGL calls that require a version >=4.2 (GH-834)
  CHANGELOG.md
  warp/render/render_opengl.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix hashing of static expressions ([GH-830], partially resolves [GH-637])
  CHANGELOG.md
  warp/codegen.py
  warp/context.py
  warp/tests/test_static.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Remove a redundant assignment for query_b in box collision
  warp/sim/collide.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add missing changelog entries for GH-822 and GH-809
  CHANGELOG.md
Due: none

Add a missing changelog entry for GH-839
  CHANGELOG.md
Due: none

GitLab jobs now use the R570 runners
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/clang-build-and-test.yml
  .gitlab/ci/common.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  .gitlab/ci/kit-extensions.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix potential issues in bitonic tile_sort ([GH-836])
  CHANGELOG.md
  warp/native/tile_radix_sort.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix for wp.tile_min() when tile thread block includes empty warps (GH-725)
  CHANGELOG.md
  warp/native/tile_reduce.h
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add more ImGui helper functions GH-844
  CHANGELOG.md
  warp/examples/core/example_render_opengl.py
  warp/render/imgui_manager.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Arbitrary size blocks and tile-based computations in warp.sparse (GH-838)
  CHANGELOG.md
  asv/benchmarks/sparse/__init__.py
  asv/benchmarks/sparse/matrix_matrix.py
  asv/benchmarks/sparse/matrix_vector.py
  warp/sparse.py
  warp/tests/test_sparse.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix `adj_div(scalar, vec/mat/quat)`
  CHANGELOG.md
  warp/native/mat.h
  warp/native/quat.h
  warp/native/svd.h
  warp/native/vec.h
  warp/tests/test_mat.py
  warp/tests/test_quat.py
  warp/tests/test_vec.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix miscellaneous issues with adjoints
  CHANGELOG.md
  warp/native/array.h
  warp/native/builtin.h
  warp/native/intersect.h
  warp/native/mesh.h
  warp/native/rand.h
  warp/native/svd.h
  warp/native/tile.h
  warp/native/tuple.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix the Possible Dead Loop in wp_balance_coloring (GH-816)
  CHANGELOG.md
  warp/native/coloring.cpp
  warp/tests/sim/test_coloring.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Graph-capturable linear solvers (GH-843)
  warp/examples/fem/example_diffusion_mgpu.py
  warp/examples/fem/utils.py
  warp/optim/linear.py
  warp/tests/test_linear_solvers.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Expose `array.ptr` in kernels (GH-819)
  CHANGELOG.md
  warp/codegen.py
  warp/tests/test_array.py
  warp/types.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix wrong version passed to cuDeviceGetUuid
  CHANGELOG.md
  warp/native/cuda_util.cpp
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add new publication: GeoWarp framework for geomechanics
  PUBLICATIONS.md
Due: none

Add edit page link on right sidebar
  docs/conf.py
Due: none

Fix positioning of changelog entry of MR !1438
  CHANGELOG.md
Due: none

Use latest clang for builds in CI/CD
  .gitlab/ci/clang-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Handle CUDA 12.8 + Thor combination
  warp/build_dll.py
  warp/native/warp.cu
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Allow arr = wp.array(dtype=MyStruct...) in kernels GH-853
  CHANGELOG.md
  warp/builtins.py
  warp/codegen.py
  warp/tests/test_array.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix default PTX architecture selection to include only supported NVRTC architectures
  CHANGELOG.md
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fixed the Bug of Missing Cloth-body Contact in VBD Integrator (GH-862)
  CHANGELOG.md
  exts/omni.warp/data/scenes/cloth_simulation.usda
  warp/sim/integrator_vbd.py
  warp/tests/sim/test_cloth.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

warp.fem: leverage tiles to sum over quadrature points (GH-854)
  CHANGELOG.md
  asv/benchmarks/fem/__init__.py
  asv/benchmarks/fem/integrate.py
  warp/examples/fem/example_apic_fluid.py
  warp/fem/cache.py
  warp/fem/domain.py
  warp/fem/field/virtual.py
  warp/fem/geometry/geometry.py
  warp/fem/integrate.py
  warp/fem/space/restriction.py
  warp/sparse.py
  warp/tests/test_fem.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add Warp stuctured array NumPy interop examples to docs (GH-852)
  CHANGELOG.md
  docs/modules/runtime.rst
Due: none

Refactor some tests to reduce recompilation cost
  .gitlab-ci.yml
  warp/tests/test_atomic_cas.py
  warp/tests/test_linear_solvers.py
  warp/tests/test_vec.py
  warp/tests/test_vec_constructors.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_mathdx.py
  warp/tests/tile/test_tile_matmul.py
  warp/tests/tile/test_tile_reduce.py
  warp/tests/tile/test_tile_shared_memory.py
  warp/tests/tile/test_tile_sort.py
  warp/tests/unittest_suites.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix debug mode compilation (GH-856)
  CHANGELOG.md
  warp/context.py
  warp/tests/test_assert.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix GH-807 nested grad array not reing reset by tape
  CHANGELOG.md
  warp/tape.py
  warp/tests/test_tape.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

warp.fem: Add a couple warnings in integrate/interpolate
  warp/fem/field/virtual.py
  warp/fem/integrate.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Clear the kernel cache after build_lib.py
  build_lib.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Trigger the Kit job when files in `exts/` changed
  .gitlab-ci.yml
Due: linux-x86_64 asv

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py
