Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-x86_64 test mujoco warp, linux-x86_64 asv, trigger kit extensions pipeline, create pypi wheels

linux-x86_64 test mujoco warp:
  stage: test
  needs:
  - linux-x86_64 build
  image: $UV_TRIXIE_IMAGE
  variables:
    UV_PYTHON: '3.12'
  before_script:
  - - .snippets
    - move-linux-x86_64-binaries
  - uv venv
  - uv pip install -e .
  - uv pip install --pre mujoco -f https://py.mujoco.org/
  ...

linux-x86_64 asv:
  stage: test
  needs: []
  image: $WARP_BUILDER_IMAGE_CU12
  variables:
    GIT_DEPTH: '50'
    CUDA_HOME: /usr/local/cuda
  before_script:
  - echo -e "\\e[0Ksection_start:`date +%s`:install_dependencies[collapsed=true]\\r\\e[0KInstalling dependencies"
  - df -h
  ...

trigger kit extensions pipeline:
  stage: test
  image: busybox
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  variables:
    GIT_STRATEGY: none
  script:
  - echo "Run this job to test the kit extensions."

create pypi wheels:
  stage: package
  image: $UV_TRIXIE_SLIM_IMAGE
  needs:
  - linux-aarch64 build
  - linux-x86_64 build
  - windows-x86_64 build
  - mac-aarch64 build
  before_script:
  - - .snippets
    - move-windows-binaries-to-platform-dir
  - - .snippets
    - move-macos-binaries-to-platform-dir
  script:
  ...

Combine duplicate GH-1486 kernel-creation changelog entries [GH-1486]
  CHANGELOG.md
Due: none

Deploy docs: latest
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Speed up Adjoint source extraction [GH-1486]
  asv/benchmarks/codegen/kernel_declaration.py
  warp/_src/codegen.py
  warp/_src/utils.py
  warp/tests/aux_test_extract_source_patterns.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.WarpCodegenAttributeError.html
  latest/api_reference/_generated/warp.WarpCodegenError.html
  latest/api_reference/_generated/warp.WarpCodegenIndexError.html
  latest/api_reference/_generated/warp.WarpCodegenKeyError.html
  latest/api_reference/_generated/warp.WarpCodegenTypeError.html
  latest/api_reference/_generated/warp.WarpCodegenValueError.html
Due: none

Clarify SASS source correlation options in profiling docs
  docs/deep_dive/profiling.rst
Due: none

Deploy docs: latest
  latest/_sources/deep_dive/profiling.rst.txt
  latest/deep_dive/profiling.html
  latest/searchindex.js
Due: none

Harden line directive filenames
  warp/_src/codegen.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Reject wp.grad local rebinding [GH-1487]
  CHANGELOG.md
  warp/_src/codegen.py
  warp/tests/test_codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix Tape scope end handling [GH-1515]
  CHANGELOG.md
  warp/_src/tape.py
  warp/tests/test_tape.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.Tape.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Validate struct array field assignments
  warp/_src/codegen.py
  warp/tests/test_struct.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Tighten warp.dll and warp-clang.dll version match check [GH-1508]
  CHANGELOG.md
  warp/_src/context.py
  warp/native/warp.cpp
  warp/tests/test_version.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fold kernel_dim inference into the reference walk [GH-1486]
  warp/_src/codegen.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix byte fill graph capture (GH-1525)
  CHANGELOG.md
  warp/native/warp.cu
  warp/tests/cuda/test_array_fill_capture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix LTO cache key collisions (GH-1511)
  CHANGELOG.md
  warp/_src/build.py
  warp/tests/test_kernel_cache.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Speed up Adjoint.get_references with an order-preserving iterative walk [GH-1486]
  warp/_src/codegen.py
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Report Clang CUDA compile errors (GH-1325)
  CHANGELOG.md
  warp/_src/build.py
  warp/tests/cuda/test_clang_cuda.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Deploy docs: latest
  latest/api_reference/_generated/warp.clear_kernel_cache.html
  latest/api_reference/_generated/warp.clear_lto_cache.html
  latest/searchindex.js
  latest/user_guide/changelog.html
Due: none

Document C++ and CUDA workflows
  docs/deep_dive/allocators.rst
  docs/deep_dive/codegen.rst
  docs/index.rst
  docs/user_guide/basics.rst
  docs/user_guide/cpp_cuda_workflows.rst
  docs/user_guide/debugging.rst
  docs/user_guide/differentiability.rst
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add CMake native build support
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
  docker/warp-builder/Dockerfile
  docs/user_guide/installation.rst
  tools/build/generate_exports_header.py
  tools/cmake/WarpDependencies.cmake
Due: linux-x86_64 test mujoco warp

Add optional CMake native build backend [GH-1495]
  .github/workflows/build-warp-builder-images.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  CMakeLists.txt
  docker/warp-builder/Dockerfile
  docs/user_guide/installation.rst
  tools/build/generate_exports_header.py
  tools/cmake/WarpDependencies.cmake
Due: linux-x86_64 test mujoco warp

Deploy docs: latest
  latest/_sources/user_guide/installation.rst.txt
  latest/searchindex.js
  latest/user_guide/changelog.html
  latest/user_guide/installation.html
Due: none

Allocate exact-size host arrays for ASan (GH-1513)
  CHANGELOG.md
  build_lib.py
  warp/native/warp.cpp
  warp/tests/test_sanitize.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add default member initializers to fix cppcheck 2.21 warnings
  warp/native/alloc_tracker.h
  warp/native/apic.cpp
  warp/native/bvh.h
  warp/native/cuda_util.h
  warp/native/hashgrid.h
  warp/native/noise.h
  warp/native/solid_angle.h
  warp/native/tile.h
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add level-of-detail (lod) texture creation and sampling support [GH-1409]
  CHANGELOG.md
  pyproject.toml
  warp/__init__.pyi
  warp/_src/builtins.py
  warp/_src/context.py
  warp/_src/texture.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/texture.cpp
  warp/native/texture.h
  warp/native/warp.h
  warp/tests/cuda/test_texture.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv, create pypi wheels

Relax mempool usage test
  warp/tests/cuda/test_mempool.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add deterministic execution mode for atomic operations
  CHANGELOG.md
  build_lib.py
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/config.py
  warp/native/deterministic.cpp
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/native/warp.h
  warp/tests/test_deterministic.py
  warp/tests/unittest_suites.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Fix deterministic launch edge cases
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Document deterministic options
  design/deterministic-execution.md
  warp/_src/context.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Add deterministic capture controls
  design/deterministic-execution.md
  warp/_src/codegen.py
  warp/_src/context.py
  warp/_src/deterministic.py
  warp/config.py
  warp/native/deterministic.cu
  warp/native/deterministic.h
  warp/tests/test_deterministic.py
Due: linux-x86_64 test mujoco warp, linux-x86_64 asv

Path conditions:
  linux-x86_64 test mujoco warp: any of: .gitlab-ci.yml, .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, asv/**/*, asv.conf.json, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  trigger kit extensions pipeline: any of: deps/kit-deps.packman.xml, exts/**/*
  create pypi wheels: any of: pyproject.toml, setup.py
