Repository NVIDIA/warp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Path conditions:
  linux-aarch64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  windows-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  mac-x86_64 test: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test minimal: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 test warp-init: any of: .gitlab/ci/*, warp/**/*, pyproject.toml, tools/**/*, deps/*, build_lib.py, build_llvm.py
  linux-x86_64 asv: any of: .gitlab-ci.yml, benchmarks/**/*, warp/**/*, pyproject.toml, deps/*, build_lib.py, build_llvm.py
  create pypi wheels: any of: pyproject.toml, setup.py

Add Probot: DCO settings
  .github/.dco.yml
Due: none

Simplify CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Bump version to 1.6.2
  CHANGELOG.md
  README.md
  VERSION.md
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add contact information for warp-python@nvidia.com
  README.md
  docs/faq.rst
  docs/index.rst
Due: none

Update project configuration
  pyproject.toml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Update copyright header in test example
  docs/modules/contribution_guide.rst
Due: none

Update version to 1.6.2
  CHANGELOG.md
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add fluid checkpoint example to gallery
  README.md
  docs/img/examples/optim_fluid_checkpoint.png
  docs/index.rst
Due: none

Fix changelog entry
  CHANGELOG.md
Due: none

Replace `select()` with `where()` in intersect and intersect_adj headers
  warp/native/intersect.h
  warp/native/intersect_adj.h
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update codegen use of wp.where()
  docs/codegen.rst
  warp/codegen.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Replace `select()` with `where()` across multiple modules
  docs/modules/functions.rst
  warp/builtins.py
  warp/examples/fem/example_apic_fluid.py
  warp/examples/fem/example_burgers.py
  warp/examples/fem/example_deformed_geometry.py
  warp/examples/fem/example_distortion_energy.py
  warp/examples/fem/example_magnetostatics.py
  warp/fem/adaptivity.py
  warp/fem/field/virtual.py
  warp/fem/geometry/adaptive_nanogrid.py
  warp/fem/geometry/grid_2d.py
  warp/fem/geometry/grid_3d.py
  warp/fem/geometry/hexmesh.py
  warp/fem/geometry/nanogrid.py
  warp/fem/geometry/quadmesh.py
  warp/fem/geometry/tetmesh.py
  warp/fem/geometry/trimesh.py
  warp/fem/integrate.py
  warp/fem/linalg.py
  warp/fem/quadrature/pic_quadrature.py
  warp/fem/space/basis_space.py
  warp/fem/space/hexmesh_function_space.py
  warp/fem/space/quadmesh_function_space.py
  warp/fem/space/shape/cube_shape_function.py
  warp/fem/space/shape/square_shape_function.py
  warp/fem/space/shape/triangle_shape_function.py
  warp/fem/space/tetmesh_function_space.py
  warp/fem/space/trimesh_function_space.py
  warp/fem/utils.py
  warp/native/array.h
  warp/native/builtin.h
  warp/optim/linear.py
  warp/sparse.py
  warp/stubs.py
  warp/tests/test_bool.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update documentation for `select()` and `where()` functions
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Deprecate (but not remove) wp.select()
  CHANGELOG.md
  docs/modules/functions.rst
  warp/builtins.py
  warp/stubs.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add fluid checkpoint example to CHANGELOG
  CHANGELOG.md
Due: none

Fix for wp.tile_matmul() on CPU devices
  docs/modules/functions.rst
  warp/builtins.py
  warp/examples/tile/example_tile_matmul.py
  warp/native/tile.h
  warp/native/warp.cu
  warp/stubs.py
  warp/tests/tile/test_tile.py
  warp/tests/tile/test_tile_mlp.py
  warp/tests/unittest_serial.py
  warp/thirdparty/unittest_parallel.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Detect if JAX is capturing a CUDA graph
  warp/jax_experimental/ffi.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add environment configuration for nightly wheel publishing
  .gitlab-ci.yml
Due: linux-x86_64 asv

Fix manylinux build and tagging (GH-571)
  .github/workflows/ci.yml
  .gitlab-ci.yml
  .gitlab/ci/additional-tests.yml
  .gitlab/ci/cuda-11-build-and-test.yml
  .gitlab/ci/debug-build-and-test.yml
  README.md
  docs/installation.rst
  setup.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Revert ci.yml to commit 658dd8d
  .github/workflows/ci.yml
Due: none

Add --no_libmathdx build_lib.py option (GH-572)
  build_lib.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Revert "Update CHANGELOG.md"
  CHANGELOG.md
Due: none

Update regex pattern in set_nightly_version.py
  tools/ci/publishing/set_nightly_version.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init

Determine default PTX architecture based on devices present in the system
  CHANGELOG.md
  warp/config.py
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

1D tile_broadcast()
  CHANGELOG.md
  docs/modules/functions.rst
  docs/modules/tiles.rst
  warp/builtins.py
  warp/native/tile.h
  warp/stubs.py
  warp/tests/tile/test_tile.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Use manylinux_2_28 for linux-x86_64 CUDA 12.8 builds
  .gitlab-ci.yml
  .gitlab/ci/debug-build-and-test.yml
  README.md
  docs/installation.rst
  setup.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv, create pypi wheels

Fixed the bug of access out of bounds when a BVH is too deep
  CHANGELOG.md
  warp/examples/assets/nonuniform.usd
  warp/native/bvh.cpp
  warp/native/bvh.cu
  warp/native/bvh.h
  warp/native/mesh.h
  warp/tests/geometry/test_mesh_query_point.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add explicitly defaulted default constructor to warp structs
  CHANGELOG.md
  warp/codegen.py
  warp/tests/tile/test_tile_reduce.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix typo in ValueError message
  warp/builtins.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Emit #line directives for Python/SASS correlation (GH-437)
  CHANGELOG.md
  docs/configuration.rst
  docs/img/nsight_compute_python_vs_sass.png
  docs/profiling.rst
  warp/codegen.py
  warp/config.py
  warp/context.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Fix for ModelBuilder.add_builder overwriting -1 vertex indices (GH-557)
  CHANGELOG.md
  warp/sim/model.py
  warp/tests/sim/test_model.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add GitHub release publishing step to CI configuration
  .gitlab-ci.yml
  .gitlab/ci/cuda-11-build-and-test.yml
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Add GitHub Actions workflow for creating draft releases
  .github/workflows/draft-release.yml
Due: none

Add Stream.is_complete, Event.is_complete (GH-435)
  CHANGELOG.md
  docs/modules/concurrency.rst
  warp/context.py
  warp/native/cuda_util.cpp
  warp/native/cuda_util.h
  warp/native/warp.cpp
  warp/native/warp.cu
  warp/native/warp.h
  warp/tests/cuda/test_streams.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Added bending force and damping to VBDIntegrator
  CHANGELOG.md
  warp/sim/integrator_vbd.py
  warp/sim/model.py
  warp/tests/sim/test_vbd.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv

Version bump for 1.7.0-rc.1
  CHANGELOG.md
  README.md
  VERSION.md
  asv/tag_commits.txt
  docs/installation.rst
  exts/omni.warp.core/config/extension.toml
  exts/omni.warp.core/docs/CHANGELOG.md
  exts/omni.warp/config/extension.toml
  exts/omni.warp/docs/CHANGELOG.md
  warp/config.py
Due: linux-aarch64 test, linux-x86_64 test, windows-x86_64 test, mac-x86_64 test, linux-x86_64 test minimal, linux-x86_64 test warp-init, linux-x86_64 asv
